@charset "UTF-8";

.detail-product .info .gallery .big{
        position: relative;
}
.product-item .img-box .stock-empty,
.detail-product .info .gallery .big .stock-empty{
        position: absolute;
        left: 0;
        bottom: 0;
        background: rgba(0,0,0,.7);
        color: #fff;
        text-transform: uppercase;
        font-family: 'NunitoSans-SemiBold';
        letter-spacing: 2px;
        padding: 10px 5px;
        width: 100%;
        display: block;
        z-index: 99;
        text-align: center;
}

.product-item .img-box .stock-empty{
        font-size: 9px;
        padding: 6px 5px 5px;
}

.popup-waitlist{
        position: fixed;
        top: -10px;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(0,0,0,.5);
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: all .2s ease-in;
        -moz-transition: all .2s ease-in;
        -o-transition: all .2s ease-in;
        -ms-transition: all .2s ease-in;
        transition: all .2s ease-in;
        z-index: 1;
}
.popup-waitlist .layer {
        max-width: 450px;
        width: 100%;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        background: #fff;
        position: relative;
        -moz-border-radius: 4px;
        -webkit-border-radius: 4px;
        border-radius: 4px;
        padding: 32px;
}

.popup-waitlist .layer .cls{
        display: block;
        position: absolute;
        right: -11px;
        top: -11px;
}
.popup-waitlist .layer .cls img{
        width: 32px;
        height: 32px;
}
.popup-waitlist .woocommerce_waitlist{
        width: 100%;
        text-align: center;
        margin-bottom: 0 !important;
}
.popup-waitlist .wcwl_notice_dismiss{
        display: none;
}
.popup-waitlist .wcwl_notice.woocommerce-message{
        margin: 0;
}
.popup-waitlist .wcwl_email_elements {
        margin-top: 10px;
}
body.open-waitlist .popup-waitlist {
        top: 0;
        visibility: visible;
        opacity: 1;
        z-index: 9999;
}
body.open-waitlist {
        height: 100vh;
        overflow: hidden;
}
.popup-waitlist h3{
        font-family: 'NunitoSans-Bold';
        margin-bottom: 10px;
}
.popup-waitlist .wait-product{
        margin-bottom: 15px;
}
.popup-waitlist .wait-product figure{
        display: inline-block;
        vertical-align: middle;
        width: 80px;
}
.popup-waitlist .wait-product .wcapt{
        width: calc(100% - 100px);
        padding-left: 20px;
        display: inline-block;
        vertical-align: middle;
}
.popup-waitlist .wait-product h4{
        font-family: 'NunitoSans-Bold';
        margin-bottom: 2px;
        line-height: 130%;
}
.popup-waitlist .wait-product strong{
        font-size: 12px;
}
#wcwl_my_waitlist {
        font-size: 20px;
        color: #22272b;
        margin: 0;
        padding: 0 0 5px;
        font-family: Lustria-Regular;
        line-height: 130%;
}

.waitlist-user-waitlist-wrapper .waitlist-products{
        display: flex;
        flex-wrap: wrap;
        margin: 20px -10px 0;
}
.waitlist-user-waitlist-wrapper .waitlist-products > *{
        flex: 20%;
        max-width: 20%;
        padding: 0 10px;
        margin: 0 0 30px;
        position: relative;
}
.waitlist-user-waitlist-wrapper .waitlist-products > * > a{
        display: flex;
        flex-wrap: wrap;
}
.waitlist-user-waitlist-wrapper .waitlist-products > * > a > *{
        flex: 100%;
        min-width: 100%;
}
.waitlist-user-waitlist-wrapper .waitlist-products > * > a > *{
        order: 1;
}
.waitlist-user-waitlist-wrapper .waitlist-products > * > a > *:first-child{
        order: 2;
}
.waitlist-user-waitlist-wrapper .waitlist-products .waitlist-thumbnail img{
        width: 100% !important;
        height: auto !important;
}
.waitlist-user-waitlist-wrapper .waitlist-products > * > p{
        position: absolute;
        right: 20px;
        top: 10px;
}
.waitlist-user-waitlist-wrapper .waitlist-products h4{
        color: #22262a;
        line-height: 130%;
        font-size: 14px;
        font-family: Lustria-Regular;
        margin: 10px 0 0;
}
.waitlist-user-waitlist-wrapper .waitlist-products h4:hover{
        color: #8aa385;
}
.waitlist-user-waitlist-wrapper .waitlist-products hr{
        display: none;
}

/** INNER MIRACULOUS **/
.inner-mrcs{
        padding: 70px 0 150px;
}
.inner-mrcs .format-text{
        text-align: center;
        margin-bottom: 55px;
}
.inner-mrcs  .wrap{
        margin-bottom: 60px;
}
.inner-mrcs .item{
        display: flex;
        flex-wrap: wrap;
        margin-top: 15px;
}
.inner-mrcs .item:first-child{
        margin: 0;
}
.inner-mrcs .item > *{
        flex: 1;
}
.inner-mrcs .item > figure{
        flex: 1.8;
        position: relative;
}
.inner-mrcs .item > figure:before{
        position: absolute;
        z-index: 2;
        width:60%;
        top: 0;
        right: 0;
        height: 100%;
        content: '';
        display: block;
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#29130e+0,29130e+100&0+0,1+100 */
        background: -moz-linear-gradient(left,  rgba(41,19,14,0) 0%, rgba(41,19,14,1) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left,  rgba(41,19,14,0) 0%,rgba(41,19,14,1) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right,  rgba(41,19,14,0) 0%,rgba(41,19,14,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0029130e', endColorstr='#29130e',GradientType=1 ); /* IE6-9 */
}
.inner-mrcs .item:nth-child(even) figure:before{
        /* Permalink - use to edit and share this gradient: https://colorzilla.com/gradient-editor/#29130e+0,29130e+100&1+0,0+100 */
        background: -moz-linear-gradient(left,  rgba(41,19,14,1) 0%, rgba(41,19,14,0) 100%); /* FF3.6-15 */
        background: -webkit-linear-gradient(left,  rgba(41,19,14,1) 0%,rgba(41,19,14,0) 100%); /* Chrome10-25,Safari5.1-6 */
        background: linear-gradient(to right,  rgba(41,19,14,1) 0%,rgba(41,19,14,0) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#29130e', endColorstr='#0029130e',GradientType=1 ); /* IE6-9 */
        right: auto;
        left: 0;
}
.inner-mrcs .item > figure img{
        display: none;
        vertical-align: top;
}
.inner-mrcs .item > figure span{
        position: absolute;
        display: block;
        width: 100%;
        height: 100%;
        z-index: 1;
        background-repeat: no-repeat;
        background-position: center top;
        background-attachment: scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
}
.inner-mrcs .item >  .caption{
        background: #29130e;
        padding: 60px 75px 60px 0;
        color: #fff;
}
.inner-mrcs .item:nth-child(even) figure{
        order: 2;
}
.inner-mrcs .item:nth-child(even) .caption{
        order: 1;
        padding: 60px 0 60px 75px;
}
.inner-mrcs .item .button.btn-white{
        color: #323232;
}
.inner-mrcs .item h2{
        font-family: 'Lustria-Regular';
        font-size: 30px;
        line-height: 130%;
        margin-bottom: 20px;
}
.inner-mrcs .item .txt{
        line-height: 160%;
        margin-bottom: 30px;
        font-size: 18px;
}
.page-template-page-miraculous .crumb{
        display: none;
}
.inner-mrcs .best-seller .rowflex{
        margin: 0 -15px 50px;
}
.inner-mrcs .best-seller .rowflex > *{
        padding: 0 15px;
}
.inner-checkout .order-data .summary table td .ship-disc{
        display: block;
        font-size: 12px;
        font-style: italic;
        line-height: 100%;
        padding-top: 5px;
        width: 150px;
}
.inner-checkout .payment .dotdio.blocky label span{
        width: calc(100% - 100px);
}
.inner-checkout .payment .dotdio.blocky label small:before{
        clear: both;
        display: block;
        width: 100%;
        height: 6px;
        content: '';
}
.inner-checkout .payment .dotdio.blocky label small{
        display: block;
        float: none;
        width: 100%;
        font-size: 11px;
        padding-left: 27px;
        word-wrap: break-word;
}
.inner-checkout .payment .dotdio.blocky label span small{
        padding: 0;
}
/** YOUR SKIN BAE **/
.inner-bae{
        overflow: hidden;       
}
.inner-bae .navi{
        padding: 15px 0;
        box-shadow: 0 4px 5px -2px rgba(30,30,30,.1);
        background: #fff;
        transition:top 0.2s ease-in;
        top: 0;
}
.inner-bae .is-sticky  .navi{
        z-index: 99 !important;
        top: 68px !important;
}
.has-popup + #body .inner-bae .is-sticky  .navi{
        top: 107px !important;
}
.inner-bae .navi p{
        font-size: 16px;
        color: #474747;
}
.inner-bae .navi .wrapper > a,
.inner-bae .navi .wrapper > p{
        float: left;
        position: relative;
        top: 11px;
        color: #474747;
}
.inner-bae .navi .action{
        float: right;
}
.inner-bae .navi .action > *{
        display: inline-block;
        vertical-align: middle;
}
.inner-bae .navi .action p{
        margin-right: 40px;
}
.inner-bae .intro{
        position: relative;
        padding: 200px 0 90px;
        margin-bottom: 140px;
}
.inner-bae .intro figure{
        display: block;
        position: absolute;
        left: 0;
        top:15%;
        width: 100%;
        text-align: center;
        z-index: 1;
        opacity: .3;
}
.inner-bae .intro figure .is-sticky .forstick{
        width: 100% !important;
        z-index: 9999 !important;
}
.inner-bae .intro figure img{
        vertical-align: top;
}
.inner-bae .intro .wrapper{
        position: relative;
        z-index: 1;
        text-align: center;
}
.inner-bae .intro h2{
        color: #474747;
        font-family: 'NunitoSans-Bold';
        line-height: 130%;
        margin: 0 0 5px;
        font-size: 32px;
}
.inner-bae .intro b{
        color: #474747;
        font-family: 'NunitoSans-SemiBold';
        letter-spacing: 17px;
        font-size: 16px;
        text-transform: uppercase;
}
.inner-bae .intro .format-text{
        max-width: 890px;
        margin: 30px auto 40px;
        line-height: 180%;
}
.inner-bae .theprod .emul a,
.inner-bae .intro a{
        color: #474747;
        font-size: 16px;
        text-transform: uppercase;
        text-decoration: underline;
}
.inner-bae .variant {
        margin-bottom: 130px;
}
.inner-bae .variant span{
        display: block;
        position: absolute;
        right: 0;
        top: 40%;
        color: #f6f6f6;
        font-family: 'NunitoSans-ExtraBold';
        font-size: 170px;
        line-height: 100%;
        letter-spacing: -1px;
}
.inner-bae .variant .item:first-child span{
        right: auto;
        left: 0;
}
.inner-bae .variant .item{
        text-align: left;
        position: relative;
}
.inner-bae .variant .item:first-child{
        text-align: right;
}
.inner-bae .variant .emul{
        position: relative;
        z-index: 2;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
}
.inner-bae .variant .emul figure{
        flex: 32%;
        max-width: 32%;
}
.inner-bae .variant .item:first-child figure{
        order: 2;
}
.inner-bae .variant .emul .caption{
        max-width: 62%;
        flex: 62%;
        position: relative;
        top: -115px;
}
.inner-bae .variant .item:first-child .caption{
        order: 1;
        top: 50px;
}
.inner-bae .variant .emul .format-text{
        max-width: 320px;
        display: inline-block;
}
.inner-bae .variant .emul b{
        display: block;
        color: #909090;
        line-height: 100%;
        font-size: 16px;
        text-transform: uppercase;
        margin-bottom:5px;
        font-family: 'NunitoSans-SemiBold';
}
.inner-bae .variant .emul h2{
        line-height: 120%;
        font-size: 24px;
        font-family: 'NunitoSans-Bold';
        color: #474747;
        margin: 0 0 7px;
}
.inner-bae .hentry{
        margin-bottom: 10px;
}
.inner-bae .hentry h2,
.inner-bae .hentry b{
        color: #474747;
        font-size: 32px;
        display: block;
        line-height: 100%;
        text-transform: uppercase;
}
.inner-bae .hentry h2{
        font-family: 'NunitoSans-Bold';
        margin: 1px 0 0;
}
.inner-bae .hero{
        margin-bottom: 100px;
}
.inner-bae .hero .rowflex{
        justify-content: space-between;
}
.inner-bae .hero .rowflex .item{
        max-width: 24%;
        flex: 24%;
        text-align: center;
}
.inner-bae .hero .item figure{
        margin-bottom: 40px;
}
.inner-bae .hero .item h3{
        text-transform: uppercase;
        margin: 0 0 8px;
        font-size: 18px;
}
.inner-bae .hero .item h3 a{
        color: #474747;
        text-transform: uppercase;
}
.inner-bae .hero .item p{
        max-width: 120px;
        margin: 0 auto 20px;
}
.inner-bae .btn-hollow.darker{
        color: #474747;
        border-color: #474747;
        padding: 13px 25px;
}
.inner-bae .btn-hollow.darker:hover{
        color: #fff;
        background: #474747;
        border-color: #474747;
}
.inner-bae .theprod {
        margin-bottom: 100px;
}
.inner-bae .theprod .slide-holder{
        position: relative;
}
.inner-bae .theprod .slide{
        display: none;
        opacity: 1;
        transition:opacity 0.2s ease-in;
}
.inner-bae .theprod .slide.active{
        display: block;
}
.inner-bae .theprod .stitle:not(.for-mobile){
        float: left;
        position: relative;
        top: 100px;
}
.inner-bae .theprod .stitle h3{
        color: #474747;
        font-size: 29px;
        text-transform: uppercase;
        font-family: 'NunitoSans-Bold';
        line-height: 130%;
        margin-bottom: 5px;
}
.inner-bae .theprod .stitle span{
        font-size: 16px;
        color: #909090;
}
.inner-bae .theprod .emul{
        float: right;
        width: 360px;
        text-align: center;
}
.inner-bae .theprod .emul figure{
        display: block;
        position: relative;
}
.inner-bae .theprod .emul .slidenav{
        position: absolute;
        left: 0;
        top: 70%;
        -ms-transform: translateY(-70%);
        -webkit-transform: translateY(-70%);
        transform: translateY(-70%);
        width: 100%;
}
.inner-bae .ingre .slidenav b,
.inner-bae .theprod .emul .slidenav b{
        display: block;
        background-repeat: no-repeat;
        background-position: center top;
        background-attachment: scroll;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
        width: 37px;
        height: 37px;
        transition:opacity 0.2s ease-in;
        opacity: 1;
        cursor: pointer;
}
.inner-bae .ingre .slidenav b:hover,
.inner-bae .theprod .emul .slidenav b:hover{
        opacity: .5;
}
.inner-bae .ingre .slidenav b.prev,
.inner-bae .theprod .emul .slidenav b.prev{
        float: left;
        background-image: url(../../img/icon/arrow-left.svg);
}
.inner-bae .ingre .slidenav b.next,
.inner-bae .theprod .emul .slidenav b.next{
        float: right;
        background-image: url(../../img/icon/arrow-right.svg);
}
.inner-bae .theprod .emul img{
        display: inline-block;
        max-width: 175px;
}
.inner-bae .theprod .emul .format-text{
        max-width: 300px;
        margin: 50px auto 40px;
        color: #707070;
}
.inner-bae .theprod .slide-dots:not(.for-mobile){
        position: absolute;
        left: 0;
        bottom: 0;
}
.inner-bae .theprod .stitle.for-mobile,
.inner-bae .theprod .slide-dots.for-mobile{
        display: none;
}
.inner-bae .theprod .slide-dots .nav{
        margin-bottom: 25px;
}
.inner-bae .theprod .slide-dots .nav a{
        display: inline-block;
        color: #e5e5e5;
        font-size: 16px;
        font-family: 'NunitoSans-SemiBold';
        text-transform: uppercase;
        position: relative;
        margin-left: 25px;
        padding-left: 25px;
}
.inner-bae .theprod .slide-dots .nav a.active{
        color: #909090;
}
.inner-bae .theprod .slide-dots .nav a:first-child{
        padding: 0;
        margin: 0;
}
.inner-bae .theprod .slide-dots .nav a:before{
        position: absolute;
        height: 30px;
        background: #909090;
        width: 2px;
        content: '';
        left: 0;
        top: -5px;
}
.inner-bae .theprod .slide-dots .nav a:first-child:before{
        display: none;
}
.inner-bae .theprod .slide-dots .dots{
        display: none;
        opacity: 1;
        transition:opacity 0.2s ease-in;
}
.inner-bae .theprod .slide-dots .dots.active{
        display: block;
}
.inner-bae .theprod .slide-dots .dots a{
        display: inline-block;
        vertical-align: middle;
        width: 46px;
        height: 46px;
        border: 2px solid #7f7f7f;
        border-radius: 50%;
        opacity: .3;
        transition:opacity 0.2s ease-in;
        margin-left: 30px;
}
.inner-bae .theprod .slide-dots .dots a:first-child{
        margin: 0;
}

.inner-bae .theprod .slide-dots .dots a.active{
        opacity: 1;
}
.inner-bae .ingre .caption .holder{
        position: relative;
        max-width: 420px;
}
.inner-bae .ingre .item{
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center;
}
.inner-bae .ingre .item > *{
        flex: 52%;
        max-width: 52%;
}
.inner-bae .ingre .item > .caption{
        flex: 45%;
        max-width: 45%;
}
.inner-bae .ingre .item > .caption h3{
        font-size: 32px;
        color: #474747;
        line-height: 130%;
        margin: 0 0 10px;
        font-family: 'NunitoSans-SemiBold';
}
.inner-bae .ingre .item .for-mobile{
        display: none;
}
.inner-bae .ingre .slidenav{
        width: 100px;
        position: absolute;
        left: 0;
        bottom: -130px;
}
.inner-bae .ingre{
        margin-bottom: 100px;
}
.inner-bae .benefit .hentry{
        margin-bottom: 80px;
}
.inner-bae .benefit img{
        width: 100%;
        vertical-align: top;
}
.inner-bae .benefit .img1{
        display: block;
        position: relative;
        margin-bottom: 90px;
}
.inner-bae .benefit .img1 h3{
        position: absolute;
        left: 0;
        top: 50%;
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        text-align: center;
        color: #fff;
        font-family: 'NunitoSans-Bold';
        text-align: center;
        text-shadow: 0 0 4px rgba(0,0,0,0.5);
        font-size: 26px;
        width: 100%;
}
.inner-bae .benefit .img3,
.inner-bae .benefit .img2{
        display:flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-items: center
}
.inner-bae .benefit .img2 figure{
        order: 1;
        flex: 44%;
        max-width: 44%;
}
.inner-bae .benefit .img2 h3{
        order: 2;
        flex: 49%;
        max-width: 49%;
        top: -150px;
}
.inner-bae .benefit .img2 h3,
.inner-bae .benefit .img3 h3{
        font-family: 'NunitoSans-Bold';
        font-size: 32px;
        color: #474747;
        line-height: 140%;
        position: relative;
}
.inner-bae .benefit .img3{
        position: relative;
        top: -230px;
        margin-bottom: -100px;
}
.inner-bae .benefit .img3 figure{
        order: 2;
        flex: 70%;
        max-width: 70%;
}
.inner-bae .benefit .img3 h3{
        order: 1;
        flex: 20%;
        max-width: 20%;
        top: 50px;
}
.inner-bae .function{
        margin-bottom: 50px;
}
.inner-bae .function .hentry{
        margin-bottom: 60px;
}
.inner-bae .function .item{
        text-align: center;
        max-width: 30%;
        flex: 30%;
        margin: 0 0 50px;
}
.inner-bae .function .item .format-text{
        font-size: 17px;
}
.inner-bae .function .item h3{
        font-size: 24px;
        color: #474747;
        line-height: 130%;
        margin: 30px 0 15px;
}
.inner-bae .effiacy {
        margin-bottom: 100px;
}
.inner-bae .effiacy .hentry{
        margin-bottom: 50px;
}
.inner-bae .person .format-text,
.inner-bae .effiacy .format-text{
        margin-top: 20px;
        max-width: 1000px;
}
.inner-bae .effiacy .proof{
        text-align: center;
        max-width: 720px;
        margin: 0 auto;
}
.inner-bae .effiacy .proof p{
        font-size: 16px;
        margin-bottom: 20px;
}
.inner-bae .effiacy .proof img{
        width: 100%;
        vertical-align: top;
}
.inner-bae .person{
        padding-bottom: 200px;
        position: relative;
}
.inner-bae .person.fetching:after{
        display: block;
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 99999;
        content: '';
        background: rgba(255,255,255,.5);
}
.inner-bae .person .hentry{
        margin-bottom: 70px;
}
.inner-bae .person .rowflex{
        justify-content: center;
}
.inner-bae .person .item{
        max-width: calc(28% - 20px);
        flex: calc(19% - 20px);
        text-align: center;
        margin: 0 10px 50px;
}
.inner-bae .person .item img{
        height: auto;
}
.inner-bae .person .item h3{
        color: #474747;
        font-size: 18px;
        font-family: 'NunitoSans-Bold';
        line-height: 130%;
        margin: 20px 0 8px;
}
.inner-bae .person .item h3 a{
        color: #474747;      
}
.inner-bae .hero .item h3 a:hover,
.inner-bae .person .item h3 a:hover{
        color: #8aa385;
}
.inner-bae .person .tricol{
        max-width: 770px;
        margin: 0 auto;
}
.inner-bae .person .centered{
        padding-top: 50px;
}
.inner-bae .person .cat-holder{
        text-align: center;
        margin-bottom: 50px;
}
.inner-bae .person .cat-holder .xwrap{
        display: inline-block;
}
.inner-bae .person .cat-holder a{
        color: #2e2e2e;
        font-size: 15px;
        opacity: .3;
        transition:opacity 0.2s ease-in;
        display: inline-block;
        vertical-align: middle;
        margin: 0 40px;
}
.inner-bae .person .cat-holder a.active,
.inner-bae .person .cat-holder a:hover{
        opacity: 1;
}
.inner-bae .person .cat-holder a.active{
        text-decoration: underline;
}
.detail-bae {
        padding-bottom: 300px;
}
.detail-bae .reason{
        text-align: center;
        margin-bottom: 90px;
        padding-top: 150px;
}
.detail-bae .reason .hentry{
        margin-bottom: 60px;
}
.detail-bae .reason b{
        margin-bottom: 10px;
}
.detail-bae .reason .format-text{
        margin: 25px 0 0 ;
}
.detail-bae .cta {
        padding-top: 30px;
}
.detail-bae .cta .holder{
        max-width: 890px;
        margin: 0 auto;
        border: 1px solid #474747;
        border-radius: 40px;
        padding: 35px;
        position: relative;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
}
.detail-bae .cta .fhalf{
        flex: 55%;
        max-width: 55%;
}
.detail-bae .cta .ahalf{
        flex: 38%;
        max-width: 38%;
        position: relative;
}
.detail-bae .cta p{
        font-size: 24px;
        line-height: 140%;
        color: #474747;
}
.detail-bae .cta a{
        bottom: 0;
        left: 0;
        position: absolute;
        color: #88a184;
        font-size: 25px;
        text-transform: uppercase;
        font-family: 'NunitoSans-Bold';
}
.wow{
        visibility: hidden;
        display: block;
}
.inner-bae .person .item figure{
        display: block;
        position: relative;
        text-align: center;
}
.inner-bae .person .item figure:before{
        position: absolute;
        left: 0;
        top: 0;
        width: 100%;
        height: 100%;
        content: '';
        display: block;
        background-color: rgba(148,161,151,.4);
        opacity: 0;
        visibility: hidden;
        -webkit-transition: all .2s ease-in;
        -moz-transition: all .2s ease-in;
        -o-transition: all .2s ease-in;
        -ms-transition: all .2s ease-in;
        transition: all .2s ease-in;
}
.inner-bae .person .item:hover figure:before{
        opacity: 1;
        visibility: visible;
}
.inner-bae .person .item .action{
        position: absolute;
        left: 0;
        bottom: 15px;
        width: 100%;
        opacity: 0;
        visibility: hidden;
        -webkit-transition: all .2s ease-in;
        -moz-transition: all .2s ease-in;
        -o-transition: all .2s ease-in;
        -ms-transition: all .2s ease-in;
        transition: all .2s ease-in;
}
.inner-bae .person .item .action a{
        display: inline-block;
        vertical-align: middle;
        width: 45px;
        height: 45px;
        margin: 0 7px;
        line-height: 45px;
        box-shadow: 0 2px 10px 0 rgba(0,0,0,.2);
        background-color: #8aa385;
        -moz-border-radius: 50%;
        -webkit-border-radius: 50%;
        border-radius: 50%;
        position: relative;
}
.inner-bae .person .item .action a:hover{
        background-color: #637b5e;
}
.inner-bae .person .item .action a i{
        display: inline-block;
        position: relative;
}
.inner-bae .person .item .action a.visit i{
        width: 23px;
        height: 14px;
        background: url(../../img/icon/item-eye.svg) no-repeat;
        top: 1px;
}
.inner-bae .person .item .action a.fetching i{
        opacity: 0;
}
.inner-bae .person .item .action a.add-to-cart i{
        width: 18px;
        height: 19px;
        background: url(../../img/icon/item-shopping-cart.svg) no-repeat;
        top: 4px;
}
.inner-bae .person .item .action a.add-to-wish i{
        width: 23px;
        height: 23px;
        background: url(../../img/icon/item-like.svg) no-repeat;
        top: 7px;
}
.inner-bae .person .item .action a.add-to-wish.onlist i{
        background: url(../../img/icon/item-like-fill.svg) no-repeat;
}
.inner-bae .person .item .action a.fetching:before {
        display: block;
        position: absolute;
        left: calc(50% - 10px);
        top: calc(50% - 10px);
        content: '';
        width: 20px;
        height: 20px;
        border-radius: 50%;
        border: 2px solid #fff;
        border-color: #fff transparent;
        animation: loading-dual-ring 1.2s linear infinite;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
}
.inner-bae .person .item:hover .action {
        opacity: 1;
        visibility: visible;
        bottom: 25px;
}
.inner-bae .person .item .stock-empty{
        position: absolute;
        left: 0;
        bottom: 0;
        background: rgba(0,0,0,.7);
        color: #fff;
        text-transform: uppercase;
        font-family: 'NunitoSans-SemiBold';
        letter-spacing: 2px;
        padding: 10px 5px;
        width: 100%;
        display: block;
        z-index: 99;
        text-align: center;
        font-size: 9px;
        padding: 6px 5px 5px;
}
.inner-bae .person .item .disc {
        position: absolute;
        left: 0;
        top: 0;
        display: inline-block;
        height: 35px;
        padding: 0 13px 0 10px;
        -moz-border-radius: 0 25px 25px 0;
        -webkit-border-radius: 0 25px 25px 0;
        border-radius: 0 25px 25px 0;
        background: #8aa385;
        line-height: 35px;
        color: #fff;
        font-size: 14px;
        text-transform: uppercase;
}
.detail-product.hide-price .info .nominal,
.product-item.hide-price .price{
        display: none !important;
}
.inner-home .hero.unloaded{
        height: 555px;
        overflow: hidden;
}
/** INNER THANK **/
.popup-order .payment-channel + .amount,
.inner-thank .payment-channel + .amount{
        margin: 30px 0;
}
.popup-order .payment-channel figcaption,
.inner-thank .payment-channel figcaption{
        color: #22272b;
        font-size: 20px;
        font-family: NunitoSans-ExtraBold;        
        text-align: center;
        margin: 0 15px;
}
.popup-order .payment-channel figure > *,
.inner-thank .payment-channel figure > *{
        display: inline-block;
        vertical-align: middle;
}
.popup-order  .copy-input a,
.inner-thank .copy-input a{
        color: #22272b;
        font-size: 14px;
        font-family: 'NunitoSans-SemiBold';
}
.popup-order .copy-input a i,
.inner-thank .copy-input a i{
        display: inline-block;
        vertical-align: middle;
        position: relative;
        margin-right: 5px;
        top: -2px;
}
.popup-order  .copy-input a:hover,
.inner-thank .copy-input a:hover{
        text-decoration: underline;
}
.wrapins {
        padding-top: 10px;
}
.wrapins .accord-item{
        text-align: left;
}
.wrapins .accord-item:last-child{
        padding: 0;
        margin: 0;
        border: none;
}

@media (max-width: 1259px) {
        .inner-mrcs .item > figure{
                flex: 1.2;
        }
}

@media (max-width: 991px) {
        .page-template-page-miraculous .crumb{
                display: block;
        }
        .inner-mrcs{
                padding: 50px 0 150px;
        }
        .inner-bae .benefit .img3 h3{
                top: 100px;
        }
        .inner-bae .benefit .img3 h3 br{
                display: none;
        }
        .inner-bae .is-sticky .navi{
                top: 49px !important;
        }
        .has-popup + #body .inner-bae .is-sticky .navi {
                top: 85px !important;
        }
}
@media (max-width: 768px) {
        .inner-mrcs .item,
        .inner-mrcs .item > figure img{
                display: block;
        }
        .inner-mrcs .item > figure:before,
        .inner-mrcs .item > figure span{
                display: none;
        }
        .inner-mrcs .item:nth-child(even) .caption,
        .inner-mrcs .item > .caption{
                order: 2;
                padding: 30px 30px 40px;
                text-align: center;
        }
        .inner-mrcs .item > .caption h2{
                font-size: 20px;
        }
        .inner-mrcs .item > .caption .txt{
                font-size: 14px;
                max-width: 500px;
                margin: 0 auto 30px;
        }
        .inner-mrcs .item  .item{
                margin-top: 50px;
        }
        .inner-mrcs .item  .item:first-child{
                margin: 0;
        }
        .inner-mrcs .best-seller .rowflex{
                margin: 0 -5px;
        }
        .inner-mrcs .best-seller .rowflex .product-item{
                flex: 50%;
                margin-bottom: 30px;
                padding: 0 5px;
        }
        .inner-bae .variant,
        .inner-bae .navi{
                margin-bottom: 50px;
        }
        .inner-bae .navi .action p{
                margin-right: 15px;
        }
        .inner-bae .navi .action .button.btn-hollow{
                padding: 6px 20px 5px;
        }
        .inner-bae .navi .wrapper > a,
        .inner-bae .navi .wrapper > p{
                top: 5px;
        }
        .inner-bae .intro h2{
                font-size: 23px;
        }
        .inner-bae .intro b{
                font-size: 11px;
                letter-spacing: 12px;
        }
        .inner-bae .theprod .emul a, .inner-bae .intro a{
                font-size: 13px;
        }
        .inner-bae .intro .format-text{
                max-width: 320px;
                margin: 25px auto 40px;
        }
        .inner-bae .intro figure{
                opacity: .1;
        }
        .inner-bae .variant span{
                display: none;
        }
        .inner-bae .variant .item{
                flex: 100%;
                min-width: 100%;
        }
        .inner-bae .variant .item,
        .inner-bae .variant .item:first-child{
                text-align: left;
                margin-top: 50px;
        }
         .inner-bae .variant .item figure{
                order: 2;
                max-width: 25%;
                flex: 25%;
         }
        .inner-bae .variant .item:first-child{margin: 0;}
        .inner-bae .variant .item.caption,
        .inner-bae .variant .item:first-child figure{
                order:1;
        }
        .inner-bae .variant .item:first-child .caption{
                order: 2;
                top: 20px;
        }
        .inner-bae .variant .emul .caption{
                top: 0;
        }
        .inner-bae .variant .emul .caption{
                max-width: 67%;
                flex: 67%;
        }
        .inner-bae .intro{
                margin-bottom: 30px;
        }
        .inner-bae .variant .emul b{
                font-size: 13px;
        }
        .inner-bae .variant .emul h2{
                font-size: 21px;
                font-family: 'NunitoSans-Regular';
        }
        .inner-bae .variant .emul{
                padding: 0 20px;
        }
        .inner-bae .person .item,
        .inner-bae .hero .rowflex .item{
                max-width: calc(48% - 20px) !important;
                flex: calc(48% - 20px) !important;
                margin-bottom: 50px;
        }
        .inner-bae .hentry h2, .inner-bae .hentry b{
                font-size: 24px;
        }
        .inner-bae .hero .item h3{
                font-size:16px;
        }
        .inner-bae .hero .item figure{
                margin-bottom: 20px;
        }
        .inner-bae .theprod .stitle{
                display: none;
        }
        .inner-bae .theprod .emul{
                float: none;
                margin: 0 auto;
        }
        .inner-bae .theprod,
        .inner-bae .theprod .hentry{
                margin-bottom: 50px;
        }
        .inner-bae .theprod .emul img{
                max-width: 100px;
        }
        .inner-bae .theprod .slide-dots{
                display: none;
        }
        .inner-bae .theprod .slide-dots.for-mobile{
                text-align: center;
                display: block;
        }
        .inner-bae .theprod .slide-dots .nav{
                display: block;
                margin-bottom: 30px;
        }
        .inner-bae .theprod .slide-dots .nav a:before {
                height: 19px;
                left: -2px;
                top: 1px;
        }
        .inner-bae .theprod .stitle.for-mobile{
                display: block;
                text-align: center;
                margin: 17px 0;
        }
        .inner-bae .theprod .stitle h3{
                font-size: 19px;
        }
        .inner-bae .theprod .emul .format-text{
                margin-top: 0;
                margin-bottom: 30px;
        }
        .inner-bae .theprod .slide-dots .dots a:first-child,
        .inner-bae .theprod .slide-dots .dots a{
                width: 22px;
                height: 22px;
                border-width: 1px;
                margin: 0 6px;
                border-color: rgba(0,0,0,0);
        }
        .inner-bae .theprod .slide-dots .dots a.active:first-child,
        .inner-bae .theprod .slide-dots .dots a.active{
                border-color: #7f7f7f;
        }
        .inner-bae .theprod .slide-dots.dots-mobile{
                margin-bottom: 20px;
        }
        .inner-bae .ingre .item .for-desktop{
                display: none;
        }
        .inner-bae .ingre .item .for-mobile{
                display: block;
                max-width: 280px;
                margin: 0 auto;
        }
        .inner-bae .ingre .item > .caption,
        .inner-bae .ingre .item > *{
                flex: 100%;
                max-width: 100%;
        }
        .inner-bae .ingre .item > .caption{
                max-width: 280px;
                margin: 30px auto 0;
                position: static;
        }
        .inner-bae .ingre .slide{
                width: calc(100% - 60px);
                margin: 0 auto;
                text-align: center;
        }
        .inner-bae .ingre .item > .caption h3{
                font-size: 21px;
        }
        .inner-bae .ingre .slidenav{
                bottom: auto;
                top: 22%;
                -ms-transform: translateY(-22%);
                -webkit-transform: translateY(-22%);
                transform: translateY(-22%);
                width: 100%;
        }
        .inner-bae .ingre .item{
                position: relative;
        }
        .inner-bae .ingre .caption .holder{
                position: static;
        }
        .inner-bae .person .hentry{
                margin-bottom: 30px;
        }
        .inner-bae .effiacy{
                margin-bottom: 70px;
        }
        .inner-bae .function,
        .inner-bae .function .hentry,
        .inner-bae .ingre,
        .inner-bae .benefit .hentry,
        .inner-bae .ingre .hentry{
                margin-bottom: 50px;
        }
        .inner-bae .benefit .img1 h3{
                font-size: 14px;
        }
        .inner-bae .benefit .img2 h3 br, .inner-bae .benefit .img3 h3 br{
                display: none;
        }
        .inner-bae .benefit .img2 h3, .inner-bae .benefit .img3 h3{
                font-size: 16px;
                line-height: 120%;
        }
        .inner-bae .benefit .img1{
                margin-bottom: 35px;
        }
        .inner-bae .benefit .img3 {
                top: -70px;
                margin-bottom: 30px;
        }
        .inner-bae .benefit .img2 h3{
                top: -60px;
        }
        .inner-bae .benefit .img3 h3{
                top: 50px;
        }
        .inner-bae .benefit .img3 figure{
                flex: 65%;
                max-width: 65%;
        }
        .inner-bae .benefit .img3 h3{
                flex:30%;
                max-width: 30%;
        }
        .inner-bae .function .item{
                max-width: 100%;
                flex: 100%;
                margin: 0 0 50px;
        }
        .inner-bae .function .item .format-text{
                font-size: 16px;
                max-width: 300px;
                margin: 0 auto;
        }
        .inner-bae .function .item img{
                max-width: 70px;      
        }
        .inner-bae .function .item h3{
                margin: 20px 0 12px;
        }
        .inner-bae .effiacy .proof p{
                font-size: 14px;
                text-align: left;
        }
        .inner-bae .person .centered {
                padding-top: 30px;
        }
        .detail-bae .reason img{
                max-width: 200px;
        }
        .detail-bae .reason .format-text br{
                display: none;
        }
        .detail-bae .cta .fhalf,
        .detail-bae .cta .ahalf{
                max-width: 100%;
                flex: 100%;
        }
        .detail-bae .cta .ahalf{
                text-align: center;
                margin: 15px 0 0;
        }
        .detail-bae .cta p{
                font-size: 16px;
                margin-bottom: 15px;
        }
        .detail-bae .cta a{
                position: relative;
                left: auto;
                bottom: 0;
                font-size: 16px;
        }
        .detail-bae .cta .holder{
                padding: 25px;
                border-radius: 15px;
        }
        .detail-bae{
                padding-bottom: 200px;
        }
        .detail-bae .cta{
                padding: 0;
        }
        .detail-bae .reason{
                padding-top: 70px;
        }
        .inner-bae .intro figure .is-sticky .forstick{
                position: relative !important;
                top: auto !important;
                left: auto !important;
        }
        .inner-bae .person .cat-holder{
                margin-right: -15px;
                overflow-x: scroll;
                text-align: left;
                position: relative;
                margin-bottom: 30px;
                padding-bottom: 20px;
        }
        .inner-bae .person .catstuff{
                display: block;
                width: calc(100% + 15px);
                position: relative;
        }
        .inner-bae .person .catstuff:after{
                display: block;
                position: absolute;
                left: 0;
                bottom: 0;
                width: 100%;
                height: 20px;
                z-index: 99;
                content: '';
                background: #fff;
        }
        .inner-bae .person .cat-holder .xwrap{
                width: 1000vw;
        }
        .inner-bae .person .cat-holder a{
                font-size: 16px;
                margin: 0 12px;
        }
        .inner-bae .person .item .action a {
                width: 30px;
                height: 30px;
                line-height: 30px;
                margin: 0 1px;
        }
        .inner-bae .person .item .action a i{
                    transform: scale(.7,.7);
        }
        .inner-bae .person .item .action a.add-to-wish i{
                top: 4px;
        }
}
@media (max-width: 480px) {
        .popup-waitlist{
                padding: 0 15px;
        }
        .popup-waitlist .layer{
                padding: 22px 16px;
        }
        .inner-bae .intro{
                padding: 60px 0;
        }
        .inner-bae .theprod .emul{
                width: 100%;
        }
        .inner-bae .ingre .item .for-mobile{
                max-width: 210px;
        }
        .inner-bae .ingre .slidenav b, .inner-bae .theprod .emul .slidenav b{
                width: 30px;
                height: 30px;
        }
        .inner-bae .ingre .slide {
                width: calc(100% - 30px);
        }
        .inner-bae .benefit .img2 h3{
                top: -40px;
        }
        .inner-bae .benefit .img3 h3{
                top: 30px;
        }
        .has-popup + #body .inner-bae .is-sticky .navi {
                top: 101px !important;
        }
        .inner-home .hero.unloaded{
                height: 300px;
        }
        .inner-home .hero img{
                width: 100%;
        }
}
