@charset "UTF-8";
/* CSS Document */
.clear{clear: both;display: block;height: 0;width: 100%;float: none !important;}
 input::-moz-focus-inner /*Remove button padding in FF*/{ border: 0;padding: 0;}
a{text-decoration: none;outline: 0 !important;}
a:hover{color: inherit;text-decoration: none;}
img{max-width: 100%;}
*:focus ,
textarea,
input,
textarea:focus, input:focus{
	outline: none;
	border-radius: 0;
}
input::placeholder{ 
	color: rgba(34, 39, 43, 0.7);
	opacity: 1;
}
::-moz-placeholder {
	opacity: 1;
}
body{
        background: #fff;
        color: #616767;
	font-size: 14px;
	font-family: 'NunitoSans-Regular', 'Arial', 'Helvetica';
	letter-spacing: 0.5px;
}
body.open-order,
body.open-search,
body.open-menuside,
body.open-password,
body.open-newsletter,
body.open-review,
body.open-cred,
body.open-cart{
	height: 100vh;
	overflow: hidden;
}
.wrapper{
	max-width: 1200px;
	width: 100%;
	margin: 0 auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.rowflex{
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}
.rowflex > *{
	flex: 1;
}
.switch.rowflex > *{
	order:1;
}
.switch.rowflex > *:first-child{
	order: 2;
}
/** GENERIC  ELEMENT **/
.popup-newsletter .form-basic .button,
.button{
	display: inline-block;
	color: #fff;
	background-image: linear-gradient(to right, #9caa86, #8aa385);
	font-family: 'NunitoSans-Bold';
	text-transform: uppercase;
	padding: 13px 35px;
	-moz-border-radius: 23px ;
	-webkit-border-radius: 23px ;
	border-radius: 23px ;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	text-align: center;
	cursor: pointer;
	border: none;
	letter-spacing: normal;
	outline: none !important;
}
.button.has-loading.fetching{
	background-image: linear-gradient(to right, #9caa86, #8aa385) !important;
}
.button.disabled:hover,
.button.disabled{
	cursor: default;
	background-image: linear-gradient(to right, #9caa86, #8aa385);
}
.button.slimy{
	font-family: 'NunitoSans-SemiBold';
}
.button:active,
.button:focus{
	-moz-border-radius: 23px ;
	-webkit-border-radius: 23px ;
	border-radius: 23px ;
}
.button.btn-fullwidth{
	display: block;
	width: 100%;
}
.button.btn-hollow{
	background: none;
	border: 1px solid #8aa385;
	color: #8aa385;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
        padding-top: 12px;
        padding-bottom: 11px;
}
.popup-newsletter .form-basic .button:hover,
.button.btn-hollow:hover,
.button:hover{
	color: #fff;
	background-image: linear-gradient(to right, #8f9f77, #74926d);
}
.button.btn-white{
	background: #fff;
	color: #8aa385;
}
.button.btn-white:hover{
	background: #fbfbfb;
	color: #8aa385;
}
.button.btn-pink{
	background-image: linear-gradient(to right, #e6a2b3, #deaea4);
	color: #fff;
}
.button.btn-pink:hover{
	background: #dc7c95;
	color: #fff;
}
.button.btn-orange{
	background: #ecc668;
}
.button.btn-orange:hover{
	background: #e7b33a;
}
.button.btn-eye{
	font-family: 'NunitoSans-SemiBold';
	font-size: 10px;
	position: relative;
	padding: 8px 12px 8px 30px;
}
.button.btn-eye:before{
	display: block;
	position: absolute;
	left: 10px;
	top: 50%;
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	content: '';
	width: 15px;
	height: 10px;
	background: url(../img/icon/eye-green.svg) no-repeat;
}
.button.btn-eye:hover:before{
	background: url(../img/icon/eye-white.svg) no-repeat;
}
.button.has-icon > *{
	display: inline-block;
        vertical-align: middle;
        line-height: 100%;
}
.button.has-icon i{
        font-size: 20px;
        padding: 0;
        position: relative;
        top: -2px;
        margin-right: 7px;
}
.button.has-loading{
	position: relative;
	overflow: hidden;
}
.button.has-loading.fetching{
	color: rgba(0,0,0,0);
	cursor: default;
}
.button.has-loading:before{
	display: none;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,.8);
	content: '';
	z-index: 1;
}
.button.has-loading:after{
	display: none;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	left: calc(50% - 8px);
	width: 16px;
	height: 11px;
	background: url(../img/loading.gif) no-repeat;
	content: '';
	z-index: 2;
}
.button.has-loading.fetching:after,
.button.has-loading.fetching:before{
	display: block;
}
.btn-hide{
	display: none !important;
}
.rate{
	text-align: center;
}
.rate > *{
	display: inline-block;
	vertical-align: middle;
	color: #efce4a;
	margin: 0 1px;
}
.rate.min4 > *:nth-child(5),
.rate.min4 > *:nth-child(4),
.rate.min4 > *:nth-child(3),
.rate.min4 > *:nth-child(2),
.rate.min3 > *:nth-child(5),
.rate.min3 > *:nth-child(4),
.rate.min3 > *:nth-child(3),
.rate.min2 > *:nth-child(5),
.rate.min2 > *:nth-child(4),
.rate.min1 > *:last-child{
	color: #dddddd;
}
.menu-layer,
.cart-layer{
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	z-index: 888;
	background: rgba(0,0,0,.6);
	opacity: 0;
	visibility: hidden;
	-webkit-transition:all 0.2s ease-in;
	-moz-transition:all 0.2s ease-in;
	-o-transition:all 0.2s ease-in;
	-ms-transition:all 0.2s ease-in;
	transition:all 0.2s ease-in;
}
body.open-menuside .menu-layer,
body.open-cart .cart-layer{
	opacity: 1;
	visibility: visible;
}
.menu-sidebar,
.cart-sidebar{
	position: fixed;
	top: 0;
	right: -335px;
	width: 335px;
	height: 100%;
	z-index: 999;
	background: #fff;
	padding: 24px 24px 230px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	opacity: 0;
	visibility: hidden;
	-webkit-transition:all 0.2s ease-in;
	-moz-transition:all 0.2s ease-in;
	-o-transition:all 0.2s ease-in;
	-ms-transition:all 0.2s ease-in;
	transition:all 0.2s ease-in;
	overflow-y: scroll;
}
.menu-sidebar{
	right: auto;
	left: -270px;
	width: 270px;
	padding: 0;
	overflow: hidden;
}
body.open-menuside .menu-sidebar,
body.open-cart .cart-sidebar{
	right: 0;
	opacity: 1;
	visibility: visible;
}
body.open-menuside .menu-sidebar{
	left: 0;
	right: auto;
}
.cart-sidebar h3{
	display: block;
	position: relative;
	color: #22272b;
	font-size: 16px;
	font-family: 'NunitoSans-Bold';
	margin-bottom: 5px;
	padding-bottom: 16px;
	border-bottom: 1px solid #eeeeee;
}
.cart-sidebar h3 a{
	width: 15px;
	height: 15px;
	background: url(../img/icon/close-green.svg) no-repeat;
	display: block;
	position: absolute;
	right: 0;
	top: 3px;
}
.cart-sidebar .item{
	padding-bottom: 16px;
	margin-bottom: 16px;
	border-bottom: 1px solid #eeeeee;
	position: relative;
}
.cart-sidebar .item.fetching{
	opacity: .5;
}
.cart-sidebar .item figure{
	display: inline-block;
	vertical-align: middle;
	width: 83px;
}
.cart-sidebar .item figure img{
	width: 100%;
	vertical-align: top;
}
.cart-sidebar .item .caption{
	display: inline-block;
	vertical-align: middle;
	width: calc(100% - 83px);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 20px 0 15px;
}
.cart-sidebar .item h4{
	font-family: 'Lustria-Regular';
	color: #22262a;
	line-height: 140%;
	margin-bottom: 5px;
}
.cart-sidebar .item h4 a{
	color: #22262a;
}
.cart-sidebar .item h4 a:hover{
	color: #89a284;
}
.cart-sidebar .item span{
	color: #89a284;
}
.cart-sidebar .item span b{
	font-family: 'NunitoSans-Bold';
}
.cart-sidebar .item .rmv{
	position: absolute;
	right: 0;
	top: 9px;
	width: 16px;
	height: 16px;
	background: url(../img/icon/close-circle-green.svg) no-repeat;
	display: block;
}
.cart-sidebar .info{
	position: fixed;
	background: #fff;
	width: 335px;
	bottom: 0;
	right: -335px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 24px;
	-webkit-transition:right 0.2s ease-in;
	-moz-transition:right 0.2s ease-in;
	-o-transition:right 0.2s ease-in;
	-ms-transition:right 0.2s ease-in;
	transition:right 0.2s ease-in;
}
.open-cart .cart-sidebar .info{
	right: 0;
}
.cart-sidebar .info .subtotal {
	padding-bottom: 16px;
	margin-bottom: 16px;
	border-bottom: 1px solid #eeeeee;
}
.cart-sidebar .info .subtotal > span{
	float: left;
	color: #22262a;
	font-family: 'Lustria-Regular';
}
.cart-sidebar .info .subtotal > strong{
	float: right;
	color: #89a284;
	font-family: 'NunitoSans-Bold';
}
.cart-sidebar .info .action .button{
	margin-top: 12px;
}
.cart-sidebar .info .action .button:first-child{
	margin: 0;
}
.crumb{
	background: #94a197;
	padding: 18px 0;
}
.crumb .wrapper > *{
	display: inline-block;
	vertical-align: middle;
	color: #fff;
}
.crumb .wrapper a:hover{
	text-decoration: underline;
}
.crumb .wrapper i{
	margin: 0 12px;
}
.crumb .wrapper span{
	font-family: 'NunitoSans-Bold';
}
.the-title{
	color: #22272b;
	font-size: 30px;
	font-family: 'Lustria-Regular';
	line-height: 140%;
	margin-bottom: 20px;
	text-align: center;
}
.format-text{
	line-height: 160%;
	font-size: 15px;
	letter-spacing: normal;
}
.format-text > *{
	margin-top: 17px;
}
.format-text > *:first-child{
	margin-top: 0;
}
.format-text h1 + *,
.format-text h2 + *,
.format-text h3 + *,
.format-text h4 + *,
.format-text h5 + *,
.format-text h6 + *{
	margin-top: 13px;
}
.format-text b,
.format-text strong{
	font-family: 'NunitoSans-Bold';
}
.format-text em,
.format-text i{
	font-family: 'NunitoSans-Italic';
}
.format-text h1,
.format-text h2,
.format-text h3,
.format-text h4,
.format-text h5,
.format-text h6{
	color: #616767;
	font-family: 'NunitoSans-Bold';
	line-height: 140%;
}
.format-text h1{
	font-size: 28px;
}
.format-text h2{
	font-size: 20px;
}
.format-text h3{
	font-size: 15px;
}
.format-text h4{
	font-size: 13px;
}
.format-text h5{
	font-size: 11px;
}
.format-text h6{
	font-size: 9px;
}
.format-text a{
	color: #8aa385;
	font-family: 'NunitoSans-Bold';
}
.format-text a:hover{
	text-decoration: underline;
}
.format-text ul{
	list-style: disc;
	padding-left: 20px;
}
.format-text ul li,
.format-text ol li{
	padding-bottom: 17px;
}
.format-text ul li:first-child,
.format-text ol li:last-child{
	padding-bottom: 0;
}
.format-text ol{
	counter-reset: item;
	padding-left: 1px;
}
.format-text ol ol{
	padding-top: 15px;
}
.format-text ol li{
	list-style-type: none;
	counter-increment: item;
	position: relative;
	padding-left: 20px;
}
.format-text ol li:before{
	display: inline-block;
	padding: 0;
	font-weight: bold;
	text-align: right;
	content: counter(item) ".";
	position: absolute;
	left: 0;
	top: 0;
}
.format-text ol ol li:before{
	content: counter(item, lower-alpha) ".";
}
.format-text.nudge-left{
	max-width: 790px;
	margin-left: 100px;
}
.format-text sup{
	color: #d90000;
	position: relative;
	top: 0;
	line-height: 100%;
}
.optin{
	position: relative;
	top: -56px;
	z-index: 3;
}
.optin .layer{
	max-width: 960px;
	margin: 0 auto;
	background: #88a184;
	-moz-border-radius: 4px ;
	-webkit-border-radius: 4px ;
	border-radius: 4px ;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
	padding: 23px 30px;
	align-items: center;
}
.optin .caption{
	color: #fff;
	font-size: 15px;
	padding-right: 10px;
}
.optin h2{
	font-family: 'Lustria-Regular';
	font-size: 30px;
	line-height: 130%;
	margin-bottom: 10px;
}
.optin form input[type="email"]{
	height: 46px;
	background: rgba(255,255,255,.12);
	padding: 0 17px;
	font-size: 14px;
	color: #fff;
	font-family: 'NunitoSans-Regular';
	border: none;
	-moz-border-radius: 2px ;
	-webkit-border-radius: 2px ;
	border-radius: 2px ;
	width: 280px;
	margin-right: 10px;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}
.optin form input[type="email"]::placeholder{
	color: #fff;
	opacity: 1;
}
.widget-title{
	font-family: 'Lustria-Regular';
	color: #88a184;
	font-size: 22px;
	line-height: 140%;
	margin-bottom: 10px;
}
.sidebar .widget-title{
	font-size: 20px;
	color: #22272b;
	position: relative;
	margin-bottom: 15px;
}
.sidebar .widget-title:after{
	display: block;
	width: 70px;
	height: 3px;
	background: #8aa385;
	content: '';
	margin-top: 10px;
}
.sidebar .widget {
	margin-top: 40px;
}
.sidebar .widget:first-child{
	margin: 0;
}
.widget li{
	display: block;
	margin-top: 10px;
	position: relative;
}
.widget li:first-child{
	margin: 0;
}
.widget_product_categories li span,
.widget_categories li span,
.widget li a{
	color: #606666;
	font-size: 16px;
}
.widget_product_categories li:hover span,
.widget_categories li:hover span,
.widget li a:hover{
	color: #88a184;
	font-family: 'NunitoSans-Bold';
}
.widget_product_categories li span,
.widget_categories li span{
	position: absolute;
	right: 0;
	top: 1px;
}
.section-title{
	margin-bottom: 40px;
}
.section-title.centered{
	text-align: center;
}
.section-title .pusher{
	max-width: 755px;
	margin: 0 auto;
}
.section-title p{
	line-height: 160%;
	font-size: 15px;
}
.section-title p a{
	color: #616767;
}
.section-title p a:hover{
	text-decoration: underline;
}
.white-txt.section-title p a{
	color: #fff;
}
.line-title{
	color: #22272b;
	font-size: 30px;
	margin-bottom: 20px;
	position: relative;
	font-family: 'Lustria-Regular';
}
.line-title:after{
	margin-top: 15px;
	height: 3px;
	background: #8aa385;
	width: 70px;
	display: block;
	content: '';
}
.line-title.pink:after{
	background: #e6a2b3;
}
.line-title b,
.line-title strong{
	font-family: 'NunitoSans-ExtraBold';
	text-transform: uppercase;
}
.white-txt .line-title{
	color: #fff;
}
.white-txt .line-title:after{
	background: #fff;
}
.centered .line-title:after{
	margin: 15px auto 0;
}
.calc{
	padding: 11px;
	background: #f9f9f9;
	-moz-border-radius: 2px ;
	-webkit-border-radius: 2px ;
	border-radius: 2px ;
	text-align: center;
}
.calc.calc-hollow{
	background: transparent;
	border: 1px solid #ccc;
	-moz-border-radius: 30px ;
	-webkit-border-radius: 30px ;
	border-radius: 30px ;
	padding: 0;
}
.calc > *{
	display: inline-block;
	vertical-align: middle;
	color: rgba(0, 0, 0, 0.5);
	line-height: 100%;
	font-size: 16px;
}
.calc > span{
	color: #000;
	margin: 0 17px;
	font-family: 'NunitoSans-SemiBold';
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}
.calc.calc-hollow > *{
	padding: 0 15px;
	position: relative;
	top: 1px;
}
.calc.calc-hollow > span{
	top: 0;
	margin: 0;
	padding: 13px 22px 14px;
	border-left: 1px solid #ccc;
	border-right: 1px solid #ccc;
}
.calc a:hover{
	color: #8aa385;
}
.widget_search input[type='search'],
.dropselect select,
.form-basic input[type="text"],
.form-basic input[type="tel"],
.form-basic input[type="email"],
.form-basic input[type="password"],
.form-basic textarea{
	display: block;
	width: 100%;
	background: #fff;
	border-radius: 2px;
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
	border: solid 1px #eeeeee;
	font-size: 14px;
	font-family: 'NunitoSans-Regular', 'Arial';
	font-weight: 400;
	height: 41px;
	padding: 0 18px;
}
.form-basic.dark input[type="text"],
.form-basic.dark input[type="tel"],
.form-basic.dark input[type="email"],
.form-basic.dark input[type="password"],
.form-basic.dark textarea{
	box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0);
	border: none;
	color: #616767;
	background: #eeeeee;
}
.form-basic textarea{
	min-height: 95px;
	padding: 18px;
	resize: vertical;
}
.form-basic .form-wrap > *,
.form-basic form > * {
	display: block;
	margin-top: 16px;
}
.form-basic .form-wrap > .rowflex,
.form-basic form > .rowflex{
	display: flex;
	margin: 22px -11px 0;
}
.form-basic .form-wrap > .rowflex:first-child,
.form-basic .form-wrap > *:first-child,
.form-basic form > .rowflex:first-child,
.form-basic form > *:first-child{
	margin-top: 0;
}
.form-basic .form-wrap > .rowflex > *,
.form-basic form > .rowflex > *{
	padding: 0 11px;
}
.form-basic .form-wrap .rowflex.wide-first > *,
.form-basic form .rowflex.wide-first > *{
	flex: 35%;
}
.form-basic .form-wrap .rowflex.wide-first > *:first-child,
.form-basic form .rowflex.wide-first > *:first-child{
	flex: 65%;
}
.form-basic .pass-field{
	position: relative;
}
.form-basic .pass-field b{
	position: absolute;
	display: block;
	right: 16px;
	top: 50%;
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 15px;
	height: 10px;
	cursor: pointer;
	z-index: 2;
}
.form-basic .pass-field b:after{
	display: block;
	width: 100%;
	height: 100%;
	content: '\f06e';
	font-family: 'icomoon';
	color: #000;
	opacity: .3;
	font-size: 15px;
	position: relative;
	top: -2px;
}
.form-basic .pass-field b.merem:after{
	content: '\f070';
	opacity: .8;
}
.form-basic .fgroup > label{
	display: block;
	margin-bottom: 7px;
	color: #22272b;
	font-family: 'NunitoSans-Bold';
}
.form-basic .fgroup > label sup{
	line-height: 100%;
	position: relative;
	top: 0;
	color: #ef0000;
}
.form-basic .dotdio label{
	display: inline-block;
	vertical-align: middle;
	margin-left: 25px;
	cursor: pointer;
}
.form-basic .dotdio.blocky label{
	display: block;
	margin: 17px 0 0;
}
.form-basic .dotdio.blocky label:first-child,
.form-basic .dotdio label:first-child{
	margin: 0;
}
.widget_search span,
.form-basic .dotdio input{
	display: none;
}
.form-basic .dotdio span{
	display: inline-block;
	position: relative;
	vertical-align: middle;
	color: #000;
}
.form-basic .dotdio span:before{
	display: inline-block;
	vertical-align: middle;
	content: '';
	width: 16px;
	height: 16px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: #fff;
	border: 1px solid rgba(0,0,0,.3);
	margin-right: 8px;
	-moz-border-radius: 50% ;
	-webkit-border-radius: 50% ;
	border-radius: 50% ;
	position: relative;
	top: -1px;
}
.form-basic .dotdio input:checked + span:before{
	border: 5px solid #8ca383;
}
.form-basic form > .rowflex .rowflex{
	margin: 0 -8px;
}
.form-basic form > .rowflex .rowflex > *{
	padding: 0 8px;
}
.accord-item {
	position: relative;
	padding-bottom: 15px;
	margin-bottom: 15px;
	border-bottom: 1px solid #eee;
}
.accord-item .acc-head{
	cursor: pointer;
	position: relative;
	padding-left: 40px;
}
.accord-item .acc-head:before{
	position: absolute;
	left: 0;
	top: -2px;
	width: 25px;
	height: 25px;
	display: block;
	background: #8aa385;
	line-height: 26px;
	content: "\f107";
	text-align: center;
	font-family: 'icomoon';
	-moz-border-radius: 50% ;
	-webkit-border-radius: 50% ;
	border-radius: 50% ;
	color: #fff;
	font-size: 20px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-left: 2px;
}
.accord-item.expanded .acc-head:before{
	content: "\f106";
	line-height: 21px;
}
.accord-item .acc-head h3{
	color: #22272b;
	font-size: 15px;
	font-family: 'NunitoSans-SemiBold';
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}
.accord-item .acc-body{
	display: none;
	padding-left: 40px;
	padding-top: 10px;
}
.accord-item.active .acc-body{
	display: block;
}
.dropselect select{
	-webkit-appearance: none;
	-moz-appearance: none;
	-o-appearance: none;
	appearance: none;
	background-image: url('../img/icon/drop.png');
	background-position: 85% center;
	background-repeat: no-repeat;
	outline: none;
	cursor: pointer;
}
.dropselect.medium select{
	background-position: 95% center;
}
.dropselect.large select{
	background-position: 98% center;
}
.dropselect.dark select{
        background-color: #f9f9f9;
        background-image: url('../img/icon/drop-dark.png');
        border: 1px solid #eee;
        color: #616767;
        -webkit-box-shadow: 0px 0 2px rgba(30, 30, 30, 0);
        -moz-box-shadow:    0px 0 2px rgba(30, 30, 30, 0);
        box-shadow:         0px 0 2px rgba(30, 30, 30, 0);
}
.white-txt{
	color: #fff;
}
a.morepost{
	font-family: 'NunitoSans-Bold';
	color: #8aa385 !important;
}
a.morepost:hover{
	text-decoration: underline;
}
.checky input{
	display: none;
}
.checky label{
	color: rgba(0, 0, 0, 0.8);
	font-size: 12px;
	cursor: pointer;
}
.checky label a{
	color: #8aa385;
	font-family: 'NunitoSans-Bold';
}
.checky span{
	display: inline-block;
	position: relative;
	vertical-align: middle;
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}
.checky span:before{
	display: inline-block;
	vertical-align: middle;
	background: #8aa385;
	width: 16px;
	height: 16px;
	-moz-border-radius: 2px ;
	-webkit-border-radius: 2px ;
	border-radius: 2px ;
	content: '';
	margin-right: 12px;
	position: relative;
	top: -1px;
}
.checky span:after{
	position: absolute;
	left: 3px;
	top: 2px;
	width: 16px;
	height: 16px;
	display: none;
	content: '\f00c';
	font-family: 'icomoon';
	color: #fff;
	font-size: 11px;
}
.checky input:checked + span:after{
	display: block;
}
.iframe-holder{
        position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
        z-index: 1;
}
.iframe-holder > *{
        position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
.page-pagination{
        text-align: center;
}
.page-pagination > *{
        display: inline-block;
        vertical-align: middle;
        font-size: 15px;
        font-family: 'NunitoSans-SemiBold';
        color: #616767;
        margin: 0 7px;
}
.page-pagination span,
.page-pagination a:hover{
        color: #8aa385;
}
.page-pagination span.dots{
        color: #616767;
}
.page-pagination .prev,
.page-pagination .next{
        color: #fff;
        background: #8aa385;
        width: 32px;
        height: 32px;
        line-height: 33px;
        text-align: center;
        -moz-border-radius: 50% ;
        -webkit-border-radius: 50% ;
        border-radius: 50% ;
        font-size: 20px;
}
.page-pagination .prev:hover,
.page-pagination .next:hover{
        color: #fff;
        background: #668161;
}
.page-pagination .prev{
        margin: 0 15px 0 0;
}
.page-pagination .next{
        margin: 0 0 0 15px;
}
/** CUSTOM WIDGET **/
.widget_contact a > *{
	display: inline-block;
	vertical-align: middle;
}
.widget_contact a{
	display: block;
	margin-top: 10px;
	color: #606666;
	font-size: 16px;
}
.widget_contact a:first-child{
	margin: 0;
}
.widget_contact a span{
	margin-left: 10px;
}
.widget_contact a:hover span{
	text-decoration: underline;
}
.widget_social .holder a{
	display: inline-block;
	vertical-align: middle;
	margin-left: 8px;
	color: #606666;
	font-size: 16px;
}
.widget_social .holder a:hover{
	color: #88a184;
}
.widget_social .holder a:first-child{
	margin: 0;
}
.widget_search form label{
	width: calc(100% - 60px);
	display: inline-block;
	vertical-align: middle;
}
.widget_search form input[type="submit"]{
	display: inline-block;
	vertical-align: middle;
	background: #8aa385 url(../img/icon/search-white.svg) no-repeat;
	background-position: center center;
	width: 45px;
	height: 45px;
	cursor: pointer;
	color: #fff;
	border: none;
	-moz-border-radius: 50% ;
	-webkit-border-radius: 50% ;
	border-radius: 50% ;
	text-indent: -99999px;
	float: right;
	position: relative;
	top: -1px;
}
.widget_search form input[type="submit"]:hover{
	background-color: #738f6b;
}
.widget_products li > *{
	display: inline-block;
	vertical-align: middle;
}
.widget_products figure{
	max-width: 70px;
}
.widget_products img{
	width: 100%;
	vertical-align: top;
}
.widget_products .caption{
	width: calc(100% - 80px);
	padding-left: 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.widget_products h4{
	font-size: 14px;
	color: #22262a;
	line-height: 130%;
	margin-bottom: 3px;
	font-family: 'Lustria-Regular';
}
.widget_products h4 a{
	color: #22262a;
}
.widget_products h4 a:hover{
	color: #89a284;
	font-family: 'Lustria-Regular';
}
.widget_products .rate{
	text-align: left;
	font-size: 11px;
	margin-bottom: 3px;
}
.widget_products strong{
	color: #89a284;
	font-size: 12px;
	font-family: 'NunitoSans-Bold';
}
.widget_products ul li{
	margin-top: 15px;
}
.widget_products ul li:first-child{
	margin-top: 0;
}
.star-rate{
	float: left;
}
.star-rate:not(:checked) > input {
    display: none;
}
.star-rate > label {
	float:right;
	width:22px;
	overflow:hidden;
	white-space:nowrap;
	cursor:pointer;
	font-size:22px;
	margin-left: 2px;
	color: #f1d454;    
}
.star-rate > label:first-child{
	margin: 0;
}
.star-rate:not(:checked) > label:before {
	content: '\f006';
	font-family: 'icomoon';
}
.star-rate > input:checked ~ label {
	color: #f1d454;    
}
.star-rate:not(:checked) > label:hover,
.star-rate:not(:checked) > label:hover ~ label {
	color: #f1d454;  
}
.star-rate > input:checked ~ label:before,
.star-rate:not(:checked) > label:hover:before,
.star-rate:not(:checked) > label:hover ~ label:before{
	content: '\f005';
}
.star-rate > input:checked + label:hover,
.star-rate > input:checked + label:hover ~ label,
.star-rate > input:checked ~ label:hover,
.star-rate > input:checked ~ label:hover ~ label,
.star-rate > label:hover ~ input:checked ~ label {
	color: #f1d454;
}
.boxcheck label{
	display: inline-block;
	vertical-align: middle;
	margin-left: 7px;
}
.boxcheck label:first-child{
	margin: 0;
}
.boxcheck label span{
	display: inline-block;
	padding: 7px 14px;
	color: #22272b;
	font-size: 14px;
	border: 1px solid #ccc;
	cursor: pointer;
	-moz-border-radius: 2px ;
	-webkit-border-radius: 2px ;
	border-radius: 2px ;
	color: #22272b;
	letter-spacing: normal;
	-webkit-user-select: none; /* Safari */        
	-moz-user-select: none; /* Firefox */
	-ms-user-select: none; /* IE10+/Edge */
	user-select: none; /* Standard */
}
.boxcheck label input{
	display: none;
}
.boxcheck label input:checked + span{
	border-color: #8aa385;
	-webkit-box-shadow: inset 0px 0 0px 1px #8aa385;
	-moz-box-shadow:  inset  0px 0 0px 1px #8aa385;
	box-shadow: inset 0px 0 0px 1px #8aa385;
}
.centered{
	text-align: center;
}
.jconfirm .jconfirm-box div.jconfirm-title-c .jconfirm-title{
	font-family: 'Lustria-Regular';
	font-size: 25px;
	color: #22272b;
}
.jconfirm .jconfirm-box div.jconfirm-content-pane .jconfirm-content{
	font-size: 15px;
	line-height: 160%;
	font-family: 'NunitoSans-Regular';
}
.jconfirm .jconfirm-box div.jconfirm-title-c{
	padding-bottom: 10px;
}
.jconfirm .jconfirm-box div.jconfirm-content-pane{
	margin-bottom: 10px;
}
/** LOADING STUFF **/
.avoskin-loading{
        position: fixed;
        z-index: 9999;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background: rgba(255,255,255,.8);
}
.avoskin-loading .centered{
        position: absolute;
        left: 0;
        width: 100%;
        text-align: center;
        top: 50%;
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
}
.avoskin-loading .ldr {
        display: inline-block;
        position: relative;
        width: 64px;
        height: 64px;
}
.avoskin-loading .ldr div {
        position: absolute;
        width: 13px;
        height: 13px;
        border-radius: 50%;
        background: #8aa385;
        animation: teten-loading-grid 1.2s linear infinite;
}
.avoskin-loading .ldr div:nth-child(1) {
        top: 6px;
        left: 6px;
        animation-delay: 0s;
}
.avoskin-loading .ldr div:nth-child(2) {
        top: 6px;
        left: 26px;
        animation-delay: -0.4s;
}
.avoskin-loading .ldr div:nth-child(3) {
        top: 6px;
        left: 45px;
        animation-delay: -0.8s;
}
.avoskin-loading .ldr div:nth-child(4) {
        top: 26px;
        left: 6px;
        animation-delay: -0.4s;
}
.avoskin-loading .ldr div:nth-child(5) {
        top: 26px;
        left: 26px;
        animation-delay: -0.8s;
}
.avoskin-loading .ldr div:nth-child(6) {
        top: 26px;
        left: 45px;
        animation-delay: -1.2s;
}
.avoskin-loading .ldr div:nth-child(7) {
        top: 45px;
        left: 6px;
        animation-delay: -0.8s;
}
.avoskin-loading .ldr div:nth-child(8) {
        top: 45px;
        left: 26px;
        animation-delay: -1.2s;
}
.avoskin-loading .ldr div:nth-child(9) {
        top: 45px;
        left: 45px;
        animation-delay: -1.6s;
}
@keyframes teten-loading-grid{
        0%, 100% {
                opacity: 1;
        }
        50% {
                opacity: 0.5;
        }
}
.tab-basic .tab-head{
	margin-bottom: 20px;
}
.tab-basic .tab-head a{
	display: inline-block;
	vertical-align: middle;
	padding-bottom: 11px;
	border-bottom: 2px solid transparent;
	color: #616767;
	margin-left: 50px;
}
.tab-basic .tab-head a:first-child{
	margin: 0;
}
.tab-basic .tab-head a:hover{
	color: #8aa385;
}
.tab-basic .tab-head a.active{
	color: #8aa385;
	font-family: 'NunitoSans-Bold';
	border-color: #8aa385;
}
.tab-basic .tab-item{
	display: none;
}
.tab-basic .tab-item.active{
	display: block;
}
.table-basic table{
	width: 100%;
	border-radius: 6px;
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
	background-color: #ffffff;
	overflow: hidden;
}
.table-basic th{
	background: #f5f5f5;
	color: #22272b;
	padding: 18px 24px;
	font-family: 'NunitoSans-SemiBold';
}
.table-basic tbody td{
	padding: 15px 24px;
	vertical-align: middle;
	border-top: 1px solid #eee;
	font-size: 13px;
	color: #22272b;
}
.table-basic tbody .topped td{
	vertical-align: top;
}
.table-basic tbody tr:first-child td{
	border: none;
}
.user-verified{
	position: relative;
}
.user-verified:after{
	display: inline-block;
	margin-left: 5px;
	color: #8aa385;
	content: '\f058';
	font-family: 'icomoon';
	font-size: 15px;
	position: relative;
	top: 1px;
}
.avo-notice{
	margin-bottom: 10px;
	line-height: 160%;
	color: #000;
	font-family: 'NunitoSans-Bold';
	padding: 10px 15px;
	color: #fff;
	background: #3498db;
}
.avo-notice.error{
	background: #e74c3c;
}
.avo-notice.notice{
	background: #e67e22;
}
.avo-notice a{
	color: #fff !important;
}
img.svg{
	opacity: 0;
}