@charset "UTF-8";
.tracking-data h3.for-mobile,
.inner-home .best-seller .product-item .sale,
.inner-home .best-seller .product-item .cat,
.account-wishlist td:first-child a b,
.acc-order table td img + * > strong,
.acc-order table td img + * > em,
.navacc-mobile,
.change-password-mobile,
.inner-page-half .navside .dropselect,
#review-skin-type-mobile,
.detail-product .desc .tab-head .dropselect,
.detail-product .info .gallery .add-to-wish,
.inner-mira .action figure figcaption,
.inner-cart .summary td em,
.inner-about .discover .centered{
	display: none;
}
.mobile-menu-trigger{
	display: none;
	width: 24px;
	height: 17px;
	background: url(../img/icon/bar.svg) no-repeat;
	position: relative;
	top: 2px;
	z-index: 2;
}
.logged-in .menu-sidebar{
	background: #eeeeee;
}
.menu-layer a{
	display: block;
	position: absolute;
	right: 11px;
	top: 12px;
	width: 16px;
	height: 16px;
	background: url(../img/icon/close-white.svg) no-repeat;
}
.menu-logo{
	text-align: center;
	padding: 25px 10px;
	background: #fff;
}
.menu-logo a{
	display: inline-block;
	max-width: 100px;
}
.menu-mobile{
	background: #fff;
}
.menu-mobile li{
	position: relative;
}
.user-nav ul a,
.menu-sidebar .track a,
.menu-mobile a:not(.dropmobile){
	color: #22272b;
	font-size: 11px;
	text-transform: uppercase;
	display: block;
	padding: 14px 15px;
	border-bottom: 1px solid #f9f9f9;
}
.user-nav ul a{
	border-color: #ddd;
	font-size: 12px;
	text-transform: none;
}
.user-nav ul a:hover,
.menu-sidebar .track a:hover,
.menu-mobile li.current-menu-item > a,
.menu-mobile a:hover{
	color: #8aa385;
}
.menu-mobile li.current-menu-item > a{
	font-family: 'NunitoSans-Bold';
}
.menu-mobile li .dropmobile{
	position: absolute;
	right: 0;
	top: 0;
	height: 44px;
	z-index: 2;
	width: 35px;
	color: #8aa385;
	font-size: 17px;
	text-align: center;
	line-height: 44px;
}
.menu-sidebar .location{
	padding: 14px 15px;
	border-bottom: 1px solid #f9f9f9;
	background: #fff;
}
.menu-sidebar .location a{
	text-transform: uppercase;
	font-size: 11px;
}
.menu-sidebar .location a:before{
	top: -2px;
}
.menu-sidebar .credential{
	text-align: center;
	padding: 30px 10px;
}
.menu-sidebar .credential a{
	display: inline-block;
	vertical-align: middle;
	color: #8aa385;
	font-size: 14px;
	padding: 0 15px;
	border-left: 1px solid #eee;
}
.menu-sidebar .credential a:first-child{
	border: none;
}
.user-nav span{
	font-size: 12px;
	text-transform: none;
	padding: 13px 5px;
}
.user-nav ul li.logout a{
	text-align: center;
	color: #d40000;
	font-family: 'NunitoSans-Bold';
}
.slick-dots{
	text-align: center;
	margin-top: 30px;
}
.slick-dots li{
	display: inline-block;
	vertical-align: middle;
	margin: 0 5px;
}
.slick-dots button{
	cursor: pointer;
	border: none;
	color: rgba(0,0,0,0);
	background: #8aa385;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
	width: 15px;
	height: 2px;
	display: block;
	opacity: .35;
	overflow: hidden;
	outline: none;
}
.slick-dots .slick-active button{
	opacity: 1;
}
.inner-home .hero .slick-dots{
	margin: 0;
	position: absolute;
	z-index: 9;
	left: 0;
	bottom: 20px;
	width: 100%;
}
.menu-mobile .sub-holder{
	display: block;
	position: fixed;
	top: 0;
	left: 0;
	width: 270px;
	left: -270px;
	opacity: 0;
	visibility: hidden;
	height: 100%;
	background: #fff;
	z-index: 9;
	-webkit-transition:all 0.2s ease-in;
	-moz-transition:all 0.2s ease-in;
	-o-transition:all 0.2s ease-in;
	-ms-transition:all 0.2s ease-in;
	transition:all 0.2s ease-in;
}
.menu-mobile .expanded > .sub-holder{
	left: 0;
	opacity: 1;
	visibility: visible;
}
.menu-mobile .sub-holder h4 a{
	background: #f9f9f9;
	display: block;
	font-size: 12px;
	text-transform: uppercase;
	color: #8aa385;
}
.menu-mobile .sub-holder h4 a > *{
	display: inline-block;
	vertical-align: middle;
}
.menu-mobile .sub-holder h4 a i{
	font-size: 16px;
	margin-right: 12px;
	position: relative;
	top: -1px;
}
.menu-mobile .sub-holder .extra{
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 13px 15px;
	color: #fff;
	font-size: 12px;
	line-height: 160%;
	background: #93a196;
}
.menu-mobile li.menu-mira li{
	padding: 13px 10px 13px 15px;
	border-bottom: 1px solid #f9f9f9;
}
.menu-mobile li.menu-mira li a{
	padding: 0;
	border: none;
	text-transform: none;
}
.menu-mobile li.menu-mira li h3{
	font-size: 12px;
	margin-bottom: 3px;
}
.menu-mobile li.menu-mira li figure{
	width: 55px;
}
.menu-mobile li.menu-mira li .caption{
	padding: 0 0 0 10px;
	width: calc(100% - 55px);
}
.menu-mobile li.menu-mira li .caption .txt{
	font-size: 10px;
	margin-bottom: 5px;
}
.menu-mobile li.menu-mira li a.morepost{
	font-size: 10px;
	line-height: 100%;
}
.inner-home .best-seller .product-item h2{
	margin-top: 15px;
}
@media (max-width: 1800px) {

}
@media (max-width: 1339px) {
	.inner-product .sidebar{
		width: 25%;
		margin: 0;
	}
	.inner-home .flash-sale .slide{
		max-width: 1000px;
		margin: 0 auto;
	}
	.inner-home .flash-sale img{
		width: 100% !important;
		height: auto !important;
	}
}
@media (max-width: 1259px) {
        .wrapper{
                max-width: none;
                padding-left: 30px;
                padding-right: 30px;
        }
        .popup-info .cls{
                right: 15px;
        }
	.mainmenu > ul > li{
		margin-left: 18px;
	}
	.is-sticky .bot-head .bot-logo{
		display: none;
	}
	.is-sticky .bot-head .util,
	.is-sticky .bot-head .mainmenu{
		top: 0;
	}
	.mainmenu li.menu-mira .sub-menu,
	.mainmenu li.menu-product .sub-menu{
		left: 10px;
		width: calc(100% - 20px);
	}
	.is-sticky .bot-head .mainmenu,
	.mainmenu li.menu-product,
	.mainmenu li.menu-mira{
		position: static;
	}
	.optin form input[type="email"]{
		width: 250px;
	}
	.inner-about .discover .caption{
		padding-right: 50px;
	}
	.inner-avo-stories .slide .wrapper{
		padding: 0 80px;
	}
	.inner-lady-boss .slide .slick-carousel,
	.inner-home .best-seller .rowflex,
	.inner-home .featured .info .rowflex,
	.inner-avo-stories .slide .slick-carousel{
		margin-left: -10px;
		margin-right: -10px;
	}
	.inner-lady-boss .slide .item,
	.inner-home .best-seller .rowflex .product-item,
	.inner-home .featured .info .rowflex > *,
	.inner-avo-stories .slide .item{
		padding-left: 10px;
		padding-right: 10px;
	}
	.inner-cart .summary{
		flex: 70%;
	}
	.inner-cart .proceed{
		flex: 30%;
		padding-left:20px;
	}
	.inner-partner .caption,
	.inner-partner .action{
		float: none;
		top: auto;
		padding: 0;
	}
	.inner-partner .action{
		margin-top: 15px;
	}
	.product-item .img-box img{
		width: 100% !important;
		height: auto !important;
	}
	.inner-product .main{
		padding-right: 30px;
	}
	.detail-product .review .rev-head .line-title, .detail-product .review .rate-result{
		flex: 30%;
		padding-right: 20px;
	}
	.detail-product .review .rev-head .rev-nav, .detail-product .review .rate-group{
		flex: 70%;
	}
	.inner-home .flash-sale .slide{
		max-width: 800px;
	}
	.inner-page-half .navside{
		padding: 40px 25px 0 0;
		width: 30%;
	}
	.inner-page-half .main{
		padding: 60px 0 180px 25px;
		width: 70%;
	}
}

@media (max-width: 991px) {
	#top .account,
	#top .is-sticky .account,
	.bot-head .mainmenu ul,
	.bot-head .util .location,
	#top .top-head{
		display: none;
	}
	.wrapper{
                padding-left: 15px;
                padding-right: 15px;
        }
	.popup-info .txt{
		font-size: 12px;
		text-align: left;
		padding-right: 20px;
	}
	#top .bot-head{
		padding-bottom: 15px;
	}
	.bot-head .util{
		padding-right: 5px;
		position: relative;
		z-index: 2;
	}
	.mobile-menu-trigger{
		display: block;
	}
	.is-sticky .bot-head .bot-logo,
	.bot-head .bot-logo{
		display: block;
		position: absolute;
		left: 0;
		width: 100%;
		text-align: center;
		top: 10px;
		z-index: 1;
		max-width: none;
		float: none;
		margin: 0;
	}
	.bot-head .bot-logo a{
		display: inline-block;
		max-width: 100px;
	}
	.optin{
		top: -77px;
		margin-bottom: -40px;
	}
	.optin .layer{
		display: block;
		text-align: center;
	}
	.optin .caption{
		margin-bottom: 15px;
		letter-spacing: normal;
	}
	.footer-widget{
		padding: 0;
	}
	.footer-widget .item:first-child, .footer-widget .item:last-child,
	.footer-widget .item{
		flex: 50%;
		margin-bottom: 30px;
	}
	.inner-about{
		padding-top: 30px;
	}
	.inner-about .love .caption{
		max-width: 700px;
	}
	.cart-sidebar .info .action{
		display: flex;
		margin: 0 -5px;
	}
	.cart-sidebar .info .action > *{
		flex: 1;
		margin: 0 5px !important;
		padding: 13px 25px !important;
	}
	.cart-sidebar .item figure{
		width: 65px;
	}
	.cart-sidebar .item figure img{
		height: auto !important;
	}
	.cart-sidebar .item h4{
		margin-bottom: 2px;
	}
	.inner-cart .proceed,
	.inner-cart .summary{
		flex: 100%;
		padding: 0;
		margin-bottom: 30px;
	}
	.inner-cart{
		padding-bottom: 100px;
	}
	.inner-checkout .user-data,
	.inner-checkout .order-data{
		flex: 100%;
		padding: 0;
	}
	.inner-checkout .order-data{
		margin-top: 40px;
	}
	.inner-checkout .txt{
		border-bottom: 1px solid #eee;
	}
	.inner-checkout .txt p{
		padding-bottom: 16px;
	}
	.inner-thank .pusher > img:first-child{
		max-width: 250px;
	}
	.inner-partner .store > .layer > div{
		padding: 0 16px !important;
	}
	.inner-partner .store > .layer{
		padding: 20px 0;
	}
	.inner-skin-advisor figure{
		text-align: center;
	}
	.inner-skin-advisor figure img{
		width: 105px !important;
		height: auto;
		margin: 0 10px !important;
	}
	.inner-skin-advisor figure img:first-child{
		width: 94px !important;
	}
	.inner-mira .benefit .rowflex{
		margin: 0 -10px;
	}
	.inner-mira .benefit .rowflex > *{
		padding: 0 10px;
	}
	.inner-retinol .copy figure,
	.inner-mira .action .caption{
		padding-right: 50px;
	}
	.inner-retinol .copy .format-text{
		padding: 0;
	}
	.inner-product .main{
		width: 70%;
	}
	.inner-product .sidebar{
		width: 30%;
	}
	.inner-product .main .rowflex > *{
		flex: 33.3333333333333%;
		max-width: none;
	}
	.inner-home .flash-sale .disc, .product-item .disc{
		height: 26px;
		line-height: 26px;
		padding: 0 10px 0 7px;
	}
	.section-blog .item h3, .inner-home .flash-sale .item h3, .product-item h2{
		margin: 5px 0;
	}
	.inner-product .main .filter{
		display: flex;
		flex-direction: column-reverse;
	}
	.inner-product .main .filter > *{
		float: none !important;
		flex: 100%;
		top: auto !important;
	}
	.inner-product .main .filter .clear{
		display: none !important;
	}
	.inner-product .main .filter .sort{
		margin: 0 0 15px -10px;
	}
	.inner-product .main .filter{
		margin: 0 0 30px;
		padding: 0 0 15px;
		border-bottom: 1px solid #eee;
	}
	.inner-home .best-seller .rowflex,
	.related-product .rowflex{
		margin: 0 -5px;
	}
	.inner-home .best-seller .rowflex .product-item,
	.related-product .rowflex .product-item{
		padding: 0 5px;
	}
	.inner-home .best-seller .rowflex .product-item .action a,
	.related-product .rowflex .product-item .action a{
		margin: 0 3px;
	}
	.detail-product .info .nominal .woocommerce-Price-currencySymbol{
		top: -10px;
	}
	.detail-product .review .rev-head .line-title, .detail-product .review .rate-result{
		flex: 40%;
	}
	.detail-product .review .rev-head .rev-nav, .detail-product .review .rate-group{
		flex: 60%;
	}
	.detail-product .info .layer{
		padding: 20px 15px;
	}
	.detail-product .info .util .button{
		margin: 0 8px;
	}
	.popup-order,
	.popup-password, .popup-newsletter, .popup-review, .popup-credential{
		padding: 80px 15px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}
	.popup-review .boxcheck label{
		margin: 0 8px 10px 0;
	}
	.jconfirm .jconfirm-box div.jconfirm-title-c{
		padding-bottom: 5px;
	}
	.inner-home .flash-sale .slide{
		max-width: 500px;
	}
	.inner-home .flash-head h2:before{
		position: relative;
		top: 5px;
	}
	.section-blog .slick-carousel{
		width: calc(100% - 80px);
		margin: 0 auto;
	}
	.inner-home .featured .detail .caption{
		padding-right: 30px;
	}
	.inner-home .flash-head h2{
		top: -3px;
		margin-right: 15px;
	}
	.section-instagram .wrap .item{
		width: 33.3333333333333%
	}
	.inner-page-half .navside li{
		padding: 15px 20px;
	}
	.inner-page-half .navside li.current-menu-item:after{
		top: 20px;
	}
	.accord-item .acc-head:before{
		top: 2px;
	}
	.inner-account .content .wrapper > .layer{
		padding: 0;
		border: none;
		-webkit-box-shadow: 0px 0 2px rgba(30, 30, 30, 0);
		-moz-box-shadow:    0px 0 2px rgba(30, 30, 30, 0);
		box-shadow:         0px 0 2px rgba(30, 30, 30, 0);
		-moz-border-radius: 0 ;
		-webkit-border-radius: 0 ;
		border-radius: 0 ;
		background: none;
	}
	.inner-account .content .main{
		border: none;
		width: 100%;
		padding: 0;
	}
	.account-address-edit form > .rowflex,
	#form-profile > .rowflex{
		margin: 0;
		display: block;
	}
	.account-address-edit form > .rowflex > *,
	#form-profile > .rowflex > *{
		padding: 0;
		margin: 17px 0 0 ;
	}
	.inner-account .account-detail .user-profile{
		position: relative;
	}
	.change-password-mobile {
		position: absolute;
		right: 0;
		top: 0;
	}
	.change-password-mobile .button{
		margin-top: 10px;
		padding: 10px;
		font-size: 10px;
	}
	.inner-account .account-detail .user-profile{
		align-items: flex-start;
	}
	.navacc-mobile{
		margin-bottom: 20px;
	}
	.inner-account .account-detail .info.user-profile{
		display: flex;
	}
	
	.inner-account .account-detail.account-review .info,
	.navacc-mobile,
	.change-password-mobile{
		display: block;
	}
	
	.inner-account .account-detail .info,
	.inner-account .intro .format-text,
	.change-password-desktop,
	.inner-account .content .navacc{
		display: none;
	}
	.acc-order-detail .status a.button{
		padding: 10px 15px;
	}
	.inner-tracking-result .order-detail .item,
	.acc-order-detail .detail .shipping{
		padding-left: 40px;
	}
	.inner-tracking-result .order-detail .rowflex{
		padding: 0;
	}
	.inner-account .account-detail.account-review .info h3{
		position: relative;
		top: 10px;
		padding: 0;
		font-size: 16px;
	}
	.inner-account .account-detail.account-review .info .dropselect{
		width: 180px;
		top: auto;
	}
	.inner-account .account-detail.account-review .info .dropselect select{
		background-color: #fff;
		border: solid 1px #eeeeee;
	}
	.inner-lady-boss .slide .slick-carousel{
		margin-left: -10px;
		margin-right: -10px;
	}
	.inner-lady-boss .slide .slick-carousel .item{
		padding-left: 10px;
		padding-right: 10px;
	}
	
	.format-text h1,
	.detail-product .info .nominal .woocommerce-Price-amount{
		font-size: 22px;
	}
	.inner-account .intro h2,
	.inner-home .flash-head h2,
	.jconfirm .jconfirm-box div.jconfirm-title-c,
	.jconfirm .jconfirm-box div.jconfirm-title-c .jconfirm-title,
	.popup-password h2, .inner-account .account-cred h2,
	.popup-newsletter h2, .inner-new-password h2, .popup-credential .txt h2,
	.popup-order h2,
	.popup-review h2,
	.the-title,
	.inner-retinol .enjoy h2,
	.inner-mira .action h2,
	.inner-partner h1,
	.inner-checkout .order-data h2,
	.inner-checkout .txt h1,
	.inner-cart h1,
	.inner-about .discover h2,
	.line-title,
	.widget-title{
		font-size: 20px;
	}
	.format-text h2,
	.sidebar .widget-title,
	.popup-order .countdown .timing span,
	.inner-thank .countdown .timing span,
	.optin h2{
		font-size: 18px;
	}
	.tracking-info .order-detail h3,
	.acc-order-detail h3,
	.section-blog .item h3,
	.inner-home .testimonial .txt,
	.map-txt h3, .inner-partner .store .item h3{
		font-size: 16px;
	}
	.account-review .item .format-text,
	.account-review .item .product h3,
	.account-address .item h3,
	.tracking-info .order-detail .txt, .acc-order-detail .detail .txt, .account-address .item p,
	.inner-account .account-detail .info h3,
	.accord-item .acc-head h3,
	.format-text h3,
	.inner-page-half .navside li a,
	.inner-error .caption,
	.inner-home .flash-head .fcount span,
	.inner-home .featured .info .caption,
	.popup-review .form-basic .fgroup > label,
	.detail-product .review .rate-group .userinfo h3,
	.calc.calc-hollow > span,
	.detail-product .info .nominal .discounted .woocommerce-Price-amount,
	.popup-order .transfer h3,
	.inner-thank .transfer h3,
	.inner-checkout .order-data h3,
	.inner-checkout .txt,
	.cart-sidebar .info .subtotal,
	.cart-sidebar h3,
	.section-title p,
	.format-text,
	.footer-widget .widget p,
	.tribute .copy,
	.widget_product_categories li span,
	.widget_categories li span, .widget li a{
		font-size: 14px;
	}
	.form-basic .fgroup > label,
	.format-text h4,
	.popup-order .countdown h3,
	.inner-thank .countdown h3,
	.inner-checkout .order-data table td{
		font-size: 13px;
	}
	.account-wishlist .table-basic td, 
	.tracking-info .tracking-data .table-basic thead th,
	.tracking-info .tracking-data .table-basic tbody td,
	.tracking .table-basic th,
	.tracking .table-basic td,
	.tracking-info .order-detail table, .acc-order-detail .detail table,
	.acc-order-detail .status p,
	.tab-basic .tab-head a,
	.inner-account .account-detail .info .caption,
	.format-text h5,
	.section-blog .item .txt,
	.popup-newsletter .txt,
	.jconfirm .jconfirm-box div.jconfirm-content-pane .jconfirm-content,
	.popup-credential .extra,
	.inner-account .account-cred .txt p,
	.inner-new-password p, .popup-credential .txt p,
	.boxcheck label span,
	.detail-product .review .rate-group .meta span, .account-review .item .meta span,
	.detail-product .review .rate-group .format-text, .detail-product .review .rate-group .userinfo span,
	.detail-product .info table td,
	.related-product .product-item h2,
	.inner-product .main .filter span,
	.inner-home .flash-sale .item .pricing strong, .product-item .price,
	.product-item h2,
	.map-txt .txt, .inner-partner .store .item .txt,
	.widget_search input[type='search'],
	.dropselect select, .form-basic input[type="text"],
	.form-basic input[type="tel"],
	.form-basic input[type="email"],
	.form-basic input[type="password"],
	.form-basic textarea,
	.inner-checkout .process,
	.crumb,.cart-sidebar .item h4,.cart-sidebar .item span,
	.popup-newsletter .form-basic .button, .button,
	.optin form input[type="email"],
	.optin p{
		font-size: 12px;
	}
	.rate,.format-text h6,
	.inner-home .flash-sale .item .pricing span, .product-item .sale,
	.section-blog .item strong, .section-blog .item strong a, .inner-home .flash-sale .cat a, .product-item .cat a,
	.inner-home .flash-sale .disc, .product-item .disc{
		font-size: 10px;
	}
}
@media (max-width: 768px) {
	.account-review .item .rowflex,
	.acc-order table td img + * > em,
	.account-wishlist td:first-child a b,
	.acc-order table td img + * > strong,
	.inner-page-half .navside .dropselect,
	.inner-home .featured .detail .rowflex,
	.popup-newsletter .layer .rowflex,
	#review-skin-type-mobile,
	.detail-product .desc .tab-item .rowflex,
	.detail-product .desc .tab-head .dropselect,
	.inner-mira .action figure figcaption,
	.inner-about .discover .centered,
	.inner-about .discover .rowflex{
		display: block;
	}
	.inner-page-half .navside #sticky-wrapper,
	.acc-order .table-basic table tr td.on-desktop,
	.account-wishlist td:first-child + td + td,
	.account-wishlist .table-basic thead,
	.tracking-info .tracking-data .table-basic tbody td:first-child + td,
	.tracking .table-basic table td:first-child + td,
	.tracking-info .tracking-data .table-basic thead,
	.tracking .table-basic thead,
	.acc-order table td:first-child,
	.acc-order .table-basic table thead,
	.popup-credential #tab-forgot .form-basic br,
	.inner-page-half .navside ul,
	.inner-page-half .main:before,
	.inner-page-half .navside .centered,
	.section-blog .slidenav,
	.inner-home .flash-sale .slidenav,
	.popup-newsletter .layer .rowflex > *:first-child,
	.detail-product .review .rev-head .rev-nav form,
	.detail-product .desc .tab-head a,
	.detail-product .info .util .add-to-wish,
	.inner-product .main:before,
	.inner-mira .action .caption .button,
	.inner-cart  .summary  .table-basic tbody td:first-child + td,
	.inner-cart th,
	.inner-avo-stories .slide .slidenav,
	.inner-about .love .caption:before,
	.inner-about .discover .caption .button{
		display: none;
	}
	#bottom{
		margin-top: 30px;
	}
	.optin{
		top: -105px;
		margin-bottom: -90px;
	}
	.optin .layer{
		padding: 20px;
	}
	.optin form input[type="email"],
	.optin form .button{
		display: block;
		margin: 0 auto;
	}
	.optin form input[type="email"]{
		width: 100%;
		margin-bottom: 17px;
	}
	.inner-lady-boss .slide .slick-carousel,
	.inner-avo-stories .slide .slick-carousel,
	.footer-widget .rowflex{
		margin: 0;
	}
	.inner-lady-boss .slide .slick-carousel .item,
	.inner-avo-stories .slide .item{
		padding: 0;
	}
	.footer-widget .item:first-child, .footer-widget .item:last-child,
	.footer-widget .item{
		flex: 100%;
		margin-bottom: 30px;
		padding: 0;
	}
	.tribute .util,
	.tribute .copy{
		float: none;
	}
	.tribute .util{
		margin-bottom: 30px;
		position: relative;
	}
	.tribute,
	.footer-widget .widget_social + .widget,
	.footer-widget .item:first-child{
		text-align: center;
	}
	.footer-widget .widget_social + .widget p:first-child{
		text-align: left;
	}
	.tribute .totop{
		position: absolute;
		right: 0;
		top: -15px;
	}
	.inner-about .discover .caption,
	.inner-about .discover figure{
		flex:1;
		width: 100%;
		padding: 0;
		text-align: center;
		max-width: 330px;
		margin: 0 auto 30px;
	}
	
	.inner-about .intro{
		margin-bottom: 40px;
	}
	.inner-about .discover{
		padding-bottom: 0;
	}
	.inner-about .discover h2{
		margin: 20px 0;
	}
	.inner-retinol .video figure b i,
	.detail-product .desc .tab-item.has-video figure b i,
	.inner-about .discover figure b i{
		width: 40px;
		height: 40px;
		line-height: 40px;
		font-size: 14px;
		padding-left: 4px;
	}
	.format-text.nudge-left{
		max-width: none;
		margin: 0;
	}
	.inner-about .cruelty{
		padding-bottom: 50px;
	}
	.inner-about .love .caption{
		background: #93a096;
		padding: 30px 15px;
		text-align: center;
		margin-top: 50px;
		-moz-border-radius: 2px ;
		-webkit-border-radius: 2px ;
		border-radius: 2px ;
	}
	.section-blog .item,
	.inner-about .love .format-text.nudge-left{
		max-width: none;
		padding: 0;
	}
	.inner-about .love .line-title:after{
		margin-left: auto;
		margin-right: auto;
	}
	.inner-avo-stories .slide .wrapper{
		padding-left: 15px;
		padding-right: 15px;
	}
	.inner-cart .summary{
		padding-top: 20px;
		border-top: 1px solid #eee;
	}
	.inner-cart  .summary  .table-basic tbody td{
		display: block;
		width: 100%;
		border: none;
		padding: 0;
		padding-left: 91px;
		position: relative;
		top: -25px;
		font-size: 12px;
	}
	.inner-cart  .summary  .table-basic tbody td:first-child{
		padding: 0;
		top: 0;
	}
	.inner-cart .table-basic tbody td:last-child{
		top: 0;
		margin-top: -25px;
	}
	.inner-cart .summary td em{
		display: inline;
	}
	.inner-cart .summary td svg{
		width: 18px;
		height: 18px;
	}
	.inner-cart .summary td > img{
		max-width: 50px;
		width: 50px;
		height: auto !important;
		margin: 0 10px 0 5px;
	}
	.inner-cart  .summary .table-basic table{
		width: 100%;
		border-radius: 0;
		box-shadow: 0 0 0 0 rgba(0, 0, 0, 0);
		background-color: rgba(0,0,0,0);
		overflow: visible;
	}
	.inner-cart .summary .table-basic tbody tr{
		display: block;
		border-radius: 6px;
		box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
		background-color: #ffffff;
		margin-top: 20px;
		padding: 16px;
	}
	.inner-cart .table-basic tbody tr:first-child{
		margin: 0;
	}
	.inner-cart .summary td:first-child > img + a{
		position: relative;
		top: -17px;
	}
	.inner-cart .summary td .calc{
		max-width: 120px;
		margin-bottom: 10px;
	}
	.inner-cart .action .button{
		padding-left: 15px;
		padding-right: 15px;
	}
	.inner-cart .proceed {
		margin: 20px -15px 30px;
		background: #eeeeee;
		padding: 30px 15px 33px;
	}
	.inner-cart .proceed table td{
		font-size: 14px;
		color: #22262a !important;
		padding: 8px 0;
	}
	.section-instagram .wrap,
	.section-blog .slide,
	.section-title,
	.detail-product .info,
	.detail-product .review,
	.inner-partner .intro,
	.inner-partner .map-area,
	.inner-cart .proceed table{
		margin-bottom: 30px;
	}
	.inner-home .featured .detail{
		margin-bottom: 50px;
	}
	.inner-cart .proceed .button{
		display: block;
		max-width: 208px;
		margin: 0 auto;
		padding: 13px 10px;
	}
	.inner-partner .store,
	.inner-partner .map-area{
		position: relative;
		top: auto;
		left: auto;
		width: 100%;
		padding: 0;
	}
	.inner-partner .store .layer{
		height: 450px !important;
		overflow: hidden;
	}
	.inner-partner .map-area .map-search{
		top: 15px;
		left: 15px;
		width: calc(100% - 30px);
	}
	.inner-partner .caption, .inner-partner .action{
		text-align: center;
	}
	.inner-partner .format-text{
		margin: 0 auto;
	}
	.inner-partner .action > *{
		margin: 0;
	}
	.inner-partner .action > *:first-child{
		margin:  0 0 16px;
	}
	.inner-partner .map-area .holder{
		-moz-border-radius: 0 ;
		-webkit-border-radius: 0 ;
		border-radius: 0 ;
		margin: 0 -15px;
	}
	.inner-skin-advisor{
		padding-top: 30px;
	}
	.inner-skin-advisor figure,
	.inner-skin-advisor .caption{
		flex: 100%;
		padding: 0;
		text-align: center;
	}
	.inner-skin-advisor .caption{
		margin-top: 30px;
	}
	.inner-skin-advisor .caption .line-title:after{
		margin-left: auto;
		margin-right: auto;
	}
	.inner-mira .copy{
		padding: 50px 0;
	}
	.inner-mira .copy .rowflex{
		display: block;
	}
	.inner-mira .copy .rowflex > *{
		width: 100%;
		padding: 0;
	}
	.inner-retinol .copy .rowflex > figure,
	.inner-mira .copy .rowflex > figure{
		max-width: 50%;
		margin: 0 auto 30px;
	}
	.inner-retinol .feature .rowflex,
	.inner-mira .action .rowflex,
	.inner-mira .benefit .rowflex{
		margin: 0;
	}
	.inner-retinol .feature .rowflex > *,
	.inner-retinol .copy .rowflex > *,
	.inner-mira .action .rowflex > *,
	.inner-mira .benefit .rowflex > *{
		padding: 0;
		flex: 100%;
		margin: 0 0 30px;
	}
	.inner-mira .benefit{
		padding: 0 0 40px;
		margin: 0 0 50px;
	}
	.inner-mira .benefit:before{
		clip-path: polygon(0 14%, 100% 10%, 100% 100%, 0% 100%);
	}
	.inner-product .main .page-pagination,
	.inner-mira .action .caption{
		text-align: center;
	}
	.inner-mira .action h2{
		margin-bottom: 0;
	}
	.inner-account,
	.inner-mira .action figure figcaption{
		padding-top: 30px;
	}
	.inner-mira{
		padding-bottom: 90px;
	}
	.inner-retinol .video{
		padding: 50px 0 0;
	}
	.inner-retinol .copy{
		padding: 50px 0 20px;
	}
	.inner-retinol .feature{
		padding-bottom: 275px;
	}
	.inner-retinol .feature .layer{
		-moz-border-radius: 0 ;
		-webkit-border-radius: 0 ;
		border-radius: 0 ;
		-webkit-box-shadow: 0px 0 2px rgba(30, 30, 30, 0);
		-moz-box-shadow:    0px 0 2px rgba(30, 30, 30, 0);
		box-shadow:         0px 0 2px rgba(30, 30, 30, 0);
		background: none;
		border: none;
		padding: 0;
	}
	.inner-retinol .feature .rowflex{
		display: block;
	}
	.inner-retinol .feature .item:first-child,
	.inner-retinol .feature .item{
		padding: 16px;
		margin: 30px 0 0;
		-moz-border-radius: 6px ;
		-webkit-border-radius: 6px ;
		border-radius: 6px ;
		box-shadow: 0 2px 6px 0 rgba(222, 174, 164, 0.1);
		border: solid 1px #eeeeee;
		background-color: #ffffff;
	}
	.inner-retinol .feature .item:first-child{
		margin: 0;
	}
	.inner-retinol .feature:after{
		height: 70%;
	}
	.inner-retinol .enjoy img, .inner-retinol .feature figure img{
		-moz-border-radius: 0 ;
		-webkit-border-radius: 0 ;
		border-radius: 0 ;
	}
	.inner-product .main,
	.inner-product .sidebar{
		width: 100%;
		padding: 0;
		margin: 0;
		float: none;
		height: auto !important;
	}
	.inner-product .main{
		background: #fff;
		padding: 30px 15px 50px;
		margin: 0 -15px;
		width: calc(100% + 30px);
	}
	.inner-tracking-input, .inner-tracking-result,
	.inner-product .sidebar{
		padding: 30px 0 130px;
	}
	.inner-home .best-seller .rowflex .product-item .action a,
	.related-product .rowflex .product-item .action a,
	.inner-product .product-item .action a{
		width: 30px;
		height: 30px;
		line-height: 30px;
		margin: 0 1px;
	}
	.inner-home .best-seller .rowflex .product-item .action a i,
	.related-product .rowflex .product-item .action a i,
	.inner-product .product-item .action a i{
		transform: scale(.7, .7);
	}
	.inner-home .best-seller .rowflex .product-item .action a.add-to-wish i,
	.related-product .rowflex .product-item .action a.add-to-wish i,
	.inner-product .product-item .action a.add-to-wish i{
		top: 4px;
	}
	.cart-sidebar .info,
	.cart-sidebar{
		right: -300px;
		width: 300px;
	}
	.inner-home .best-seller .rowflex .product-item,
	.related-product .rowflex .product-item{
		flex: 50%;
		margin-bottom: 30px;
	}
	.detail-product .info .gallery,
	.detail-product .info .caption{
		width: 100%;
		padding: 0;
		margin: 0;
		float: none;
	}
	.detail-product .info .gallery{
		max-width: 500px;
		margin: 0 auto 30px;
	}
	.detail-product .info .gallery .big{
		position: relative;
	}
	.detail-product .info .gallery .add-to-wish.fetching,
	.detail-product .info .gallery .add-to-wish{
		display: block;
		position: absolute;
		right: 10px;
		top: 10px;
		z-index: 9;
	}
	.detail-product .desc .tab-item .rowflex > *{
		padding: 0 !important;
		margin: 0;
	}
	.detail-product .desc .tab-item .rowflex figure{
		display: block;
		margin: 0 0 20px;
	}
	.detail-product .info .meta .rate{
		display: block;
		text-align: left;
		margin: 0 0 10px;
		font-size: 14px;
	}
	.detail-product .info .meta .rate + *{
		margin-left: 0;
	}
	.detail-product .review .rev-head .rev-nav,
	.detail-product .review .rev-head .line-title{
		flex: 50%;
	}
	.detail-product .review .rev-head .rev-nav{
		top: 0;
	}
	.detail-product .review .rate-result,
	.detail-product .review .rate-group{
		flex: 100%;
		padding: 0;
		margin: 0;
	}
	.detail-product .review .rate-result .item .rate{
		font-size: 14px;
	}
	.detail-product .review .rate-result .item .bar span{
		width: calc(100vw - 195px);
	}
	#review-skin-type-mobile{
		margin: 30px 0;
	}
	.detail-product .info .util .button{
		margin: 0 0 0 5px;
	}
	.detail-product .info .gallery .thumb .item{
		padding: 3px;
	}
	.popup-review .form-basic form > *{
		margin-top: 15px;
	}
	.popup-review .form-basic form .boxcheck{
		margin-bottom: -10px;
	}
	.inner-join form .rowflex,
	.popup-review form .rowflex{
		margin-left: 0;
		margin-right: 0;
	}
	.inner-join form > .rowflex > *,
	.popup-review form  .rowflex > *{
		flex: 100%;
		padding: 0px;
		margin-top: 15px;
	}
	.inner-join form > .rowflex > *:first-child,
	.popup-review .form-basic form > *:first-child,
	.popup-review form  .rowflex > *:first-child{
		margin: 0;
	}
	.inner-tracking-input .layer,
	.inner-join .layer,
	.inner-account .account-cred .layer,
	.popup-password .layer, .popup-newsletter .layer,
	.popup-credential .layer,
	.popup-order .layer,
	.popup-review .layer{
		padding: 22px 16px;
	}
	.popup-review .star-rate{
		top: auto;
	}
	.inner-account .account-cred .txt, .popup-credential .txt{
		margin-bottom: 15px;
	}
	.popup-newsletter .layer{
		max-width: 350px;
	}
	.inner-home .flash-sale .wrapper{
		padding-right:0;
	}
	.inner-home .flash-sale .item{
		width: 160px;
	}
	.inner-home .flash-sale .layer{
		padding: 12px 11px 50px
	}
	.inner-home .flash-sale .stock-status{
		padding-left: 11px;
		padding-right: 11px;
	}
	.inner-home .flash-head{
		padding-right: 15px;
	}
	.section-blog .slidenav a, .inner-home .hero .slidenav a, .inner-avo-stories .slide .slidenav a {
		float: right;
		width: 20px;
		height: 40px;
		line-height: 41px;
		text-align: center;
		font-size: 20px;
		color: #fff;
		background: #8aa385;
		-moz-border-radius: 20px 0 0 20px;
		-webkit-border-radius: 20px 0 0 20px;
		border-radius: 20px 0 0 20px;
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
		padding: 0 0 0 7px;
		text-shadow: 0 0 1px rgba(0,0,0,.2);
	}
	.section-blog .slidenav a:first-child, .inner-home .hero .slidenav a:first-child, .inner-avo-stories .slide .slidenav a:first-child {
		-moz-border-radius: 0 20px 20px 0;
		-webkit-border-radius: 0 20px 20px 0;
		border-radius: 0 20px 20px 0;
		padding: 0 7px 0 0px;
	}
	.inner-home .featured{
		padding: 50px 0;
	}
	.inner-home .featured .detail .rowflex figure{
		max-width: 70%;
		margin: 0 auto 30px;
	}
	.inner-home .featured .detail .rowflex .caption{
		padding: 0;
	}
	.inner-home .featured .info .rowflex{
		display: block;
		margin: 0;
	}
	.inner-home .testimonial .from,
	.inner-home .featured .info .rowflex > *{
		padding: 0;
		margin: 30px 0 0;
	}
	.inner-home .featured .info .rowflex > *:first-child{
		margin: 0;
	}
	.inner-home .store img{
		max-width: 50%;
	}
	.inner-home .store .ornament{
		height: 100px;
	}
	.inner-home .store{
		padding-bottom: 150px;
	}
	.inner-home .testimonial{
		padding: 0 0 50px;
	}
	.inner-home .testimonial .txt{
		padding-top: 40px;
	}
	.inner-home .testimonial .txt:before{
		left: -10px;
		transform: scale(.5,.5);
	}
	.inner-home .testimonial .from .item{
		width: 150px;
	}
	.section-blog .slick-dots{
		margin: 15px 0 0;
	}
	.section-blog{
		padding: 50px 0 130px;
	}
	.section-instagram{
		padding: 30px 0;
	}
	.inner-home .best-seller{
		padding: 50px 0;
	}
	.section-blog .slick-carousel{
		width: 100%;
	}
	.section-blog .caption{
		padding-left: 15px;
	}
	.inner-error img{
		max-width: 250px;
	}
	.inner-error .action > *{
		padding: 13px 25px;
		margin: 0 3px;
	}
	.inner-error .caption{
		margin: 30px 0;
	}
	.inner-page-half .navside,
	.inner-page-half .main{
		width: 100%;
		padding: 0;
	}
	.inner-page-half{
		background: #fff;
		padding: 35px 0 130px;
	}
	.inner-page-half .navside .dropselect{
		margin: 0 0 30px;
	}
	.inner-page-half .the-title{
		color: #22272b;
		margin-bottom: 20px;
		position: relative;
		text-align: left;
	}
	.inner-page-half .the-title:after{
		margin-top: 15px;
		height: 3px;
		background: #8aa385;
		width: 70px;
		display: block;
		content: '';
	}
	.account-wishlist .table-basic table,
	.acc-order .table-basic table{
		-moz-border-radius: 0 ;
		-webkit-border-radius: 0 ;
		border-radius: 0 ;
		background: none;
		-webkit-box-shadow: 0px 0 2px rgba(30, 30, 30, 0);
		-moz-box-shadow:    0px 0 2px rgba(30, 30, 30, 0);
		box-shadow:         0px 0 2px rgba(30, 30, 30, 0);
		overflow: visible;
	}
	.account-wishlist .table-basic tr,
	.acc-order .table-basic table tr{
		display: block;
		border-radius: 6px;
		box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
		border: solid 1px #eeeeee;
		background-color: #ffffff;
		margin-top: 16px;
		padding: 16px;
		position: relative;
	}
	.account-wishlist .table-basic tr{
		padding-bottom: 13px;
	}
	.account-wishlist .table-basic tr:after,
	.acc-order .table-basic table tr:after{
		clear: both;display: block;height: 0;width: 100%;float: none !important;content: '';
	}
	.acc-order .table-basic table tr:first-child{
		margin: 0;
	}
	.account-wishlist .table-basic td,
	.acc-order .table-basic table tr td{
		border: none;
		font-size: 12px;
		padding: 0;
	}
	.account-wishlist .table-basic td .amount{
		color: #8aa385;
		font-family: 'NunitoSans-Bold';
	}
	.acc-order table td img + * > strong{
		font-size: 10px;
		color: #8aa385;
		font-family: 'NunitoSans-Bold';
		margin-bottom: 2px;
	}
	.acc-order table td img{
		max-width: none;
		width: 50px;
		height: auto !important;
	}
	.acc-order table td img,
	.acc-order table td img + *{
		vertical-align: top;
	}
	.acc-order table td img + *{
		max-width: 200px;
	}
	.acc-order table td img + * em{
		margin-top:4px;
	}
	.account-wishlist .table-basic td:first-child + td,
	.acc-order .table-basic table tr td:first-child + td + td + td{
		float: left;
		width: 50%;
		display: block;
		border-top: 1px solid #eee;
		padding-top: 20px;
		margin: 12px 0 0;
	}
	.account-wishlist .table-basic td:first-child + td{
		padding-top: 22px;
	}
	.account-wishlist .table-basic td:last-child,
	.acc-order .table-basic table tr td:first-child + td + td + td + td{
		padding-top: 13px;
		margin: 12px 0 0;
		float: right;
		width: 50%;
		display: block;
		text-align: right;
		border-top: 1px solid #eee;
	}
	.account-wishlist .table-basic td:last-child .button{
		padding: 8px 12px;
		font-size: 10px;
	}
	.tab-basic .tab-head a{
		margin-left: 24px;
		letter-spacing: normal;
	}
	.acc-order-detail .status p{
		width: calc(100% - 120px);
		top: auto;
		line-height: 160%;
	}
	.inner-tracking-result .order-detail .rowflex,
	.acc-order-detail .detail .rowflex{
		display: block;
	}
	.inner-tracking-result .order-detail .rowflex .item:first-child + .item,
	.acc-order-detail .detail .shipping{
		padding: 30px 15px 15px;
		margin: 30px -15px 0;
		background: #f9f9f9;
	}
	.acc-order-detail .detail{
		border-width: 1px;
		border-bottom: none;
		padding-bottom: 0;
	}
	.tracking-info .order-detail table th, .acc-order-detail .detail th{
		border-width: 1px;
	}
	.tracking-info .tracking-data .table-basic table,
	.tracking .table-basic table{
		border-radius: 0;
		box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0);
		background-color: transparent;
		overflow: visible;
	}
	.tracking-info .tracking-data .table-basic table tr,
	.tracking .table-basic table tr{
		position: relative;
		display: block;
		padding: 13px 0 13px 27px;
	}
	.tracking-info .tracking-data .table-basic table tr:before,
	.tracking .table-basic table tr:before{
		position: absolute;
		left: 0;
		top: 50%;
		-ms-transform: translateY(-50%);
		-webkit-transform: translateY(-50%);
		transform: translateY(-50%);
		width: 11px;
		height: 11px;
		-moz-border-radius: 50% ;
		-webkit-border-radius: 50% ;
		border-radius: 50% ;
		content: '';
		display: block;
		background: #8aa385;
		z-index: 2;
	}
	.tracking-info .tracking-data .table-basic table tr:after,
	.tracking .table-basic table tr:after{
		display: block;
		position: absolute;
		left: 5px;
		top: 50%;
		width: 1px;
		height: calc(100% + 5px);
		background: #ccc;
		content: '';
		z-index: 1;
	}
	.tracking-info .tracking-data .table-basic table tr:last-child:after,
	.tracking .table-basic table tr:last-child:after{
		top: auto;
		bottom: 50%;
		height: 100%;
	}
	.tracking-info .tracking-data .table-basic.only-one table tr:after,
	.tracking .table-basic.only-one table tr:after{
		display: none;
	}
	.tracking-info .tracking-data .table-basic table td,
	.tracking .table-basic table td{
		border: none;
		padding: 0;
		display: block;
		font-size: 12px;
	}
	.tracking-info .tracking-data .table-basic table td:last-child,
	.tracking .table-basic table td:last-child{
		font-size: 10px;
		margin-top: 6px;
	}
	.account-address .item{
		display: block;
		padding: 0;
		margin: 30px 0 0;
		width: 100%;
	}
	.account-address .item:first-child{
		margin-top: 0;
	}
	.account-wishlist td svg{
		width: 16px;
		height: 16px;
	}
	.account-wishlist td img{
		margin: 0 12px 0 7px;
		max-width: none;
		width: 50px;
		height: auto !important;
	}
	.account-wishlist td.on-mobile{
		padding-left: 97px;
		position: relative;
		top: -20px;
	}
	.account-review .item .feedback{
		padding-left: 0;
	}
	.popup-search .holder img{
		max-width: 130px;
		vertical-align: top;
	}
	.popup-search .cls{
		top: 25px;
		right: 15px;
	}
	.popup-search .cls img{
		width: 30px;
		height: 30px;
	}
	.popup-search input{
		height: 50px;
		font-size: 15px;
		padding: 0 38px 0 18px;
	}
	.popup-search form button{
		right: 10px;
		font-size: 15px;
	}
	.popup-search form{
		margin-top: 30px;
		min-width: 1px;
		width: 100%;
	}
	.popup-search .holder{
		padding: 0 15px;
		width: 100%;
		position: relative;
		top: -50px;
	}
	.inner-lady-boss .main{
		min-height:1px;
	}
	.inner-home .testimonial .from .slick-carousel .slick-track{
		width: 100% !important;
		text-align: center;
		transform: translate3d(0px, 0px, 0px) !important;
	}
	.inner-home .testimonial .from .slick-carousel .slick-track .item{
		float: none;
		display: inline-block;
		vertical-align: middle;
		width: 110px;
		padding: 0 10px 20px;
	}
	.inner-home .testimonial .from .holder{
		padding: 15px;
	}
	.menu-sidebar,
	.popup-credential{
		overflow-y: scroll;
	}
	.account-address .item h3{
		color: #22272b;
	}
	.inner-checkout .order-data .action .checky label{
		font-size: 12px;
	}
	.inner-checkout .order-data .action .checky label span:before{
		margin-right: 7px;
	}
	.popup-order,
	.popup-credential, .popup-newsletter,
	.popup-password, .popup-review, .popup-search,
	.cart-layer, .menu-layer,
	body.open-search,
	body.open-menuside,
	body.open-password,
	body.open-newsletter,
	body.open-review,
	body.open-cred,
	body.open-cart{
		height: calc(100vh + 100px);
	}
	.popup-credential .layer, .popup-newsletter .layer, .popup-password .layer, .popup-review .layer, .popup-order .layer{
		position: relative;
		top: -50px;
	}
	.inner-checkout .order-data .action .checky span:after{
		top: 2px;
	}
	.tracking-data h3.for-mobile{
		display: block;
		color: #22272b;
		font-size: 16px;
		margin-bottom: 20px;
		padding: 0 15px;
		font-family: 'Lustria-Regular';
	}
	.inner-tracking-result .order-detail{
		margin-bottom: 30px;
	}
	.related-product .rowflex .product-item{
		max-width: 50%;
	}
}
@media (max-width: 768px) and (orientation:landscape) {
	.popup-password,
	.popup-credential {
		align-items: flex-start;
		padding-top: 30px;
		overflow-y: scroll;
	}
	.popup-password .layer,
	.popup-credential .layer{
		top: 0;
		margin-bottom: 30px;
	}
}
/* Custom mobile */
@media (max-width: 480px) {
	.form-basic .form-wrap > .rowflex,
	.form-basic form > .rowflex{
		display: block;
		margin-left: 0;
		margin-right: 0;
	}
	.form-basic .form-wrap > .rowflex > *{
		padding: 0;
		margin-top: 22px;
	}
	.form-basic .form-wrap > .rowflex > *:first-child{
		margin: 0;
	}
	.inner-checkout .user-data h3,
	.inner-checkout .user-data .form-wrap{
		padding: 16px;
	}
	.widget_search input[type='search'],
	.dropselect select, .form-basic input[type="text"],
	.form-basic input[type="tel"], .form-basic input[type="email"],
	.form-basic input[type="password"], .form-basic textarea{
		padding: 0 12px;
	}
	.form-basic textarea{
		padding: 12px;
	}
	.dropselect select{
		background-position: 95% center !important;
	}
	#form-profile .dropselect select,
	.inner-join .item .dropselect select{
		background-position: 91% center !important;
	}
	.crumb .wrapper i{
		margin: 0 5px;
	}
	.inner-product .main .rowflex{
		margin: 0 -6px;
	}
	.inner-product .main .rowflex > *{
		flex: 50%;
		padding: 0 6px;
		max-width: 50%;
	}
	.inner-product .main .filter .sort > form > *,
	.inner-product .main .filter .sort > *:not(form){
		display: block;
		width: 100%;
		margin: 12px 0 0;
	}
	.inner-product .main .filter .sort,
	.inner-product .main .filter .sort > form > *:first-child,
	.inner-product .main .filter .sort > *:not(form):first-child{
		margin-top: 0;
		margin-left: 0;
	}
	.inner-home .flash-sale .item .pricing strong{
		font-size: 11px;
	}
	.inner-home .flash-sale .item h3{
		font-size: 10px;
	}
	.inner-home .flash-sale .stock-status{
		font-size: 9px;
	}
	.inner-home .flash-sale .item .pricing span,
	.inner-home .flash-sale .cat a{
		font-size: 8px;
	}
	.inner-account .account-cred .layer, .detail-product .review .layer{
		padding: 20px 20px 25px;
	}
	.detail-product .review .rate-group .meta span, .account-review .item .meta span{
		margin: 0 10px;
	}
	.detail-product .review .rate-group .meta strong, .account-review .item .meta strong{
		padding: 5px 10px;
		font-size: 10px;
	}
	#form-profile .fgroup > .rowflex{
		margin: 0 -6px;
	}
	#form-profile .fgroup > .rowflex > *{
		padding: 0 6px;
	}
	.change-password-mobile {
		position: relative;
		right: auto;
		top: auto;
	}
	.account-address-edit form .button.has-loading,
	#form-profile .button.has-loading{
		width: 100%;
		text-align: center;
	}
	.inner-home .flash-head .fcount span{
		font-size: 12px;
	}
	.inner-home .flash-head h2{
		font-size: 16px;
		top: -6px;
		margin-right: 10px;
	}
	.inner-home .flash-head .fcount span strong{
		padding: 5px 7px;
	}
	.inner-home .flash-head h2:before{
		transform: scale(.7,.7);
		margin-right: 4px;
		top: 8px;
	}
}

@media (max-width: 360px) {
	.detail-product .info .util .button{
		padding: 13px 10px;
	}
	.menu-sidebar .location,
	.user-nav ul a, .menu-sidebar .track a, .menu-mobile a:not(.dropmobile){
		padding: 10px 15px;
	}
	.menu-logo{
		padding: 15px 10px;
	}
	.menu-mobile li .dropmobile{
		height: 35px;
		line-height: 35px;
	}
	.tab-basic .tab-head a{
		margin-left: 5px;
	}
	.inner-checkout .order-data .action .checky label{
		font-size: 11px;
	}
}
@media (min-width: 1230px) {

}

#responsive{
	display:block;
	width:30px;
	height: 30px;
	position: fixed;
	bottom:30px;
	left: 30px;
	z-index: 9999;
}
/** RESPONSIVE VIEWER **/
@media (max-width: 1259px) {  #responsive{background: blueViolet !important;}}
@media (max-width: 991px) {  #responsive{background: red !important;}}
@media (max-width: 768px) {  #responsive{background: blue !important;}}
@media (max-width: 480px) {  #responsive{background: cyan !important;}}
@media (max-width: 360px) {  #responsive{background: green !important;}}