@charset "UTF-8";
/** HEADER **/
#top{
	-webkit-transition:padding 0.2s ease-in;
	-moz-transition:padding 0.2s ease-in;
	-o-transition:padding 0.2s ease-in;
	-ms-transition:padding 0.2s ease-in;
	transition:padding 0.2s ease-in;
	padding-top: 0;
}
#top.has-popup{
	padding-top: 39px;
}
.popup-info{
	background: #8aa385;
	color: #fff;
	padding: 10px 0;
	text-align: center;
	overflow: hidden;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	z-index: 777;
}
.popup-info .txt a{
	color: #fff;
	text-decoration: underline;
}
.popup-info b{
	font-family: 'NunitoSans-Bold';
}
.popup-info .wrapper{
	position: relative;
}
.popup-info .cls{
	position: absolute;
	right: 0;
	top: 50%;
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 12px;
	height: 12px;
	display: block;
	background: url(../img/icon/close-white.svg) no-repeat;
	-webkit-transition:opacity 0.2s ease-in;
	-moz-transition:opacity 0.2s ease-in;
	-o-transition:opacity 0.2s ease-in;
	-ms-transition:opacity 0.2s ease-in;
	transition:opacity 0.2s ease-in;
}
.popup-info .cls:hover{
	opacity: .7;
}
#top .top-head{
	padding: 30px 0 20px;
	text-align: center;
}
.top-head .logo{
	max-width: 187px;
	display: inline-block;
}
.top-head .logo img{
	vertical-align: top;
	max-width: 100%;
}
.top-head .holder{
	position: relative;
}
#top .account{
	right: 0;
	text-align: left;
	position: absolute;
	top: 50%;
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
#top .account.active{
	z-index: 99;
}
#top .account > a{
	display: inline-block;
	position: relative;
	color: #8aa385;
	border: 1px solid #8aa385;
	-moz-border-radius: 2px ;
	-webkit-border-radius: 2px ;
	border-radius: 2px ;
	height: 42px;
	line-height: 42px;
	padding: 0 12px 0 50px;
}
#top .account > a:before,
#top .account > a:after{
	position: absolute;
	content: '';
	display: block;
	top: 50%;
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
}
#top .account > a:before{
	background: url(../img/icon/user.svg) no-repeat;
	width: 14px;
	height: 18px;
	left: 12px;
}
#top .account > a:after{
	width: 1px;
	height: 24px;
	background: #eee;
	left: 38px;
}
#top .account .dropholder{
	position: absolute;
	right: 0;
	background: #fff;
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.2);
	min-width: 205px;
	-moz-border-radius: 4px ;
	-webkit-border-radius: 4px ;
	border-radius: 4px ;
	overflow: hidden;
	-webkit-transition:all 0.2s ease-in;
	-moz-transition:all 0.2s ease-in;
	-o-transition:all 0.2s ease-in;
	-ms-transition:all 0.2s ease-in;
	transition:all 0.2s ease-in;
	opacity: 0;
	visibility: hidden;
	margin-top: 0px;
}
#top .account.active .dropholder{
	margin-top: 5px;
	visibility: visible;
	opacity: 1;
}
.user-nav span,
#top .account .dropholder span{
	display: block;
	text-align: center;
	font-family: 'NunitoSans-Bold';
	color: #fff;
	text-transform: uppercase;
	background: #8aa385;
	padding: 10px 5px;
}
#top .account .dropholder ul{
	display: block;
	padding: 16px 18px;
}
#top .account .dropholder li{
	display: block;
	border-top: 1px solid #eee;
	padding-top: 11px;
	margin-top: 11px;
}
#top .account .dropholder li:first-child{
	border: none;
	padding: 0;
	margin: 0;
}
#top .account .dropholder a{
	color: #22272b;
	font-size: 15px;
	-webkit-transition:color 0.2s ease-in;
	-moz-transition:color 0.2s ease-in;
	-o-transition:color 0.2s ease-in;
	-ms-transition:color 0.2s ease-in;
	transition:color 0.2s ease-in;
}
#top .account .dropholder a:hover{
	color: #8aa385;
}
#top .account .dropholder .logout a{
	color: #d40000;
	font-family: 'NunitoSans-SemiBold';
}
#top .bot-head{
	position: relative;
	z-index: 3;
	padding: 15px 0 25px;
	-webkit-box-shadow:   0px 2px 5px 2px rgba(30, 30, 30, .1);
	-moz-box-shadow:      0px 2px 5px 2px rgba(30, 30, 30, .1);
	box-shadow:        0 4px 5px -2px rgba(30, 30, 30, .1);
}
.bot-head .mainmenu{
	float: left;
}
.mainmenu > ul > li{
	float: left;
	margin-left: 32px;
}
.mainmenu > ul > li:first-child{
	margin: 0;
}
.mainmenu > ul > li > a{
	color: #22272b;
	text-transform: uppercase;
	display: block;
}
.mainmenu > ul > li.menu-item-has-children > a{
	position: relative;
	z-index: 2;
}
.mainmenu > ul > li.menu-item-has-children > a:after{
	content: '▲';
	left: calc(50% - 10px);
	display: block;
	position: absolute;
	transform: scaleX(2);
	font-size: 23px;
	text-shadow:     0 -1px 1px rgba(0,0,0,.1);
	color: #fff;
	-webkit-transition:all 0.2s ease-in;
	-moz-transition:all 0.2s ease-in;
	-o-transition:all 0.2s ease-in;
	-ms-transition:all 0.2s ease-in;
	transition:all 0.2s ease-in;
	visibility: hidden;
	opacity: 0;
	bottom: -20px;
}
.mainmenu > ul > li.menu-item-has-children:hover > a:after{
	bottom: -30px;
	opacity: 1;
	visibility: visible;
}
.mainmenu  ul  li.current-menu-parent > a,
.mainmenu  ul  li.current-menu-item > a,
.mainmenu > ul > li:hover > a,
.mainmenu > ul > li > a:hover{
	color: #8aa385;
}
.mainmenu  ul  li.current-menu-parent > a,
.mainmenu  ul  li.current-menu-item > a{
	font-family: 'NunitoSans-Bold';
}
.mainmenu li.menu-item-has-children{
	position: relative;
}
.mainmenu li.menu-item-has-children .sub-menu{
	position: absolute;
	background: #fff;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
	border: solid 1px #eeeeee;
	left: 0;
	margin-top: 10px;
	display: block;
	opacity: 0;
	visibility: hidden;
	-webkit-transition:all 0.2s ease-in;
	-moz-transition:all 0.2s ease-in;
	-o-transition:all 0.2s ease-in;
	-ms-transition:all 0.2s ease-in;
	transition:all 0.2s ease-in;
	min-width: 180px;
	-moz-border-radius: 4px ;
	-webkit-border-radius: 4px ;
	border-radius: 4px ;
	overflow: hidden;
	padding: 20px;
}
.mainmenu li.menu-product .sub-menu{
	min-width: 930px;
	left: -50px;
	padding: 0;
}
.mainmenu li.menu-mira .sub-menu{
	left: -150px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	min-width: 930px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 40px 30px 50px;
}
.mainmenu li.menu-mira .sub-menu > *{
	flex: 1;
	margin: 0;
}
.menu-mobile li.menu-mira li img,
.mainmenu li.menu-mira li img{
	vertical-align: top;
}
.menu-mobile li.menu-mira li figure,
.mainmenu li.menu-mira li figure{
	display: inline-block;
	vertical-align: middle;
	width: 110px;
}
.menu-mobile li.menu-mira li .caption,
.mainmenu li.menu-mira li .caption{
	display: inline-block;
	vertical-align: middle;
	width: calc(100% - 110px);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 15px 0 25px;
}
.menu-mobile li.menu-mira li h3,
.mainmenu li.menu-mira li h3{
	color: #22272b;
	font-size: 20px;
	line-height: 130%;
	margin-bottom: 7px;
}
.menu-mobile li.menu-mira li  h3 a,
.mainmenu li.menu-mira li h3 a{
	color: #22272b;
	font-family: 'Lustria-Regular';
}
.menu-mobile li.menu-mira li h3 a:hover,
.mainmenu li.menu-mira li h3 a:hover{
	color: #8aa385;
	font-family: 'Lustria-Regular';
	text-decoration: none;
}
.menu-mobile li.menu-mira li .txt,
.mainmenu li.menu-mira li .txt{
	line-height: 160%;
	margin-bottom: 12px;
}
.mainmenu li.menu-item-has-children:hover .sub-menu{
	opacity: 1;
	visibility: visible;
	margin-top: 20px;
}
.mainmenu li.menu-product  .coldiv{
	float: left;
	width: 75%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 50px;
}
.mainmenu li.menu-product .coldiv:first-child{
	width: 25%;
}
.mainmenu li.menu-product .coldiv h3{
	font-family: 'Lustria-Regular';
	color: #88a184;
	font-size: 24px;
	line-height: 100%;
	margin-bottom: 15px;
}
.mainmenu li.menu-item-has-children li{
	display: block;
	margin-top: 10px;
}
.mainmenu li.menu-item-has-children.menu-product li{
	margin-top: 13px;
}
.mainmenu li.menu-item-has-children.menu-product li:first-child,
.mainmenu li.menu-item-has-children li:first-child{
	margin: 0;
}
.mainmenu li.menu-item-has-children li  a{
	color: #606666;
}
.mainmenu li.menu-item-has-children li  a:hover{
	color: #8aa385;
	text-decoration: underline;
	font-family: 'NunitoSans-Bold';
}
.bot-head .util{
	float: right;
}
.bot-head .util > *{
	display: inline-block;
	vertical-align: middle;
	margin-left: 20px;
}
.bot-head .util > *:first-child{
	margin: 0;
}
.mainmenu li.menu-product .coldiv .rowflex{
	margin: 0 -10px;
}
.mainmenu li.menu-product .coldiv .item{
	text-align: center;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 10px;
	max-width: 210px;
}
.mainmenu li.menu-product .coldiv .item img{
	width: 100%;
	vertical-align: top;
}
.mainmenu li.menu-product .item h4{
	line-height: 150%;
	margin: 10px 0 8px;
}
.mainmenu li.menu-product .coldiv .item a{
	color: #22262a;
	font-family: 'Lustria-Regular';
}
.mainmenu li.menu-product .coldiv .item a:hover{
	font-family: 'Lustria-Regular';
	color: #8aa385;
}
.mainmenu li.menu-product .sub-menu .extra{
	background: #93a196;
	text-align: center;
	color: #fff;
	padding: 15px 10px;
}
.bot-head .util .search a{
	display: block;
	width: 17px;
	height: 17px;
	background: url(../img/icon/search.svg) no-repeat;
}
.bot-head .util .cart > a{
	width: 17px;
	height: 19px;
	background: url(../img/icon/cart.svg) no-repeat;
	display: block;
	position: relative;
}
.bot-head .util .cart > a b{
	position: absolute;
	z-index: 2;
	background: #95a693;
	font-size: 10px;
	color: #fff;
	width: 15px;
	height: 15px;
	-moz-border-radius: 50% ;
	-webkit-border-radius: 50% ;
	border-radius: 50% ;
	line-height: 16px;
	text-align: center;
	right: -8px;
	top: -3px;
}
.bot-head .util .location{
	border-left: 1px solid #eeeeee;
	padding-left: 18px;
	margin-left: 25px;
}
.menu-sidebar .location a,
.bot-head .util .location a{
	position: relative;
	display: block;
	color: #22272b;
	-webkit-transition:color 0.2s ease-in;
	-moz-transition:color 0.2s ease-in;
	-o-transition:color 0.2s ease-in;
	-ms-transition:color 0.2s ease-in;
	transition:color 0.2s ease-in;
	padding-left: 23px;
}
.menu-sidebar .location a:hover,
.bot-head .util .location a:hover{
	color: #8aa385;
}
.menu-sidebar .location a:before,
.bot-head .util .location a:before{
	position: absolute;
	left: 0;
	top: 0;
	width: 13px;
	height: 18px;
	background: url(../img/icon/pin.svg) no-repeat;
	content: '';
}
#top .is-sticky .bot-head{
	width: 100%;
	z-index: 666 !important;
	background: #fff;
	top: 0 !important;
	-webkit-transition:top 0.2s ease-in;
	-moz-transition:top 0.2s ease-in;
	-o-transition:top 0.2s ease-in;
	-ms-transition:top 0.2s ease-in;
	transition:top 0.2s ease-in;
	padding-bottom: 15px;
}
#top .is-sticky .account > a:after,
#top .is-sticky .account > a span,
.is-sticky .bot-head .util .location a span,
.bot-head .util .account,
.bot-head .bot-logo{
	display: none;
}
.is-sticky .bot-head .util .location a{
	width: 13px;
	height: 18px;
	padding: 0;
}
.is-sticky .bot-head .bot-logo{
	display: block;
	float: left;
	max-width: 120px;
	margin-right: 80px;
}
.is-sticky .bot-head .bot-logo img{
	vertical-align: top;
	max-width: 100%;
}
.is-sticky .bot-head .util{
	position: relative;
	top: 8px;
}
.is-sticky .bot-head .mainmenu{
	position: relative;
	top: 10px;
}
.is-sticky .bot-head .util .location {
	border: none;
	border-right: 1px solid #eeeeee;
	padding: 0 18px 0 0;
	margin-left: 25px;
}
#top .is-sticky .account{
	display: inline-block;
	position: relative;
	top: auto;
	right: auto;
	-ms-transform: translateY(0%);
	-webkit-transform: translateY(0%);
	transform: translateY(0%);
}
#top .is-sticky .account > a{
	width: 14px;
	height: 18px;
	border: none;
	padding: 0;
	display: block;
}
#top .is-sticky .account > a:before{
	position: relative;
	-ms-transform: translateY(0%);
	-webkit-transform: translateY(0%);
	transform: translateY(0%);
	top: auto;
	left: auto;
	background: url(../img/icon/user-black.svg) no-repeat;
}

/** INNER PAGE **/
.inner-page{
	padding: 40px 0 120px;
}
.inner-page .pusher{
	max-width: 790px;
	margin: 0 auto;
}
/** FOOTER **/
#bottom{
	background: #f5f5f5;
}
.footer-widget {
	padding-bottom: 40px;
}
.footer-widget .widget p{
	margin: 15px 0;
	font-size: 15px;
}
.footer-widget .widget p a{
	color: #88a184;
	font-family: 'NunitoSans-Bold';
}
.footer-widget .widget img{
	display: inline-block;
	vertical-align: middle;
	margin-right: 10px;
}
.footer-widget .rowflex{
	margin: 0 -10px;
}
.footer-widget .item{
	flex: 20%;
	padding: 0 10px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.footer-widget .item:first-child,
.footer-widget .item:last-child{
	flex: 30%;
}
.footer-widget .widget{
	margin-top: 10px;
}
.footer-widget .widget:first-child{
	margin: 0;
}
.tribute{
	padding-bottom: 40px;
}
.tribute .copy{
	float: left;
	color: #616767;
	font-size: 16px;
	position: relative;
	top: 14px;
}
.tribute .util{
	float: right;
}
.tribute .util li,
.tribute .util > *{
	display: inline-block;
	vertical-align: middle;
}
.tribute .util li{
	margin-left: 10px;
	padding-left: 12px;
	font-size: 16px;
	text-transform: uppercase;
	border-left: 1px solid #cccccc;
	color: rgba(97, 103,103, .4);
	line-height: 100%;
}
.tribute .util li:first-child{
	margin: 0;
	padding: 0;
	border: none;
}
.tribute .util li a{
	color: #616767;
}
.tribute .totop{
	width: 50px;
	height: 50px;
	margin-left: 40px;
	line-height: 50px;
	text-align: center;
	color: #fff;
	background: #8aa385;
	-moz-border-radius: 50% ;
	-webkit-border-radius: 50% ;
	border-radius: 50% ;
	opacity: 1;
	font-size: 25px;
}
.tribute .totop:hover{
	opacity: .7;
}
/** INNER PAGE HALF **/
.inner-page-half{
	background: #f9f9f9;
	overflow: hidden;
}
.inner-page-half .wrapper{
	max-width: 1280px;
}
.inner-page-half .navside{
	float: left;
	width: 25%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 40px 45px 0 0;
}
.inner-page-half .navside > *{
	margin-top: 40px;
}
.inner-page-half .navside > *:first-child{
	margin: 0;
}
.inner-page-half .navside ul{
	display: block;
	box-shadow: 0 2px 6px 0 rgba(111, 111, 111, 0.15);
	border: solid 1px #eeeeee;
	background-color: #ffffff;
	-moz-border-radius: 8px ;
	-webkit-border-radius: 8px ;
	border-radius: 8px ;
	overflow: hidden;
}
.inner-page-half .navside li{
	display: block;
	padding: 20px 25px;
	border-top: 1px solid #eeeeee;
	position: relative;
}
.inner-page-half .navside li:first-child{
	border: none;
}
.inner-page-half .navside li a{
	color: #22272b;
	font-size: 16px;
}
.inner-page-half .navside li a:hover,
.inner-page-half .navside li.current-menu-item a{
	color: #8aa385;
}
.inner-page-half .navside li a b{
	font-family: 'NunitoSans-Bold';
	color: #8aa385;
}
.inner-page-half .navside li.current-menu-item a{
	font-family: 'NunitoSans-Bold';
}
.inner-page-half .navside li.current-menu-item:after{
	display: block;
	position: absolute;
	right: 25px;
	top: 25px;
	width: 10px;
	height: 10px;-moz-border-radius: 5px ;
	-webkit-border-radius: 5px ;
	border-radius: 5px ;
	content: '';
	background: #8aa385;
}
.inner-page-half .main{
	float: left;
	width: 75%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 60px 0 180px 45px;
	background: #fff;
	position: relative;
}
.inner-page-half .main:before{
	position: absolute;
	left: 0;
	top: 0;
	width: 100vw;
	height: 100%;
	content: '';
	background: #fff;
	display: block;
}
.inner-page-half .main .content{
	position: relative;
	z-index: 2;
}
/** INNER ERROR **/
.inner-error{
	text-align: center;
	padding: 40px 0 130px;
}
.inner-error .pusher{
	max-width: 780px;
	margin: 0 auto;
}
.inner-error .caption{
	font-size: 18px;
	line-height: 160%;
	margin: 40px 0;
	letter-spacing: normal;
}
.inner-error .caption strong,
.inner-error .caption b{
	color: #8aa385;
	font-family: 'NunitoSans-Bold';
}
.inner-error .action > *{
	margin: 0 7px;
}
/** CREDENTIAL **/
.popup-order,
.popup-search,
.popup-password,
.popup-newsletter,
.popup-review,
.popup-credential{
	position: fixed;
	top: -10px;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0,0,0,.5);
	display: flex;
	align-items: center;
	justify-content: center;
	opacity: 0;
	visibility: hidden;
	-webkit-transition:all 0.2s ease-in;
	-moz-transition:all 0.2s ease-in;
	-o-transition:all 0.2s ease-in;
	-ms-transition:all 0.2s ease-in;
	transition:all 0.2s ease-in;
	z-index: 1;
}
.popup-search{
	background: rgba(0,0,0,.85);
}
body.open-order  .popup-order,
body.open-search .popup-search,
body.open-password .popup-password,
body.open-newsletter .popup-newsletter,
body.open-review .popup-review,
body.open-cred .popup-credential{
	top: 0;
	visibility: visible;
	opacity: 1;
	z-index: 9999;
}
.popup-credential .item{
	display: none;
}
.popup-credential .item.active{
	display: block;
}
.popup-order .layer,
.popup-password .layer,
.popup-newsletter .layer,
.popup-review .layer,
.popup-credential .layer{
	max-width: 415px;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	background: #fff;
	position: relative;
	-moz-border-radius: 4px ;
	-webkit-border-radius: 4px ;
	border-radius: 4px ;
	padding: 32px;
}
.to-forgot.popup-credential .layer{
	max-width: 515px;
}
.popup-order .layer .cls,
.popup-search .cls,
.popup-password .layer .cls,
.popup-newsletter .layer .cls,
.popup-review .layer .cls,
.popup-credential .layer .cls{
	display: block;
	position: absolute;
	right: -11px;
	top: -11px;
}
.popup-search .cls{
	right: 35px;
	top: 35px;
}
.popup-search .cls img{
	width: 40px;
	height: 40px;
}
.popup-order .cls img,
.popup-password .cls img,
.popup-newsletter .cls img,
.popup-review .layer .cls img,
.popup-credential .layer .cls img{
	width: 32px;
	height: 32px;
}
.inner-account .account-cred .txt,
.popup-credential .txt{
	margin-bottom: 30px;
}
.popup-password h2,
.inner-account .account-cred h2,
.popup-newsletter h2,
.inner-new-password h2,
.popup-credential .txt h2{
	font-family: 'Lustria-Regular';
	color: #22272b;
	line-height: 130%;
	font-size: 25px;
	margin-bottom: 9px;
}
.inner-account .account-cred .txt p,
.inner-new-password p,
.popup-credential .txt p{
	color: #616767;
	font-size: 15px;
	line-height: 160%;
}
.inner-account .account-cred  .woocommerce-password-strength,
.inner-account .account-cred .woocommerce-password-hint{
	display: block;
	margin-top: 10px;
	line-height: 160%;
}
.popup-credential a{
	color: #8aa385;
	font-family: 'NunitoSans-SemiBold';
}
.popup-credential a:hover{
	text-decoration: underline;
}
.popup-credential .extra{
	text-align: center;
	margin-top: 17px;
	line-height: 160%;
}
.popup-credential #tab-forgot .extra{
	text-align: left;
}
.popup-credential .extra a{
	font-family: 'NunitoSans-Bold';
}
.popup-newsletter .layer{
	max-width: 745px;
	padding: 17px;
	text-align: center;
}
.popup-newsletter .layer figure img{
	width: 100%;
	vertical-align: top;
	-moz-border-radius: 2px ;
	-webkit-border-radius: 2px ;
	border-radius: 2px ;
}
.popup-newsletter .layer .rowflex{
	margin: 0 -15px;
	align-items: center;
}
.popup-newsletter .layer .rowflex > *{
	padding: 0 15px;
}
.popup-newsletter h2{
	color: #95ad90;
}
.popup-newsletter .txt{
	color: #262c31;
	line-height: 160%;
	font-size: 14px;
}
.popup-newsletter .form-basic{
	margin: 30px 0 15px;
}
.popup-newsletter .form-basic + .txt{
	color: #616767;
}
.popup-newsletter .form-basic input[type='email']{
	text-align: center;
	height: 46px;
}
.popup-newsletter .form-basic .button{
	width: 100%;
}
/** INNER AVO STORIES **/
.inner-avo-stories{
	padding: 40px 0 130px;
}
.section-blog .slide,
.inner-home .hero,
.inner-avo-stories .slide {
	position: relative;
}
.section-blog .slidenav,
.inner-home .hero .slidenav,
.inner-avo-stories .slide .slidenav{
	position: absolute;
	left: 0;
	top: 50%;
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 100%;
}
.section-blog .slidenav a,
.inner-home .hero .slidenav a,
.inner-avo-stories .slide .slidenav a{
	float: right;
	width: 36px;
	height: 70px;
	line-height: 72px;
	text-align: center;
	font-size: 30px;
	color: #fff;
	background: #8aa385;
	-moz-border-radius: 35px 0 0 35px ;
	-webkit-border-radius: 35px 0 0 35px ;
	border-radius: 35px 0 0 35px ;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 0 0 12px;
	text-shadow: 0 0 1px rgba(0,0,0,.2);
}
.section-blog .slidenav a:hover,
.inner-home .hero .slidenav a:hover,
.inner-avo-stories .slide .slidenav a:hover{
	background: #6d8967;
}
.section-blog .slidenav a:first-child,
.inner-home .hero .slidenav a:first-child,
.inner-avo-stories .slide .slidenav a:first-child{
	float: left;
	-moz-border-radius: 0 35px 35px 0 ;
	-webkit-border-radius: 0 35px 35px 0 ;
	border-radius: 0 35px 35px 0 ;
	padding: 0 12px 0 0px;
}
.inner-lady-boss .slide .slick-carousel,
.inner-avo-stories .slide .slick-carousel{
	margin: 0 -17px;
}
.inner-lady-boss .slide .slick-carousel .item,
.inner-avo-stories .slide .item{
	padding: 0 17px;
}
.inner-lady-boss .slide .slick-carousel .item a,
.inner-avo-stories .slide .item a{
	display: block;
	position: relative;
}
.inner-lady-boss .slide .slick-carousel .item a:after,
.inner-avo-stories .slide .item a:after{
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	content: '';
	background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, #000000);
	z-index: 2;
}
.inner-lady-boss .slide .slick-carousel .item img,
.inner-avo-stories .slide .item img{
	width: 100%;
	vertical-align: top;
}
.inner-lady-boss .slide .slick-carousel .item figcaption,
.inner-avo-stories .slide .item figcaption{
	position: absolute;
	z-index: 3;
	display: block;
	width: 100%;
	padding: 0 30px 25px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	bottom: 0;
	left: 0;
	color: #fff;
	font-family: 'Lustria-Regular';
	font-size: 20px;
	letter-spacing: normal;
}
.inner-lady-boss .slide .slick-carousel .item:hover figcaption,
.inner-avo-stories .slide .item:hover figcaption{
	color: #8aa385;
}
/** INNER ACCOUNT **/
.inner-account{
	padding: 40px 0 130px;
}
.inner-account .intro{
	margin-bottom: 20px;
	width: 100%;
}
.inner-account .intro h2{
	color: #22272b;
	font-size: 30px;
	font-family: 'Lustria-Regular';
	line-height: 130%;
	margin-bottom: 13px;
}
.inner-account .intro .format-text{
	max-width: 820px;
}
.inner-account .content .wrapper > .layer{
	padding: 32px;
	background: #fff;
	border-radius: 6px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
	border: solid 1px #eeeeee;
	background-color: #ffffff;
}
.inner-account .content .navacc{
	float: left;
	width: 150px;
	position: relative;
}
.inner-account .content .navacc:after{
	display: block;
	position: absolute;
	right: -27px;
	top: 0;
	width: 2px;
	height: 100%;
	background: #eee;
	content: '';
}
.inner-account .navacc svg {
	width: 17px;
}
.inner-account .navacc svg path{
	fill: #616767 ;
}
.inner-account .navacc li.is-active svg path,
.inner-account .navacc li.current svg path,
.inner-account .navacc a:hover svg path{
	fill: #8aa385 ;
}
.inner-account .navacc .wishlist a svg path{
	fill: none ;
	stroke: #616767;
}
.inner-account .navacc .wishlist.is-active a svg path,
.inner-account .navacc .wishlist.current a svg path,
.inner-account .navacc .wishlist a:hover svg path{
	fill: none ;
	stroke: #8aa385;
}
.inner-account .navacc li {
	margin-top: 28px;
}
.inner-account .navacc li:first-child{
	margin: 0;
}
.inner-account .navacc li a > *{
	display: inline-block;
	vertical-align: middle;
	line-height: 100%;
}
.inner-account .navacc li a span{
	margin-left: 13px;
	position: relative;
	top: 1px;
}
.inner-account .navacc a{
	color: #616767;
}
.inner-account .navacc li.is-active a,
.inner-account .navacc li.current a,
.inner-account .navacc a:hover{
	color: #8aa385;
}
.inner-account .navacc li.is-active a,
.inner-account .navacc li.current a{
	font-family: 'NunitoSans-Bold';
}
.inner-account .content .main{
	float: right;
	width: calc(100% - 175px);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-left: 30px;
	border-left: 2px solid #eee;
}
.inner-account .account-detail .info{
	margin-bottom: 22px;
}
.inner-account .account-detail .info > *{
	display: block;
	margin-top: 8px;
	line-height: 100%;
}
.tracking-info .order-detail h3,
.acc-order-detail h3,
.inner-account .account-detail .info h3{
	font-size: 20px;
	color: #22272b;
	margin: 0;
	padding: 0 0 5px;
	font-family: 'Lustria-Regular';
	line-height: 130%;
}
.inner-account .account-detail .info h3 + *{
	color: #8aa385;
}
.inner-account .account-cred .pusher{
	max-width: 420px;
	margin: 0 auto;
}
.inner-account .account-cred a{
	color: #88a184;
}
.inner-account .account-cred a:hover{
	text-decoration: underline;
}
.acc-order table td .order-product{
	margin-top: 8px;
}
.acc-order table td .order-product a{
	color: #22272b;
}
.acc-order table td .order-product:first-child{
	margin: 0;
}
.acc-order table td img{
	max-width: 40px;
	display: inline-block;
	vertical-align: middle;
	margin-right: 12px;
}
.acc-order table td img + *{
	display: inline-block;
	vertical-align: middle;
}
.acc-order table td:first-child a{
	font-family: 'NunitoSans-Bold';
	font-size: 12px;
	color: #88a184;
	text-decoration: underline;
}
.acc-order table td b{
	font-family: 'NunitoSans-Bold';
	color: #88a184;
}
.acc-order table th:last-child,
.acc-order table  td:last-child{
	padding-left: 5px;
	padding-right: 5px;
}
.inner-account .account-detail .user-profile{
	display: flex;
	align-items: center;
}
.inner-account .account-detail .user-profile figure{
	margin-right: 15px;
	position: relative;
	overflow: hidden;
	-moz-border-radius: 50% ;
	-webkit-border-radius: 50% ;
	border-radius: 50% ;
	height: 55px;
	text-align: center;
	max-width: 55px;
	min-width: 55px;
}
.inner-account .account-detail .user-profile figure a{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(255,255,255,.7);
	opacity: 0;
	-webkit-transition:opacity 0.2s ease-in;
	-moz-transition:opacity 0.2s ease-in;
	-o-transition:opacity 0.2s ease-in;
	-ms-transition:opacity 0.2s ease-in;
	transition:opacity 0.2s ease-in;
}
.inner-account .account-detail .user-profile figure:hover a{
	opacity: 1;
}
.inner-account .account-detail .user-profile figure a span{
	display: block;
	position: absolute;
	left: 0;
	top: 50%;
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	text-align: center;
	width: 100%;
	font-size: 12px;
	color: #4e5963;
}
.inner-account .account-detail .user-profile figure img{
	width: auto;
	vertical-align: top;
	height: 100%;
	display: inline-block;
	min-width: 55px;
	position: absolute;
	left: 0;
	top: 0;
	max-width: none;
}
/** INNER ABOUT PAGE **/
.inner-about{
	padding: 70px 0 130px;
}
.inner-about .intro {
	margin-bottom: 70px;
}
.inner-about .intro .format-text{
	max-width: 790px;
}
.inner-about .discover{
	position: relative;
	padding-bottom: 40px;
}
.inner-retinol .video .ornament,
.inner-home .store .ornament,
.inner-about .discover .ornament{
	display: block;
	width: 100%;
	height: 200px;
	clip-path: polygon(0 68%, 100% 0, 100% 100%, 0 100%);
	background: #f9f9f9;
	position: absolute;
	left: 0;
	bottom: 0;
	z-index: 1;
}
.inner-about .discover .rowflex{
	align-items: center;
	position: relative;
	z-index: 2;
}
.inner-about  .discover strong{
	color: #8aa385;
	font-size: 15px;
	font-family: 'NunitoSans-Bold';
}
.inner-about .discover h2{
	color: #22272b;
	font-size: 30px;
	font-family: 'Lustria-Regular';
	line-height: 140%;
	margin: 20px 0 40px;
}
.inner-about .discover .caption{
	flex: 43%;
	padding-right: 100px;	
}
.inner-about .discover figure{
	flex: 57%;
}
.inner-retinol .video figure img,
.inner-about .discover figure img{
	width: 100%;
	vertical-align: top;
}
.inner-retinol .video a,
.detail-product .desc .tab-item.has-video figure a,
.inner-about .discover figure a{
	display: block;
	position: relative;
	-moz-border-radius: 5px ;
	-webkit-border-radius: 5px ;
	border-radius: 5px ;
	overflow: hidden;
}
.inner-retinol .video a:before,
.detail-product .desc .tab-item.has-video figure a:before,
.inner-about .discover figure a:before{
	display: block;
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	content: '';
	background: rgba(0, 0, 0, 0.5);
}
.inner-retinol .video figure b,
.detail-product .desc .tab-item.has-video figure b,
.inner-about .discover figure b{
	display: block;
	position: absolute;
	left: 0;
	top: 50%;
	text-align: center;
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	width: 100%;
	z-index: 2;
}
.inner-retinol .video figure b i,
.detail-product .desc .tab-item.has-video figure b i,
.inner-about .discover figure b i{
	display: inline-block;
	width: 80px;
	height: 80px;
	-moz-border-radius: 50% ;
	-webkit-border-radius: 50% ;
	border-radius: 50% ;
	background: #89a284;
	color: #fff;
	line-height: 80px;
	font-size: 40px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-left: 10px;
	text-shadow: 0 0 1px rgba(0,0,0,.3);
}
.inner-about .cruelty{
	background-image: linear-gradient(to bottom, #f9f9f9, rgba(238, 238, 238, 0));
	padding: 50px 0 70px;
}
.inner-about .love img{
	width: 100%;
	vertical-align: top;
}
.inner-about .love .caption{
	position: relative;
	max-width: 900px;
	width: 100%;
	padding: 90px 0;
}
.inner-about .love .caption > *{
	position: relative;
	z-index: 2;
}
.inner-about .love .caption:before{
	width: 100vw;
	height: 100%;
	top: 0;
	right: 0;
	display: block;
	background: #93a096;
	content: '';
	z-index: 1;
	position: absolute;
}
.inner-about .love .format-text.nudge-left{
	max-width: 585px;
}
/** INNER MIRACULOUS **/
.inner-mira{
	padding: 0 0 130px;
}
.inner-mira img{
	width: 100%;
	vertical-align: top;
}
.inner-mira .copy {
	padding: 70px 0 100px;
}
.inner-mira .copy .rowflex{
	align-items: center;
}
.inner-mira .copy .caption{
	padding-right: 50px;
}
.inner-mira .copy .format-text{
	margin-bottom: 40px;
}
.inner-mira .copy figure{
	text-align: center;
}
.inner-mira .copy figure img{
	width: 100%;
	max-width: 340px;
}
.inner-mira .benefit{
	position: relative;
	padding: 0 0 100px;
	margin: 0 0 70px;
}
.inner-mira .benefit:before{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	z-index: 1;
	content: '';
	background: #ce8c92;
	clip-path: polygon(0 33%, 100% 13%, 100% 100%, 0 100%);
}
.inner-mira .benefit .rowflex{
	margin: 0 -17px;
	position: relative;
	z-index: 2;
}
.inner-mira .benefit .item{
	padding: 0 17px;
}
.inner-mira .benefit figure{
	display: block;
	margin: 0 0 30px;
}
.inner-mira .action .rowflex{
	align-items: center;
}
.inner-mira .action figure{
	flex: 52%;
}
.inner-mira .action .caption{
	flex: 48%;
	padding-right: 100px;
}
.inner-mira .action strong{
	color: #ce8c92;
	font-size: 15px;
	font-family: 'NunitoSans-Bold';
}
.inner-mira .action h2{
	color: #22272b;
	font-size: 30px;
	font-family: 'Lustria-Regular';
	line-height: 140%;
	margin: 20px 0 40px;
}
/** INNER THANK **/
.inner-thank{
	padding-top: 10px;
}
.inner-thank .pusher > svg{
	max-width: 400px;
	height: auto;
	width: 100%;
}
.inner-thank .pusher{
	max-width: 445px;
	margin: 0 auto;
	text-align: center;
}
.inner-thank .txt{
	line-height: 160%;
	font-size: 18px;
	margin: 32px 0;
}
.inner-thank .txt strong,
.inner-thank .txt b{
	color: #8aa385;
	font-family: 'NunitoSans-Bold';
}
.popup-order .countdown,
.inner-thank .countdown{
	margin-bottom: 32px;
	-moz-border-radius: 4px ;
	-webkit-border-radius: 4px ;
	border-radius: 4px ;
	box-shadow: 0 1px 10px 0 rgba(0, 0, 0, 0.1);
	border: solid 1px #eeeeee;
	background: #fff;
	padding:  0 0 25px;
}
.popup-order .countdown h3,
.inner-thank .countdown h3{
	color: #22272b;
	text-align: center;
	background: #f5f5f5;
	padding: 15px 10px;
	font-family: 'NunitoSans-SemiBold';
	font-size: 16px;
}
.popup-order .countdown .timing,
.inner-thank .countdown .timing{
	padding: 25px 0 20px;
}
.popup-order .countdown .timing span,
.inner-thank .countdown .timing span{
	display: inline-block;
	vertical-align: middle;
	font-size: 24px;
	color: rgba(0, 0, 0, 0.5);
	margin: 0 3px;
}
.popup-order .countdown .timing strong,
.inner-thank .countdown .timing strong{
	font-family: 'NunitoSans-ExtraBold';
	color: #8aa385;
	position: relative;
	top: 1px;
}
.popup-order .countdown small,
.inner-thank .countdown small{
	font-family: 'NunitoSans-Italic';
	font-size: 12px;
	display: block;
	max-width: 260px;
	margin: 0 auto;
	line-height: 160%;
}
.popup-order .transfer,
.inner-thank .transfer{
	border-bottom: 1px solid #eee;
	padding: 0 0 32px;
	margin: 0 0 32px;
}
.popup-order .transfer h3,
.inner-thank .transfer h3{
	font-size: 16px;
	font-family: 'NunitoSans-SemiBold';
	line-height: 130%;
	margin: 0 0 15px;
	color: #616767;
}
.popup-order .transfer .bank,
.inner-thank .transfer .bank{
	display: inline-block;
	margin-bottom: 35px;
}
.popup-order .transfer .bank > *,
.inner-thank .transfer .bank > *{
	display: inline-block;
	vertical-align: top;
}
.popup-order .transfer .bank img,
.inner-thank .bank img{
	max-width: 70px;
	position: relative;
	top: 3px;
}
.popup-order .transfer .bank .caption,
.inner-thank .bank .caption{
	width: calc(100% - 80px);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding-left: 15px;
	text-align: left;
}
.popup-order .transfer .bank .caption strong,
.inner-thank .bank .caption strong{
	display: block;
	color: #22272b;
	font-size: 24px;
	font-family: 'NunitoSans-ExtraBold';
	margin: 0 0 2px;
}
.popup-order .transfer .bank .caption span,
.inner-thank .bank .caption span{
	display: block;
	white-space: nowrap;
}
.popup-order .amount strong,
.inner-thank .amount strong{
	color: #8aa385;
	font-size: 24px;
	font-family: 'NunitoSans-ExtraBold';
}
.popup-order .trf-action,
.inner-thank .trf-action{
	margin-bottom: 20px;
}
.popup-order .trf-action *,
.inner-thank .trf-action *{
	word-wrap: break-word;
	word-break: break-all;
}
.popup-order .trf-action th,
.popup-order .trf-action > h2,
.inner-thank .trf-action th,
.inner-thank .trf-action > h2{
	display: none;
}
/** INNER CART **/
.inner-cart{
	padding: 40px 0 140px;
}
.inner-cart h1{
	color: #22272b;
	font-size: 25px;
	font-family: 'Lustria-Regular';
	margin-bottom: 20px;
}
.inner-cart .summary{
	flex: 65%;
}
.account-wishlist td:first-child > *,
.inner-cart .summary td:first-child > *{
	display: inline-block;
	vertical-align: middle;
}
.account-wishlist td svg,
.inner-cart .summary td svg{
	width: 22px;
	height: 22px;
}
.account-wishlist td img,
.inner-cart .summary td img{
	max-width: 46px;
	margin: 0 20px;
}
.account-wishlist td:first-child a,
.inner-cart .summary td:first-child a{
	max-width: 170px;
	line-height: 160%;
	color: #22272b;
}
.account-wishlist td:first-child a{
	max-width: 200px;
}
.account-wishlist td:first-child a:hover,
.inner-cart .summary td:first-child a:hover{
	color: #8aa385;
}
.account-wishlist td b,
.inner-cart .summary td b{
	color: #8aa385;
	font-family: 'NunitoSans-Bold';
}
.inner-cart .summary .action{
	margin-top: 25px;
}
.inner-cart .summary .action .update-cart{
	float: right;
	opacity: 0;
	visibility: hidden;
}
.inner-cart .summary.updated .action .update-cart{
	opacity: 1;
	visibility: visible;
}
.inner-cart .summary .action > *:first-child{
	float: left;
}
.inner-cart .proceed{
	flex: 35%;
	padding-left: 35px;
}
.inner-cart .proceed table{
	width: 100%;
	margin: 0 0 17px;
}
.inner-cart .proceed table td{
	width: 50%;
	text-align: right;
	vertical-align: middle;
	padding: 15px 0;
	border-top: 1px solid #eee;
	font-size: 16px;
	font-family: 'NunitoSans-SemiBold';
	color: #22272b;
}
.inner-cart .proceed table td:first-child{
	text-align: left;
	color: #626767;
}
.inner-cart .proceed table td strong{
	color: #8ca383;
	font-family: 'NunitoSans-Bold';
}
.inner-cart .proceed table tr:first-child td{
	padding-top: 0;
	border: none;
}

/** INNER CHECKOUT **/
.inner-checkout{
	padding: 40px 0 130px;
}
.inner-checkout .txt {
	color: #22272b;
	font-size: 16px;
	line-height: 160%;
	letter-spacing: 0.2px;
	margin-bottom: 24px;
}
.inner-checkout .txt a{
	color: #8aa385;
	font-family: 'NunitoSans-SemiBold';
}
.inner-checkout .txt a:hover{
	text-decoration: underline;
}
.inner-checkout .txt h1{
	font-size: 25px;
	color: #22272b;
	margin: 0 0 10px;
	line-height: 130%;
	font-family: 'Lustria-Regular';
}
.inner-checkout .user-data{
	flex: 65%;
}
.inner-checkout .user-data .layer{
	-moz-border-radius: 6px ;
	-webkit-border-radius: 6px ;
	border-radius: 6px ;
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
	border: solid 1px #eeeeee;
	background-color: #ffffff;
	overflow: hidden;
}
.inner-checkout .user-data h3{
	color: #000;
	font-family: 'NunitoSans-SemiBold';
	padding: 17px 27px;
	background: #f5f5f5;
}
.inner-checkout .user-data .form-wrap{
	padding: 17px 24px 26px;
}
.inner-checkout .order-data{
	flex: 35%;
	padding-left: 50px;
	margin-top: 0;
}
.inner-checkout .order-data h2{
	color: #8aa385;
	font-size: 25px;
	line-height: 130%;
	margin-bottom: 20px;
	font-family: 'Lustria-Regular';
}
.inner-checkout .order-data table{
	width: 100%;
	border-bottom: 1px solid #eee;
}
.inner-checkout .order-data table td{
	text-align: right;
	width: 30%;
	font-size: 16px;
	padding-bottom: 16px;
	color: #22272b;
	font-family: 'NunitoSans-SemiBold';
}
.inner-checkout .order-data table td:first-child{
	text-align: left;
	width: 70%;
	color: #616767;
	font-family: 'NunitoSans-Regular';
}
.inner-checkout .order-data table td strong{
	font-family: 'NunitoSans-Bold';
}
.inner-checkout .order-data .product-list{
	margin-bottom: 15px;
}
.inner-checkout .order-data h3{
	color: #22272b;
	font-size: 16px;
	line-height: 130%;
	margin-bottom: 13px;
	font-family: 'NunitoSans-SemiBold';
}
.inner-checkout  .dotdio.blocky label{
	position: relative;
}
.inner-checkout  .dotdio.blocky label:after{
	clear: both;display: block;height: 0;width: 100%;float: none !important;content: '';
}
.inner-checkout  .dotdio.blocky label span{
	float: left;
	width: calc(100% - 100px);
	padding-left: 27px;
}
.inner-checkout  .dotdio.blocky label span:before{
	margin: 0;
	position: absolute;
	left: 0;
	top: 1px;
}
.inner-checkout  .dotdio.blocky label img{
	float: right;
	max-width: 100%;
	position: relative;
	top: -2px;
}
.inner-checkout .order-data .shipping{
	padding-bottom: 16px;
	margin-bottom: 16px;
	border-bottom: 1px solid #eee;
}
.inner-checkout .order-data .payment .dotdio{
	-moz-border-radius: 6px ;
	-webkit-border-radius: 6px ;
	border-radius: 6px ;
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
	border: solid 1px #eeeeee;
	background-color: #ffffff;
}
.inner-checkout .order-data .payment .dotdio label{
	padding: 15px 20px;
	border-top: 1px solid #eee;
	margin: 0;
	color: #000;
}
.inner-checkout .order-data .payment .dotdio label:first-child{
	border: none;
}
.inner-checkout .order-data .payment {
	margin-bottom: 17px;
}
.inner-checkout .order-data .coupon{
	padding-bottom: 17px;
	margin-bottom: 17px;
	border-bottom: 1px solid #eee;
}
.inner-checkout .order-data .coupon h3{
	font-size: 14px;
	position: relative;
}
.inner-checkout .order-data .coupon h3 > *{
	display: inline-block;
	vertical-align: middle;
}
.inner-checkout .order-data .coupon h3 img{
	margin-right: 10px;
}
.inner-checkout .order-data .summary table td{
	color: #22272b;
	font-family: 'NunitoSans-SemiBold';
	padding: 17px 0;
	border-bottom: 1px solid #eee;
}
.inner-checkout .order-data .summary table tr:first-child td{
	padding-top: 0;
}
.inner-checkout .order-data .summary table td strong{
	color: #8aa385;
}
.inner-checkout .order-data table td i{
	font-family: 'NunitoSans-Italic';
}
.inner-checkout .order-data .action{
	margin-top: 24px;
}
.inner-checkout .order-data .action .checky label{
	font-size: 14px;
}
.inner-checkout .order-data .action .checky span:after{
	top: 4px;
}
.inner-checkout .order-data .action .checky{
	margin-bottom: 17px;
}
/** INNER PARTNER **/
.inner-partner{
	padding: 40px 0 130px;
}
.inner-partner .intro{
	margin-bottom: 20px;
}
.inner-partner h1{
	color: #22272b;
	font-size: 25px;
	line-height: 130%;
	margin-bottom: 8px;
	font-family: 'Lustria-Regular';
}
.inner-partner .caption{
	float: left;
}
.inner-partner .format-text{
	max-width: 535px;
}
.inner-partner .action{
	float: right;
	position: relative;
	top: 25px;
}
.inner-partner .action > *:first-child{
	margin-right: 10px;
}
.inner-partner .bound{
	position: relative;
}
.inner-partner .store{
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 31%;
}
.inner-partner .store > .layer,
.inner-partner .store > .layer > div,
.inner-partner .store > .layer > div > div{
	height: 100% !important;
}
.inner-partner .store > .layer{
	-moz-border-radius: 6px ;
	-webkit-border-radius: 6px ;
	border-radius: 6px ;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
	border: solid 1px #eeeeee;
	overflow: hidden;
	background: #fff;
	padding: 24px 0;
}
.inner-partner .store > .layer > div{
	padding: 0 24px !important;
}
.inner-partner .store .item{
	padding-top: 16px;
	margin-top: 16px;
	border-top: 1px solid #eee;
	cursor: pointer;
}
.inner-partner .store .item:first-child{
	padding: 0;
	margin: 0;
	border: none;
}
.inner-partner .store .item.hidden{
	display: none;
}
.map-txt h3,
.inner-partner .store .item h3{
	color: #22272b;
	font-size: 20px;
	font-family: 'Lustria-Regular';
	line-height: 130%;
	margin-bottom: 5px;
}
.map-txt h3{
	font-size: 16px;
}
.map-txt h3 > *,
.inner-partner .store .item h3 > *{
	display: inline-block;
	vertical-align: middle;
}
.map-txt h3 b,
.inner-partner .store .item h3 b{
	color: #8aa385;
	font-size: 12px;
	font-family: 'NunitoSans-SemiBold';
	margin-left: 3px;
	position: relative;
	top: 1px;
}
.map-txt .txt,
.inner-partner .store .item .txt{
	font-size: 14px;
	letter-spacing: normal;
	line-height: 160%;
}
.map-txt .txt > *,
.inner-partner .store .item .txt > *{
	margin-top: 8px;
}
.map-txt .txt > *:first-child,
.inner-partner .store .item .txt > *:first-child{
	margin: 0;
}
.inner-partner .map-area{
	float: right;
	width: 69%;
	padding-left: 30px;
}
.inner-partner .map-area .holder{
	position: relative;
	-moz-border-radius: 8px ;
	-webkit-border-radius: 8px ;
	border-radius: 8px ;
	overflow: hidden;
}
.inner-partner .map-area .map-search{
	position: absolute;
	width: 270px;
	left: 24px;
	top: 24px;
	z-index: 2;
}
.inner-partner .map-area .map-search button{
	position: absolute;
	right: 6px;
	top: 8px;
	background: none;
	border: none;
	color: #8aa385;
	cursor: pointer;
	font-size: 18px;
}
/** ORDER TRACKING **/
.inner-tracking-input,
.inner-tracking-result{
	padding-top: 70px;
	padding-bottom: 130px;
}

.inner-tracking-result .table-basic td{
	vertical-align: top;
	line-height: 160%;
}
.inner-tracking-input .layer{
	max-width: 450px;
	margin: 0 auto;
	padding: 32px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	-moz-border-radius: 6px ;
	-webkit-border-radius: 6px ;
	 border-radius: 6px ;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
	border: solid 1px #eeeeee;
	background-color: #ffffff;
}
.inner-tracking-result .tracking-info{
	max-width: 930px;
	margin: 0 auto;
}
.inner-tracking-result .order-detail{
	margin-bottom: 40px;
}
.inner-tracking-result .order-detail .rowflex{
	padding: 0 30px;
}
.inner-tracking-result .order-detail .item{
	flex:45%;
	padding-left: 100px;
}
.inner-tracking-result .order-detail .item:first-child{
	flex: 55%;
	padding: 0;
}
.tracking-info .tracking-data .table-basic thead th,
.tracking-info .tracking-data .table-basic tbody td{
	padding: 15px 20px ;
	letter-spacing: normal;
}
.tracking-info .order-detail h3{
	padding: 0;
	margin: 0 0 15px;
}
.tracking-info .tracking-data .table-basic tbody td:last-child{
	width: 200px;
}
/** INNER ACCOUNT REVIEW **/
.account-review .info h3{
	float: left;
	margin: 0;
}
.account-review .info .dropselect{
	float: right;
	margin: 0;
	position: relative;
	top: -5px;
	width: 190px;
}
.account-review .item{
	padding-bottom: 16px;
	margin-bottom: 16px;
	border-bottom: 1px solid #eee;
}
.account-review .item .product > *{
	display: inline-block;
	vertical-align: middle;
}
.account-review .item .product img{
	max-width: 40px;
}
.account-review .item .product{
	flex: 30%;
}
.account-review .item .product h3{
	max-width: 220px;
	padding-left: 15px;
	font-size: 15px;
}
.account-review .item .product h3 a{
	color: #22272b;
}
.account-review .item .product h3 a:hover{
	color: #8aa385;
}
.account-review .item .feedback{
	flex: 70%;
	padding-left: 50px;
	padding-top: 5px;
}
.detail-product .review .rate-group .meta > *,
.account-review .item .meta > *{
	display: inline-block;
	vertical-align: middle;
	line-height: 100%;
}
.detail-product .review .rate-group .meta span,
.account-review .item .meta span{
	margin: 0 13px;
}
.detail-product .review .rate-group .meta strong,
.account-review .item .meta strong{
	border-radius: 12px;
	background-color: rgba(138, 163, 133, 0.15);
	padding: 5px 13px;
	color: #8aa385;
	font-size: 12px;
	font-family: 'NunitoSans-Bold';
}
.account-review .item .format-text{
	font-size: 16px;
	margin-top: 10px;
}
.account-address .item{
	display: inline-block;
	width: 40%;
	max-width: 330px;
	padding-right: 30px;
	letter-spacing: normal;
	vertical-align: top;
}
.account-address .item h3{
	color: #8aa385;
	font-size: 16px;
	font-family: 'NunitoSans-SemiBold';
	line-height: 130%;
	margin-bottom: 10px;
}
.tracking-info .order-detail .txt,
.acc-order-detail .detail .txt,
.account-address .item p{
	font-size: 16px;
	line-height: 160%;
	margin-bottom: 15px;
	letter-spacing: normal;
}
.account-address .item a{
	color: #8aa385;
	text-decoration: underline;
	font-family: 'NunitoSans-SemiBold';
}
.acc-order-detail .table-basic tbody td:last-child{
	width: 200px;
}
/** INNER PRODUCT **/
.inner-product{
	background: #f9f9f9;
	overflow: hidden;
}
.inner-product .main{
	float: left;
	width: 75%;
	position: relative;
	padding: 40px 70px 130px 0;
}
.inner-product .main:before{
	width: 100vw;
	height: 100%;
	background: #fff;
	z-index: 1;
	content: '';
	display: block;
	position: absolute;
	right: 0;
	top: 0;
}
.inner-product .main > *{
	position: relative;
	z-index: 2;
}
.inner-product .main .page-pagination{
	text-align: right;
}
.inner-product .main .filter{
	margin-bottom: 40px;
}
.inner-product .main .filter .sort{
	float: right;
}
.inner-product .main .filter .sort > form > *,
.inner-product .main .filter .sort > *:not(form){
	display: inline-block;
	vertical-align: middle;
	min-width: 190px;
	margin-left: 10px;
}
.inner-product .main .filter span{
	float: left;
	font-size: 15px;
	position: relative;
	top: 10px;
}
.inner-product .main .filter span strong{
	color: #8aa385;
	font-family: 'NunitoSans-Bold';
}
.inner-product .sidebar{
	float: right;
	width: calc(25% + 50px);
	padding: 40px 0 20px 33px;
	margin-right: -50px;
}
.inner-product .main .rowflex{
	margin: 0 -10px;
	justify-content: normal;
}
.inner-product .main .rowflex > *{
	flex: 25%;
	padding: 0 10px;
	margin: 0 0 40px;
	max-width: 219px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.product-item{
	text-align: center;
}
.product-item img{
	width: 100%;
	vertical-align: top;
}
.product-item .img-box{
	position: relative;
	text-align: center;
}
.product-item .img-box:before{
	position: absolute;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	content: '';
	display: block;
	background-color: rgba(148, 161, 151, 0.4);
	opacity: 0;
	visibility: hidden;
	-webkit-transition:all 0.2s ease-in;
	-moz-transition:all 0.2s ease-in;
	-o-transition:all 0.2s ease-in;
	-ms-transition:all 0.2s ease-in;
	transition:all 0.2s ease-in;
}
.product-item:hover .img-box:before{
	opacity: 1;
	visibility: visible;
}
.inner-home .flash-sale .disc,
.product-item .disc{
	position: absolute;
	left: 0;
	top: 0;
	display: inline-block;
	height: 35px;
	padding: 0 13px 0 10px;
	-moz-border-radius: 0 25px 25px 0  ;
	-webkit-border-radius: 0 25px 25px 0  ;
	border-radius: 0 25px 25px 0  ;
	background: #8aa385;
	line-height: 35px;
	color: #fff;
	font-size: 14px;
	text-transform: uppercase;
}
.product-item .action{
	position: absolute;
	left: 0;
	bottom: 15px;
	width: 100%;
	opacity: 0;
	visibility: hidden;
	-webkit-transition:all 0.2s ease-in;
	-moz-transition:all 0.2s ease-in;
	-o-transition:all 0.2s ease-in;
	-ms-transition:all 0.2s ease-in;
	transition:all 0.2s ease-in;
}
.product-item:hover .action{
	opacity: 1;
	visibility: visible;
	bottom: 25px;
}
.product-item .action{
	position: absolute;
	left: 0;
	bottom: 15px;
	width: 100%;
	opacity: 0;
	visibility: hidden;
	-webkit-transition:all 0.2s ease-in;
	-moz-transition:all 0.2s ease-in;
	-o-transition:all 0.2s ease-in;
	-ms-transition:all 0.2s ease-in;
	transition:all 0.2s ease-in;
}
.product-item:hover .action{
	opacity: 1;
	visibility: visible;
	bottom: 25px;
}
.product-item .action a{
	display: inline-block;
	vertical-align: middle;
	width: 45px;
	height: 45px;
	margin: 0 7px;
	line-height: 45px;
	box-shadow: 0 2px 10px 0 rgba(0, 0, 0, 0.2);
	background-color: #8aa385;
	-moz-border-radius: 50% ;
	-webkit-border-radius: 50% ;
	border-radius: 50% ;
}
.product-item .action a:hover{
	background-color: #637b5e;
}
.product-item .action a i{
	display: inline-block;
	position: relative;
}
.product-item .action a.visit i{
	width: 23px;
	height: 14px;
	background: url(../img/icon/item-eye.svg) no-repeat;
	top: 1px;
}
.product-item .action a.add-to-cart i{
	width: 18px;
	height: 19px;
	background: url(../img/icon/item-shopping-cart.svg) no-repeat;
	top: 4px;
}
.product-item .action a.add-to-wish i{
	width: 23px;
	height: 23px;
	background: url(../img/icon/item-like.svg) no-repeat;
	top: 7px;
}
.product-item .action a.add-to-wish.onlist i{
	background: url(../img/icon/item-like-fill.svg) no-repeat;
}
.detail-product .info .gallery .add-to-wish.fetching,
.detail-product .info .util .add-to-wish.fetching,
.product-item .action a.fetching{
	position: relative;
	color: rgba(0,0,0,0);
	background: #8aa385;
}
.detail-product .info .gallery .add-to-wish.fetching > *,
.detail-product .info .util .add-to-wish.fetching > *,
.product-item .action a.fetching > *{
	opacity: 0;
}
.detail-product .info .gallery .add-to-wish.fetching:before,
.detail-product .info .util .add-to-wish.fetching:before,
.product-item .action a.fetching:before{
	display: block;
	position: absolute;
	left: calc(50% - 10px);
	top: calc(50% - 10px);
	content: '';
	width: 20px;
	height: 20px;
	border-radius: 50%;
	border: 2px solid #fff;
	border-color: #fff transparent #fff transparent;
	animation: loading-dual-ring 1.2s linear infinite;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
@keyframes loading-dual-ring{
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
.inner-product .product-item .action a{
	width: 40px;
	height: 40px;
	margin: 0 2px;
	line-height: 40px;
}
.inner-product .product-item .action a.visit i{
	top: 2px;
}
.inner-product .product-item .action a.add-to-cart i{
	top: 5px;
}
.inner-product .product-item .action a.add-to-wish i{
	top: 8px;
}

.inner-home .flash-sale .cat,
.product-item .cat{
	padding-top: 10px;
}
.section-blog .item strong,
.section-blog .item strong a,
.inner-home .flash-sale .cat a,
.product-item .cat a{
	color: #8aa385;
	font-size: 12px;
	font-family: 'NunitoSans-SemiBold';
}
.section-blog .item strong a:hover,
.inner-home .flash-sale .cat a:hover,
.product-item .cat a:hover{
	text-decoration: underline;
}
.section-blog .item h3,
.inner-home .flash-sale .item h3,
.product-item h2{
	color: #22262a;
	line-height: 130%;
	font-size: 18px;
	font-family: 'Lustria-Regular';
	margin: 10px 0 8px;
}
.product-item h2{
	font-size: 16px;
}
.section-blog .item h3 a,
.inner-home .flash-sale .item h3 a,
.product-item h2 a{
	color: #22262a
}
.section-blog .item h3 a:hover,
.inner-home .flash-sale .item h3 a:hover,
.product-item h2 a:hover{
	color: #8aa385;
}
.inner-home .flash-sale .item .pricing span,
.product-item .sale{
	display: block;
	font-family: 'NunitoSans-Bold';
	font-size: 12px;
	color: rgba(34, 38, 42, 0.3);
	text-decoration: line-through;
	display: inline-block;
	margin-top: 10px;
}
.inner-home .flash-sale .item .pricing strong,
.product-item .price{
	font-family: 'NunitoSans-Bold';
	display: block;
	color: #89a284;
	font-size: 16px;
	margin-top: 8px;
}
/** PRODUCT DETAIL **/
.detail-product{
	padding-top: 40px;
	padding-bottom: 130px;
}
.detail-product img{
	vertical-align: top;
}
.detail-product .info{
	margin-bottom: 70px;
}
.detail-product .info .gallery img{
	width: 100%;
}
.detail-product .info .gallery{
	float: left;
	width: 40%;
}
.detail-product .info .gallery .thumb{
	margin-top: 20px;
}
.detail-product .info .gallery .thumb .item span{
	border: 2px solid #fff;
	display: block;
	padding: 5px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	cursor: pointer;
}
.detail-product .info .gallery .thumb .item.slick-current span{
	border-color: #8aa385;
}
.detail-product .info .caption{
	float: left;
	width: 60%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 30px 0 0 30px;
}
.detail-product .info .cat{
	margin-bottom: 5px;
}
.detail-product .info .cat a{
	color: #8aa385;
	font-family: 'NunitoSans-SemiBold';
}
.detail-product .info .cat a:hover{
	text-decoration: underline;
}
.detail-product .info .the-title{
	text-align: left;
	margin-bottom: 5px;
}
.detail-product .info .nominal,
.detail-product .info  .meta{
	letter-spacing: normal;
	margin-bottom: 16px;
}
.detail-product .info .util > *,
.detail-product .info  .meta a > *,
.detail-product .info  .meta > *{
	display: inline-block;
	vertical-align: middle;
}
.detail-product .info .meta span{
	font-size: 16px;
	margin: 0 13px 0 12px;
}
.detail-product .info .meta svg path{
	fill: #8aa385;
}
.detail-product .info .meta a{
	color: #8aa385;
}
.detail-product .info .meta a b{
	text-decoration: underline;
	margin-left: 8px;
	font-family: 'NunitoSans-SemiBold';
}
.detail-product .info .nominal .woocommerce-Price-currencySymbol{
	color: #22262a;
	font-size: 12px;
	font-family: 'NunitoSans-SemiBold';
	position: relative;
	top: -13px;
	margin-right: 8px;
}
.detail-product .info .nominal .woocommerce-Price-amount{
	color: #89a284;
	font-size: 28px;
	font-family: 'NunitoSans-Bold';
}
.detail-product .info .nominal .discounted .woocommerce-Price-amount{
	color: rgba(34, 38, 42, 0.5);
	font-size: 18px;
	text-decoration: line-through;
	display: inline-block;
	margin-left: 10px;
	position: relative;
	top: -1px;
}
.detail-product .info .nominal .discounted .woocommerce-Price-amount .woocommerce-Price-currencySymbol{
	display: none;
}
.detail-product .info .layer{
	margin-top: 25px;
	-moz-border-radius: 4px ;
	-webkit-border-radius: 4px ;
	 border-radius: 4px ;
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
	border: solid 1px #eeeeee;
	background-color: #ffffff;
	padding: 25px;
}
.detail-product .info .util{
	padding-bottom: 15px;
	margin-bottom: 15px;
	border-bottom: 1px solid #eee;
}
.detail-product .info .util .button{
	margin: 0 12px;
}
.detail-product .info .gallery .add-to-wish,
.detail-product .info .util .add-to-wish{
	width: 45px;
	height: 45px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	border: 1px solid #8aa385;
	-moz-border-radius: 50% ;
	-webkit-border-radius: 50% ;
	border-radius: 50% ;
	text-align: center;
	line-height: 50px;
}
.detail-product .info .gallery .add-to-wish.onlist,
.detail-product .info .util .add-to-wish.onlist,
.detail-product .info .gallery .add-to-wish:hover,
.detail-product .info .util .add-to-wish:hover{
	background: #8aa385;
}
.detail-product .info .gallery .add-to-wish svg,
.detail-product .info .util .add-to-wish svg{
	display: inline-block;
	width: 17px;
	height: 15px;
}
.detail-product .info .gallery .add-to-wish svg path,
.detail-product .info .util .add-to-wish svg path{
	fill: none ;
	stroke: #8aa385;
}
.detail-product .info .gallery .add-to-wish.onlist svg path,
.detail-product .info .gallery .add-to-wish:hover svg path,
.detail-product .info .util .add-to-wish.onlist svg path,
.detail-product .info .util .add-to-wish:hover svg path{
	stroke: #fff;
	fill:#fff;
}
.detail-product .info table{
	width: 100%;
}
.detail-product .info table td{
	width: 85%;
	padding: 10px 0 0 15px;
}
.detail-product .info table td:first-child{
	width: 15%;
	color: #22262a;
	font-family: 'NunitoSans-SemiBold';
	padding-left: 0;
}
.detail-product .info table td a,
.detail-product .info table td span{
	color: #89a284;
	font-family: 'NunitoSans-SemiBold';
}
.detail-product .info table td a:hover{
	text-decoration: underline;
}
.detail-product .desc{
	padding: 40px 0;
	background: #f9f9f9;
	margin-bottom: 70px;
}
.detail-product .desc .tab-head{
	border-bottom: 1px solid #eee;
	margin-bottom: 25px;
}
.detail-product .desc .tab-head a{
	text-transform: uppercase;
	font-family: 'NunitoSans-SemiBold';
	position: relative;
	bottom: -1px;
	padding-bottom: 16px;
	color: #22262a;
}
.detail-product .desc .tab-head a.active,
.detail-product .desc .tab-head a:hover{
	color: #8aa385;
}
.detail-product .desc .tab-item .rowflex{
	align-items: center;
}
.detail-product .desc .tab-item.has-video .format-text{
	padding-right: 35px;
}
.detail-product .review{
	margin-bottom: 70px;
}
.detail-product .review .rev-head{
	margin-bottom: 32px;
}
.detail-product .review .rev-head .rev-nav{
	position: relative;
	top: 5px;
}
.detail-product .review .rev-head .rev-nav a{
	float: right;
}
.detail-product .review .rev-head .rev-nav form{
	float: left;
	width: 175px;
}
.detail-product .review .rev-head .line-title,
.detail-product .review .rate-result{
	flex: 25%;
	padding-right: 35px;
}
.detail-product .review .rev-head .line-title{
	margin: 0;
}
.detail-product .review .rate-result .item{
	margin-top: 15px;
}
.detail-product .review .rate-result .item:first-child{
	margin: 0;
}
.detail-product .review .rate-result .item > *{
	display: inline-block;
	vertical-align: middle;
	text-align: left;
}
.detail-product .review .rate-result .item .bar{
	margin-left: 10px;
}
.detail-product .review .rate-result .item .bar span{
	display: inline-block;
	vertical-align: middle;
	width: 120px;
	height: 15px;
	background: #eee;
	position: relative;
}
.detail-product .review .rate-result .item .bar span b{
	height: 100%;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	background: #8aa385;
}
.detail-product .review .rate-result .item .bar strong{
	color: #22272b;
	font-size: 16px;
	font-family: 'Lustria-Regular';
	display: inline-block;
	vertical-align: middle;
	margin-left: 10px;
}
.detail-product .review .rev-head .rev-nav,
.detail-product .review .rate-group{
	flex: 75%;
}
.inner-account .account-cred .layer,
.detail-product .review .layer{
	-moz-border-radius: 4px ;
	-webkit-border-radius: 4px ;
	border-radius: 4px ;
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
	border: solid 1px #eeeeee;
	background-color: #ffffff;
	padding: 25px 25px 35px;
}
.detail-product .review .rate-group .wrap{
	margin-bottom: 30px;
	letter-spacing: normal;
}
.detail-product .review .rate-group .item{
	padding-bottom: 16px;
	margin-bottom: 16px;
	border-bottom: 1px solid #eee;
}
.detail-product .review .rate-group .userinfo > *{
	display: inline-block;
	vertical-align: middle;
}
.detail-product .review .rate-group figure{
	width: 55px;
	margin-right: 15px;
}
.detail-product .review .rate-group figure img{
	width: 100%;
	vertical-align: top;
	-moz-border-radius: 50% ;
	-webkit-border-radius: 50% ;
	border-radius: 50% ;
}
.detail-product .review .rate-group .userinfo h3{
	font-size: 16px;
	color: #22272b;
	line-height: 130%;
	font-family: 'NunitoSans-SemiBold';
	margin-bottom: 3px;
}
.detail-product .review .rate-group .format-text,
.detail-product .review .rate-group .userinfo span{
	font-size: 16px;
}
.detail-product .review .rate-group .meta {
	margin: 12px 0;
}
.related-product .rowflex{
	margin: 0 -15px;
}
.related-product .rowflex .product-item{
	padding: 0 15px;
	max-width: 25%;
}
.related-product .product-item h2{
	font-size: 18px;
}
/** POPUP REVIEW **/
.popup-order,
.popup-review {
	overflow-y: scroll;
	display: block;
	padding: 100px 0;
}
.popup-order .layer,
.popup-review .layer{
	max-width: 880px;
	margin: 0 auto;
}
.popup-order .layer{
	max-width: 580px;
}
.popup-order .layer .caption,
.popup-review .caption{
	margin-bottom: 30px;
}
.popup-order h2,
.popup-review h2{
	font-size: 25px;
	color: #22272b;
	line-height: 130%;
	margin-bottom: 5px;
	font-family: 'Lustria-Regular';
}
.popup-review .star-rate{
	position: relative;
	top: 7px;
}
.popup-review .form-basic textarea{
	min-height: 125px;
}
.popup-review .form-basic form > *{
	margin-top: 22px;
}
.popup-review .form-basic form > *:first-child{
	margin-top: 0;
}
.popup-review .action{
	text-align: right;
}
.popup-review .form-basic .fgroup > label{
	font-size: 16px;
	letter-spacing: normal;
	margin-bottom: 10px;
}
/** HOMEPAGE **/
.inner-home .slidenav{
	z-index: 2;
}
.inner-home .featured{
	padding: 70px 0 90px;
}
.inner-home .featured .detail{
	margin-bottom: 60px;
}
.inner-home .featured .detail .rowflex{
	align-items: center;
}
.inner-home .featured .detail .caption{
	padding-right: 75px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.inner-home .featured .detail .format-text{
	margin-bottom: 40px;
}
.inner-home .featured  img{
	vertical-align: top;
}
.inner-home .featured .info .rowflex{
	margin: 0 -16px;
}
.inner-home .featured .info .item{
	padding: 0 16px;
}
.inner-home .featured .info .caption{
	font-size: 18px;
	line-height: 160%;
	position: relative;
}
.inner-home .featured .info .caption:before{
	display: block;
	width: 65px;
	height: 12px;
	background: url(../img/icon/wave.svg) no-repeat;
	content: '';
	margin-bottom: 20px;
}
.inner-home .store{
	position: relative;
	padding-bottom: 200px;
}
.inner-home .store img{
	max-width: 350px;
	vertical-align: top;
}
.inner-home .testimonial {
	background-image: linear-gradient(to bottom, #f9f9f9, rgba(238, 238, 238, 0));
	padding: 50px 0 70px;
}
.inner-home .testimonial .pusher{
	max-width: 1000px;
	margin: 0 auto;
	text-align: center;
}
.inner-home .testimonial .txt{
	display: inline-block;
	vertical-align: middle;
	max-width: 690px;
	line-height: 180%;
	color: #22272b;
	font-size: 30px;
	font-family: 'Lustria-Regular';
	position: relative;
	padding-top: 20px;
}
.inner-home .testimonial .txt:before{
	content: '';
	display: block;
	position: absolute;
	left: -35px;
	top: 0;
	width: 60px;
	height: 53px;
	background: url(../img/icon/quote.png) no-repeat;
}
.inner-home .testimonial strong{
	display: block;
	text-align: center;
	color: #8aa385;
	margin-top: 20px;
	font-family: 'NunitoSans-ExtraBold';
	font-style: italic;
	text-transform: uppercase;
}
.inner-home .testimonial .from {
	margin-top: 70px;
}
.inner-home .testimonial .from .item{
	padding: 0 15px 20px;
}
.inner-home .testimonial .from .holder{
	padding: 30px 20px;
	border-radius: 6px;
	cursor: pointer;
}
.inner-home .testimonial .from .slick-current .holder{
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
	background-color: #ffffff;
}
.inner-home .testimonial .from  .holder img{
	vertical-align: top;
	width: 100%;
}
.inner-home .flash-sale{
	padding: 30px 0 25px;
	background: #8aa385;
}
.inner-home .flash-head{
	text-align: center;
	margin-bottom: 30px;
}
.inner-home .flash-head > *{
	display: inline-block;
	vertical-align: middle;
}
.inner-home .flash-head h2{
	position: relative;
	color: #fff;
	font-size: 36px;
	font-family: 'Lustria-Regular';
	margin-right: 30px;
}
.inner-home .flash-head h2:before{
	display: inline-block;
	width: 27px;
	height: 29px;
	background: url(../img/icon/countdown.png) no-repeat;
	content: '';
	margin-right: 10px;
}
.inner-home .flash-head .fcount span{
	display: inline-block;
	vertical-align: middle;
	font-size: 16px;
	color: #fff;
	font-family: 'NunitoSans-Bold';
}
.inner-home .flash-head .fcount span strong{
	display: inline-block;
	vertical-align: middle;
	border-radius: 3px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
	background-color: #ecc668;
	padding: 8px 9px;
}
.inner-home .flash-sale .slide{
	position: relative;
}
.inner-home .flash-sale .slide .slick-carousel{
	position: relative;
	z-index: 2;
}
.inner-home .flash-sale .item{
	padding: 0 8px;
}
.inner-home .flash-sale .layer{
	border-radius: 4px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
	background-color: #ffffff;
	padding: 16px 19px 65px;
	text-align: center;
	overflow: hidden;
	position: relative;
}
.inner-home .flash-sale img{
	width: 100%;
	vertical-align: top;
}
.inner-home .flash-sale .disc{
	background: #ecc668;
	padding: 0 18px 0 15px;
	height: 39px;
	line-height: 39px;
}
.inner-home .flash-sale .cat a{
	text-transform: uppercase;
	font-size: 10px;
}
.inner-home .flash-sale .item h3{
	font-size: 14px;
}
.inner-home .flash-sale .item .pricing strong{
	margin: 8px 0 0;
	font-size: 14px;
}
.inner-home .flash-sale .item .pricing span{
	font-size: 10px;
	margin: 8px 0 0;
}
.inner-home .flash-sale .stock-status{
	font-size: 12px;
	font-family: 'NunitoSans-SemiBold';
	color: rgba(34, 38, 42, 0.7);
	letter-spacing: normal;
	text-align: left;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	padding: 0 19px 15px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
.inner-home .flash-sale .stock-status span{
	display: block;
	margin: 0 0 8px;
	height: 4px;
	background:  #eeeeee;
	-moz-border-radius: 2px ;
	-webkit-border-radius: 2px ;
	border-radius: 2px ;
	position: relative;
	overflow: hidden;
}
.inner-home .flash-sale .stock-status span b{
	height: 100%;
	display: block;
	position: absolute;
	top: 0;
	left: 0;
	width: 70%;
	background: #48c335;
	-moz-border-radius: 2px ;
	-webkit-border-radius: 2px ;
	border-radius: 2px ;
}
.inner-home .flash-sale .stock-status.hurry span b{
	width: 95%;
	background: #c33535;
}
.inner-home .flash-sale .rate{
	font-size: 12px;
}
.inner-home .flash-sale .slidenav{
	position: absolute;
	left: -60px;
	top: 50%;
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	width: calc( 100% + 120px );
	z-index: 1;
}
.inner-home .flash-sale .slidenav a{
	width: 40px;
	height: 40px;
	line-height: 43px;
	-moz-border-radius: 50% ;
	-webkit-border-radius: 50% ;
	border-radius: 50% ;
	color: #8aa385;
	background: #ecc668;
	float: right;
	text-align: center;
	font-size: 30px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0  0 0 3px;
	-webkit-transition:opacity 0.2s ease-in;
	-moz-transition:opacity 0.2s ease-in;
	-o-transition:opacity 0.2s ease-in;
	-ms-transition:opacity 0.2s ease-in;
	transition:opacity 0.2s ease-in;
	opacity: 1;
}
.inner-home .flash-sale .slidenav a:hover{
	opacity: .7;
}
.inner-home .flash-sale .slidenav a:first-child{
	float: left;
	padding: 0 3px 0 0;
}
.inner-home .best-seller{
	padding: 70px 0 ;
}
.inner-home .best-seller .section-title .pusher{
	max-width: 780px;
}
.inner-home .best-seller .rowflex{
	margin: 0 -15px 50px;
}
.inner-home .best-seller .rowflex > *{
	padding: 0 15px;
}
.section-instagram{
	background: #8aa385;
	padding: 40px 0;
}
.section-instagram .wrap{
	margin-bottom: 35px;
}
.section-instagram .wrap .item{
	display: inline-block;
	vertical-align: middle;
	width: 16.6666666666666%
}
.section-instagram .wrap a img{
	vertical-align: top;
	width: 100%;
}
.section-blog{
	padding: 70px 0 150px;
}
.section-blog .slick-carousel{
	position: relative;
	z-index: 2;
}
.section-blog .slide{
	margin-bottom: 70px;
}
.section-blog figure{
	width: 80px;
	float: left;
}
.section-blog figure img{
	width: 100%;
	vertical-align: top;
}
.section-blog .caption{
	width: calc(100% - 80px);
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	float: left;
	padding-left: 25px;
}
.section-blog .item{
	padding: 0 16px;
}
.section-blog .item strong{
	text-transform: uppercase;
	letter-spacing: normal;
}
.section-blog .item h3{
	font-size: 20px;
	margin: 3px 0 8px;
	line-height: 150%;
}
.section-blog .item .txt{
	font-size: 14px;
	line-height: 160%;
	margin-bottom: 10px;
}
.acc-order-detail h3{
	padding: 0;
	margin: 0 0 15px;
}
.acc-order-detail .status p{
	float: left;
	font-size: 15px;
	position: relative;
	top: 10px;
}
.popup-order .format-text strong,
.acc-order-detail .status p strong{
	font-family: 'NunitoSans-Bold';
	color: #8aa385;
}
.acc-order-detail .status p small{
	color: #8aa385;
}
.acc-order-detail .status a{
	float: right;
}
.acc-order-detail .detail{
	margin: 15px 0 30px;
	padding: 30px 0;
	border-top: 2px solid #eee;
	border-bottom: 2px solid #eee;
}
.acc-order-detail .detail .item{
	flex: 55%;
}
.acc-order-detail .detail .shipping{
	padding-left: 80px;
	flex: 45%;
}
.tracking-info .order-detail table,
.acc-order-detail .detail table{
	width: 100%;
	font-size: 16px;
}
.tracking-info .order-detail table th,
.acc-order-detail .detail th{
	border-bottom: 2px solid #eee;
	padding-bottom: 10px;
	text-transform: uppercase;
	color: #8aa385;
	font-family: 'NunitoSans-Bold';
}
.tracking-info .order-detail table td,
.tracking-info .order-detail table th,
.acc-order-detail .detail th,
.acc-order-detail .detail td{
	text-align: right;
	width: 30%;
}
.tracking-info .order-detail table td:first-child,
.tracking-info .order-detail table th:first-child,
.acc-order-detail .detail th:first-child,
.acc-order-detail .detail table td:first-child{
	text-align: left;
	width: 70%;
}
.tracking-info .order-detail table tbody td,
.acc-order-detail .detail tbody td{
	padding-bottom: 13px;
	color: #22272b;
	font-family: 'NunitoSans-SemiBold';
}
.tracking-info .order-detail table tbody td:first-child,
.acc-order-detail .detail tbody td:first-child{
	color: #616767;
	font-family: 'NunitoSans-Regular';
}
.tracking-info .order-detail table tbody tr:first-child td,
.acc-order-detail .detail tbody tr:first-child td{
	padding-top: 15px;
}
.tracking-info .order-detail table tbody td b,
.acc-order-detail .detail tbody td b{
	font-family: 'NunitoSans-Bold';
}
.tracking-info .order-detail table tfoot td,
.acc-order-detail .detail tfoot td{
	color: #22272b;
	font-family: 'NunitoSans-SemiBold';
	padding-top: 11px;
}
.tracking-info .order-detail table tfoot tr:first-child td,
.acc-order-detail .detail tfoot tr:first-child td{
	border-top: 1px solid #eee;
	padding-top: 15px;
}
.tracking-info .order-detail table tfoot i,
.acc-order-detail .detail tfoot i{
	font-style: italic;
}
.tracking-info .order-detail table tfoot td strong,
.tracking-info .order-detail table tfoot td b,
.acc-order-detail .detail tfoot td b,
.acc-order-detail .detail tfoot td strong{
	font-family: 'NunitoSans-Bold';
	color: #8aa385;
}
.acc-order .order-not-found{
	text-align: center;
	padding: 40px 0;
}
.acc-order .order-not-found svg,
.acc-order .order-not-found img{
	max-width: 180px;
	vertical-align: top;
}
/** INNER SKIN ADVISOR **/
.inner-skin-advisor{
	padding: 70px 0 130px;
}
.inner-skin-advisor .pusher{
	max-width: 960px;
	margin: 0 auto;
}
.inner-skin-advisor .rowflex{
	align-items: center;
}
.inner-skin-advisor figure img{
	display: inline-block;
	vertical-align: middle;
	margin-left: 40px;
}
.inner-skin-advisor figure img:first-child{
	margin: 0;
}
.inner-skin-advisor .format-text{
	margin-bottom: 35px;
}
/** INNER RETINOL **/
.inner-retinol .banner img{
	width: 100%;
	vertical-align: top;
}
.inner-retinol .video{
	padding: 70px 0 30px;
	position: relative;
}
.inner-retinol .video .wrapper{
	position: relative;
	z-index: 2;
}
.inner-retinol .video .ornament{
	background: #fff8f3;
}
.inner-retinol .video .pusher{
	max-width: 590px;
	margin: 0 auto;
	width: 100%;
}
.inner-retinol .video figure{
	display: block;
	position: relative;
}
.inner-retinol .video figure:after{
	display: block;
	position: relative;
	-moz-border-radius: 0 0 9px 9px ;
	-webkit-border-radius: 0 0 9px 9px ;
	border-radius: 0 0 9px 9px ;
	height: 25px;
	width: 68%;
	margin: 0 auto;
	content: '';
	background: rgb(230,162,178); /* Old browsers */
	background: -moz-linear-gradient(left,  rgba(230,162,178,1) 0%, rgba(222,174,164,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(left,  rgba(230,162,178,1) 0%,rgba(222,174,164,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to right,  rgba(230,162,178,1) 0%,rgba(222,174,164,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6a2b2', endColorstr='#deaea4',GradientType=1 ); /* IE6-9 */
}
.inner-retinol .video figure b i{
	width: 70px;
	height: 70px;
	background: #e6a2b3;
	line-height: 70px;
	font-size: 36px;
}
.inner-retinol .copy {
	padding: 100px 0 70px;
	background: rgb(255,249,244); /* Old browsers */
	background: -moz-linear-gradient(top,  rgba(255,249,244,1) 0%, rgba(255,255,255,1) 45%, rgba(255,255,255,1) 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  rgba(255,249,244,1) 0%,rgba(255,255,255,1) 45%,rgba(255,255,255,1) 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  rgba(255,249,244,1) 0%,rgba(255,255,255,1) 45%,rgba(255,255,255,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#fff9f4', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */
}
.inner-retinol .feature .rowflex,
.inner-retinol .copy .rowflex{
	align-items: center;
}
.inner-retinol .copy figure{
	text-align: center;
}
.inner-retinol .copy figure img{
	vertical-align: top;
}
.inner-retinol .copy .format-text{
	padding-right: 30px;
	margin-bottom: 35px;
}
.inner-retinol .feature{
	position: relative;
	padding-bottom: 300px;
}
.inner-retinol .feature:after{
	display: block;
	position: absolute;
	left: 0;
	bottom: 0;
	width: 100%;
	height: calc(50% + 150px);
	background: #fff6ee;
	content: '';
	z-index: 1;
}
.inner-retinol .feature .layer{
	-moz-border-radius: 4px ;
	-webkit-border-radius: 4px ;
	border-radius: 4px ;
	box-shadow: 0 2px 6px 0 rgba(222, 174, 164, 0.1);
	border: solid 1px #eeeeee;
	background-color: #ffffff;
	padding: 33px;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	max-width: 1060px;
	margin: 0 auto;
	z-index: 2;
	position: relative;
}
.inner-retinol .feature .rowflex{
	margin: 0 -16px;
}
.inner-retinol .feature .rowflex > *{
	flex: 50%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 0 16px;
}
.inner-retinol .feature .item{
	padding-top: 32px;
	margin-top: 32px;
	border-top: 1px solid #eee;
}
.inner-retinol .feature .item:first-child{
	padding: 0;
	margin: 0;
	border: none;
}
.inner-retinol .feature figure{
	-moz-border-radius: 6px ;
	-webkit-border-radius: 6px ;
	border-radius: 6px ;
	overflow: hidden;
}
.inner-retinol .enjoy img,
.inner-retinol .feature figure img{
	width: 100%;
	vertical-align: top;
	-moz-border-radius: 8px ;
	-webkit-border-radius: 8px ;
	border-radius: 8px ;
}
.inner-retinol .enjoy{
	position: relative;
	z-index: 3;
	top: -220px;
	margin-bottom: -80px;
}
.inner-retinol .enjoy .pusher{
	max-width: 585px;
	text-align: center;
	margin: 0 auto;
	letter-spacing: normal;
}
.inner-retinol .enjoy strong{
	display: block;
	color: #e6a2b3;
	font-size: 15px;
	text-transform: uppercase;
	font-family: 'NunitoSans-Bold';
	margin: 40px auto 15px;
}
.inner-retinol .enjoy h2{
	max-width: 430px;
	margin: 0 auto 35px;
	line-height: 140%;
	font-size: 30px;
	font-family: 'Lustria-Regular';
	color: #22272b;
}
/** INNER NEW PASSWORD **/
.inner-new-password{
	padding: 150px 0 200px;
}
.inner-new-password .pusher{
	max-width: 415px;
	margin: 0 auto;
}
.inner-new-password .layer{
	-moz-border-radius: 6px ;
	-webkit-border-radius: 6px ;
	border-radius: 6px ;
	box-shadow: 0 2px 6px 0 rgba(0, 0, 0, 0.1);
	border: solid 1px #eeeeee;
	background-color: #ffffff;
	overflow: hidden;
	padding: 32px;
}
.inner-new-password  .form-basic{
	margin-top: 20px;
}
.inner-checkout .receipt-page{
	padding: 100px 0 ;
}
.inner-checkout .receipt-page *{
	color: #fff !important;
}
/** PAGE JOIN AVOSTORE **/
.inner-join .fgroup .rowflex{
	margin: 0 -6px;
}
.inner-join .fgroup .rowflex > *{
	padding: 0 6px;
}
.inner-join form > .rowflex{
	margin: 0 -9px;
}
.inner-join form > .rowflex > *{
	padding: 0 9px;
}
.inner-join .layer{
	max-width: 580px;
	margin: 40px auto 0;
	background: #fff;
	border-radius: 6px;
	box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.1);
	border: solid 1px #eeeeee;
	padding: 32px 32px 35px;
}
/** POPUP SEARCH **/
.popup-search .holder{
	padding: 0 30px;
	text-align: center;
}
.popup-search .holder img{
	max-width: 190px;
}
.popup-search form{
	margin: 0 auto;
	position: relative;
	min-width: 580px;
	max-width: 100%;
	margin-top: 40px;
}
.popup-search form button{
	position: absolute;
	background: none;
	border: none;
	cursor: pointer;
	z-index: 2;
	color: #8aa385;
	font-size: 20px;
	top: 50%;
	-ms-transform: translateY(-50%);
	-webkit-transform: translateY(-50%);
	transform: translateY(-50%);
	right: 20px;
}
.popup-search input{
	background: #fff;
	height: 70px;
	padding: 0 60px 0 30px;
	font-family: 'Lustria-Regular';
	color: #7f7f7f;
	font-size: 20px;
	-moz-border-radius: 2px ;
	-webkit-border-radius: 2px ;
	border-radius: 2px ;
	border: none;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	display: block;
	text-align: left;
}
/** INNER LADY BOSS **/
.inner-lady-boss .slide{
	margin-top: 40px;
}
.inner-lady-boss .main{
	min-height: 850px;
}
/** POPUP ORDER **/
.popup-order .amount,
.popup-order .transfer,
.popup-order .countdown{
	text-align: center;
}
/* MEDIA QUERY FOR WEBKIT BASED BROWSER **/
@media screen and (-webkit-min-device-pixel-ratio:0) {
  
}

/* MEDIA QUERY FOR GECKO BASED BROWSER **/
@-moz-document url-prefix(){
	.inner-checkout .order-data .action .checky span:after{
		top: 3px;
	}
}