#side-sortables .cmb2-wrap>.cmb-field-list>.cmb-row,
.inner-sidebar .cmb2-wrap>.cmb-field-list>.cmb-row{
        padding: 10px 0 15px;
        margin: 0;
}
#side-sortables .cmb-th label, .inner-sidebar .cmb-th label{
        margin: 0 0 4px;
        padding: 0;
        font-weight: 400;
        font-size: 13px;
        color: #555d66;
}
#side-sortables .cmb-th, .inner-sidebar .cmb-th{
        padding: 0 !important;
        margin: 0 !important;
}
#side-sortables .cmb-td > *{
        display: block;
        width: 100%;
        margin: 0;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
}

.post-type-shop_order .refund-actions .button.button-primary.do-api-refund{
        display: none;
}
.order-status.status-on-delivery{
        background: #FF9AA2;
        color: #95000c;
}
.order-status.status-packing{
        background: #3498db;
        color:#15537b;
}
.post-type-shop_coupon #titlewrap input#title,
.post-type-shop_coupon td.coupon_code strong{
        text-transform: uppercase !important;
}
.post-type-shop_order .wrap .subsubsub{
        display: flex;
        align-items: center;
}
.post-type-shop_order .wrap .subsubsub li{
        color: rgba(0,0,0,0);
        display: inline-flex;
}
.post-type-shop_order .wrap .subsubsub li a{
        display: block;
        padding-left: 9px;
        margin-left: 6px;
        position: relative;
}
.post-type-shop_order .wrap .subsubsub li a:before{
        display: block;
        position: absolute;
        left: 0;
        top: 8px;
        width: 1px;
        height: 15px;
        background: #666;
        content: '';
}
.post-type-shop_order .wrap .subsubsub li:first-child a{
        padding: 0;
        margin: 0;
}
.post-type-product #poststuff #_tax_status option:first-child + option,
.post-type-shop_order .wrap .subsubsub li:first-child a:before{
        display: none;
}
.post-type-shop_order .wrap .subsubsub .wc-pending{
        order: 1;
}
.post-type-shop_order .wrap .subsubsub .wc-on-hold{
        order: 2;
}
.post-type-shop_order .wrap .subsubsub .wc-processing{
        order: 3;
}
.post-type-shop_order .wrap .subsubsub .wc-packing{
        order: 4;
}
.post-type-shop_order .wrap .subsubsub .wc-on-delivery{
        order: 5;
}
.post-type-shop_order .wrap .subsubsub .wc-completed{
        order: 6;
}
.post-type-shop_order .wrap .subsubsub .wc-cancelled{
        order: 7;
}
.post-type-shop_order .wrap .subsubsub .wc-refunded{
        order: 8;
}
.post-type-shop_order .wrap .subsubsub .wc-failed{
        order: 9;
}
.select2-container{
        width: 300px !important;
}